[2016-09-28 07:02] ihhub opened #1 "Add examples with GUI on different OS"
It is image processing library so people would like to see examples with GUI. Need simple resizing window able to draw an image [gray-scale and/or color] and simple drawings for following systems:
- Windows (Win32 Api is preferable)
- Linux
- Android
- iOS
- ~~QT framework (OS independent)~~

Example code must be as easy as possible and at the same time it is good to have an option to build withou

[2016-09-28 07:10] ihhub opened #2 "Add ARM Neon instructions support"
SIMD instructions on ARM are very similar to SSE/AVX. It would be great to have such support. The structure of functions could be gotten from SSE namespace.

Of course it is necessary to have unit tests for such functions.

[2016-09-28 07:12] ihhub opened #3 "Add more unit tests on the rest of basic function"
Not all basic functions are covered by unit tests so it is must to have it.

[2016-09-28 17:23] ethanhs commented on #1
The simplest way to do this would be to create a wrapper around libui/Qt, which covers all the platforms you need, plus allows you to choose between the two. Could you explain what you expect the `wait()` function to do?

[2016-09-29 00:24] ihhub commented on #1
I corrected the code above but I repeat explanation here too:
[code]

The function has 1 input argument what is time in milliseconds. If the variable is greater than 0 then window waits for specified time (just a normal timer). Otherwise the window must wait for any user action such as mouse button click or key pressing. If we do not have such function then user cannot see what is happening on scr

[2016-09-29 00:29] ihhub opened #5 "Add multithreading support for blob detection"
Blob detection is one of slowest operations in image processing. Doing blob detection in parallel is not so obvious task as it requires additional step: merging results. I have one implementation of blob detection in parallel but need some overview of implementation. I will add the code soon.

[2016-09-29 00:43] ihhub opened #6 "CUDA code for basic functions"
Need to add CUDA OS independent code at least for some basic functions. Many PCs contain NVidia videocards so it is not rational to do not support such thing as CUDA. At the same time it would be better to have an example code/project.

Please remember: the code must be as simple as possible with proper comments :)

[2016-09-29 00:46] ihhub opened #7 "Different formats of images"
As described in library's description we do not support multiple standards of images but would be good to have an example of 3rd party library for different formats of images.

[2016-09-29 00:50] ihhub opened #8 "Raspberry Pi camera usage example"
The library has been developed for Raspberry Pi we need some code for camera support or 3rd part library as an example code.

[2016-09-29 00:52] ihhub opened #9 "FFT (DFT) integration?"
FFT is must be thing for image processing. At the same time does FFTW have proper licence for this project?

[2016-09-29 00:56] ihhub opened #10 "More basic functions by SSE/AVX"
Some basic functions could be done with SSE/AVX. This is a short list of them:

[code]

~~Sum~~
~~ProjectionProfile~~
~~RgbToBgr~~

[2016-09-29 00:59] ihhub opened #11 "Template matching code"
Does template matching code need to be complicated? How many methods we need to cover? Do we need to use FFT for all of methods?

[2016-09-29 01:07] ihhub opened #12 "Bitmap code simplification"
Current code is bulky and it is not obvious as it should be.

Ideally the code must look like this:

[code]

But there is no guarantee that loaded image is gray-scale. So the code should be at least like this:

[code]

But then how to convert to normal BitmapImage standard without branching code?

[2016-09-29 01:12] ihhub opened #13 "Edge detection code"
Need some algorithms for edge detection. Simple ones are first-order detectors, like Canny for example.

[2016-09-29 10:19] codeahead14 commented on #6
I know CUDA. However what is not clear here is what basic functions should it include? If you could elaborate a little, I would gladly write some example codes.

[2016-09-29 11:20] ihhub commented on #6
Basic functions include:
[code]

Please refer to image_function_avx or image_function_sse for details.

The structure of functions should remain the same as in header so header file will have something like this:
[code]

But source file (*.cu) will be slightly different compare to SIMD implementation. Here is an example how it should like:
[code]

[2016-09-29 17:40] tbelaire opened #14 "Unit tests fail to compile, missing `rand`"
On OSX, after cloning the library, and trying to run the unit tests, it fails to compile:

[code]

[2016-09-30 01:09] #14 closed

[2016-09-30 13:40] rjk9w5 commented on #9
FFTW is under GPL so it should be fine to use with this project.

[2016-10-01 03:24] betanumerical opened #16 "GPU (OpenCL) Support"
Are there any plans to add OpenCL enhancements for operations that are easy to parallelise and would benefit from GPU support (such as gaussian blurs)?.

[2016-10-01 13:52] abhinav2296 commented on #13
Assign it to me @ihhub.

[2016-10-02 01:24] ihhub commented on #16
Hi betanumerical,

OpenCL is goo tool for parallelism. We could use it too because it is cross-platform. But for now it is difficult to implements everything in proper form and structure at the same time. So I would say yes but it is not first priority.

[2016-10-02 01:25] ihhub commented on #13
What type of edge detection are you proposing to do? And could you describe the way of implementation?

[2016-10-02 09:38] abhinav2296 commented on #13
I will try to implement sobel and canny edge detection algorithms in C++.

On Sun, Oct 2, 2016 at 6:55 AM, Ihar Hubchyk <notifications@github.com>
wrote:

[2016-10-02 18:55] ethanhs commented on #8
I can try this. I've been meaning to learn how to use the Raspi's Camera interface in C++

[2016-10-04 04:03] ihhub opened #17 "Add support of 32-bit images for Bitmap_Operation namespace"
The solution is just ignore alpha channel in image because it is for representation of image.

[2016-10-04 07:30] ihhub commented on #1
I have added simple example on QT framework without utilizing the wrapper.

[2016-10-05 03:13] #17 closed

[2016-10-05 09:17] ihhub opened #18 "Implement functions in function pool"
Some basic functions could be done with multithreading. Some of them are:

[code]
~~ConvertToGrayScale~~
~~ConvertToRgb~~
~~ExtractChannel~~
~~IsEqual~~
~~GammaCorrection~~
~~Resize~~
~~Accumulate~~

[2016-10-05 13:46] yunchih commented on #18
Hi, can I work on these?
I guess most of these functions  can be parallelized with OpenMP?
Or just put the element-wise operations of these functions within a lambda and run them with `std::thread`?
Any suggestion?
Thanks

[2016-10-06 00:16] ihhub commented on #18
Please refer to **function_pool.h** and **function_pool.cpp** in **_Library_** folder. I think it would answer your questions.

[2016-10-06 06:04] yunchih commented on #18
Ok, thanks.  I think I can start by trying to implement one of them.

[2016-10-07 05:47] ihhub opened #20 "Add MakeFile files for all example projects"
Using command line is inconvenient when project contains a lot of file plus end user doesn't like to do extra moves to copy, paste, run and etc.

[2016-10-07 06:56] rahul-kumi commented on #20
I will take this up.

[2016-10-07 06:57] rahul-kumi commented on #20
Any things that I need to keep in mind before I proceed?

[2016-10-08 04:04] syclik commented on #20
@ihhub: I found this issue through the hacktoberfest tag. Can you provide a little more detail and I can see if I can help?

Specific questions:
- what folder do you want the user to run from? If we took the `bitmap_operation` example, do you want someone to run from `PenguinV/examples/bitmap_operation/` or from `PenginV/examples/`?
- what C++ flags do you want by default? what C++ flags do you en

[2016-10-10 05:21] ihhub commented on #20
Hi. Of course you can. Before staring please look into pending pull request #21.
Answering for your questions:
- inside folder
- minimum requirements: Wall (to catch all warnings), c++11
- no

[2016-10-12 01:55] #20 closed

[2016-10-14 01:35] ihhub opened #23 "Solve the problem with image borders for median filter"
It is well-known problem and there are multiple solutions for this. Now the library just copies a part of image which is close to borders. Proper way is to apply median filter on borders too but might be with smaller size or center-shifted.

[2016-10-14 01:38] ihhub opened #24 "Add dilate and erode functions"
They are common used functions. One of solution is to use FFT.

[2016-10-14 02:10] ihhub opened #25 "Add an example project on Android NDK"
As the library is cross-platform it would be great to have an example project for Android system.

[2016-10-14 02:13] ihhub opened #26 "Performance tests for AVX/SSE/NEON/function pool/basic function"
It is important to have some real numbers showing the difference in some technologies utilization. Plus it is good tool to verify quality of code implementation: compare expected speed with real.

[2016-10-14 13:19] jonny2plates commented on #25
Would like to do this if possible

[2016-10-14 14:07] ihhub commented on #25
Yes, sure. But it is better to describe what are you going to do. I prefer if application could grab image, convert it to library format, thresholds and display results. One simple button to grab image and another to threshold. Something like this. But of course if you have better idea it would be great.

[2016-10-16 09:54] jonny2plates commented on #25
Ah no problem will tackle this and commit today.

[2016-10-17 08:35] ihhub commented on #25
Great! Please do not forget comments for better understand by another people.

[2016-10-24 00:21] ihhub opened #28 "Add a makefile for performance tests"
It is required to add a makefile for performance tests (see performance_tests) folder to support make. Please refer to makefile structure for examples.

[2016-10-24 12:47] jonny2plates commented on #25
Sorting before Friday thanks for your patience x

[2016-10-25 00:31] ihhub commented on #25
Okay!

[2016-10-25 07:54] ihhub opened #29 "CPU architecture code verification and instruction set support validation"
We need a code what checks which CPU architecture it is compiled on, plus all possible supported instructions sets such as SSE, AVX, NEON. Please refer to folder **PenguinV/Library/penguinv** for more information.

**_cpu_identification.h_** file should contain all necessary checks inside by right logic. Now it is empty :(

The idea is once compiled application/library could choose possible suppor

[2016-10-27 06:20] ihhub opened #31 "MMX support for basic functions"
It looks weird but it could be useful in situations as:

**1**. Width of image ROI (region of interest) is less than 16 but more than 7. So MMX will be faster than normal code.

**2**. Old CPU support

Please refer to `cpp image_function_sse.h` and `cpp image_function_sse.cpp` for example how to make a proper code. At the beginning it is enough to have Bitwise And, Or and Xor functions.

[2016-10-28 05:17] #5 closed

[2016-10-30 14:24] ihhub opened #32 "CUDA: correct calculations for thread count and blocks per grid"
We need to have a proper way to calculate optimum number of threads and blocks for device functions. Please take a look at **Library/cuda/image_function_cuda.cu** function `void getKernelParameters(int & threadsPerBlock, int & blocksPerGrid, uint32_t size)`.

[2016-10-30 14:35] goodwin64 opened #33 "Test-issue-hacktoberfest"

[2016-10-30 14:35] #33 closed

[2016-10-30 21:14] lakshmanaram commented on #28
@ihhub I'd like to take up this issue. This is my first time creating make files and am planning to reference examples makefiles and this [link](http://www.cs.umd.edu/class/fall2002/cmsc214/Tutorial/makefile.html). Will that be okay ?

[2016-10-30 21:34] lakshmanaram commented on #12
@ihhub Can you explain this issue a bit further. Is this concerned with renaming the methods and values in an intuitive fashion? or something else... :confused:

[2016-10-31 00:09] ihhub commented on #28
@lakshmanaram I recommend to have a look at example projects and their makefiles. It would be very useful for you as a reference.

[2016-10-31 00:20] ihhub commented on #12
@lakshmanaram Current bitmap code is designed to cover all possible situations (any type of image including palette). This is good but at the same time it is bad to use. Please run though [```bitmap_operation```](https://github.com/ihhub/penguinV/tree/master/PenguinV/examples/bitmap_operation) example in **example** folder to have a full picture of problem.

First of all the palette is not compuls

[2016-11-08 01:38] ihhub opened #34 "Project logo"
As a project evolves it is important to make it recognizable.

It would be great if someone helps us with logo for our project.

[2016-11-10 14:35] lakshmanaram commented on #28
I am presently trying to work on this issue. I tried running the makefile in unit tests and I am facing this error.

build/bin/blob_detection.o: In function `Blob_Detection::BlobDetection::find(Bitmap_Image::BitmapImage<(unsigned char)1> const&, unsigned int, int, unsigned int, unsigned int, Blob_Detection::BlobParameters, unsigned char)':
blob_detection.cpp:(.text+0xf98): undefined reference to `

[2016-11-11 00:45] ihhub commented on #28
@lakshmanaram Try to update to latest version. I have run just now on my PC (Linux Mint 17.3) and it works perfect.

[2016-11-11 22:49] lakshmanaram commented on #28
Line no 21 in unit_tests/Makefile `CXXFLAGS := -std=c++11 -Wall -O2` was the causing the error in my system. I am running Ubuntu 16.04 with updated stable versions of g++ and make. Once I removed -O2 option in the CXXFLAGS, it works like a charm. I am curious as to what it's purpose is?

[2016-11-12 02:48] ihhub commented on #28
@lakshmanaram -O2 option is optimization option (maximum speed). For unit tests it is not so important but for performance test it is. Need to verify such option on Unix systems then.

[2016-11-15 00:28] #6 closed

[2016-11-15 01:20] #31 closed

[2016-12-26 03:18] #8 closed

[2016-12-31 00:53] #12 closed

[2017-02-12 11:30] #28 closed

[2017-02-12 11:32] #2 closed

[2017-05-24 01:23] #34 closed

[2017-05-26 05:50] #32 closed

[2017-06-18 09:05] #9 closed

[2017-06-18 09:07] ihhub commented on #25
Not actual for now

[2017-06-18 09:07] #25 closed

[2017-06-18 13:54] #23 closed

[2017-06-18 14:16] #1 closed

[2017-07-03 05:37] ihhub opened #35 "Colour space conversion functions"
Colour space conversion is very useful for many situations. Not all devices grab images only in RGB or display them.

[2017-07-03 05:44] ihhub opened #36 "RGBA conversion functions"
Currently the code supports only Gray and RGB images while we've introduced RGBA type as well. We have to have support for RGBA images as well.

[2017-07-03 05:46] ihhub opened #37 "Blob detection possible speedup"
Speed up blob detection for the part of map creation before finding any blobs. How fast it could be? How to make it code friendly without changing a lot of structure?

[2017-07-03 05:47] ihhub opened #38 "CUDA example"
Currently we don't have any example of CUDA usage within the library. It would be very good to show capacity of the library.

[2017-07-03 05:50] ihhub opened #39 "Simplification of Visual Studio compilation"
How would it be easier for user to compiler the library? Do we need to use CMake but this is extra moves? Do we need to give just an instruction for projects? What to do with 3-rd parties libraries?

[2017-07-03 05:51] ihhub opened #40 "CUDA pinned memory support"
Pinned memory is much faster for data copying between CPU and GPU. Extra enhancement is needed.

[2017-07-03 06:13] ihhub opened #41 "Support of libpng for Windows"
Windows doesn't have third-party support of libpng (and zlib). We need to do a nice code which would be easy to use

Correlates with #7

[2017-07-03 06:15] ihhub opened #42 "Common code for loading/saving images"
We have a support of different types of images but for each type we have it's own namespace which is inconvenient for user. We need to have a namespace wrapper which will do image saving/loading based on image type.

[2017-07-03 06:18] ihhub opened #43 "Memory pool support"
Memory pool is very useful in situations when RAM is not so fast and memory allocation/deallocation takes time. At the same time memory allocator requires some time to execute the code for allocation/deallocation while memory pool is ~O(1) speed because it contains fixed size of data chunks. Evolution of memory pool and memory allocation could give a good results in performance.

[2017-07-03 06:22] ihhub opened #44 "Output file for performance tests"
Looking at values from performance tests some people couldn't understand while seeing a fancy graph is more likely to understand of performance. We need some file output for another third-party software to show results in more user-friendly way.

[2017-07-03 06:25] ihhub opened #45 "libjpeg support"
We have libpng support but not libjpeg. Many images are stored in this format and it would be irrational to do not support it.

Correlates with #7

[2017-07-03 06:28] ihhub opened #46 "Correct image type support for png files"
Currently we fix support only to RGBA images while there are different types of images. Plus we allocate memory twice for image loading what we actually have to do only once.

[2017-07-03 06:33] ihhub opened #47 "Installation of library for Linux/MacOS"
To simplify developer's life it would be useful to investigate the possibility of installation library within OS so it would be stored in one place.

[2017-07-13 03:35] ihhub opened #48 "Sample code for filter usage"
It would be useful to add examples for each (or multiple) filter to show what they do and which results they give.

[2017-07-25 14:37] #38 closed

[2017-07-31 09:42] ihhub opened #49 "FFT from Gaussian is Gaussian"
No need to convert gaussian filter from original domain into frequency domain because we could calculate it directly in frequency domain.

[2017-08-18 06:50] ihhub opened #50 "Streams in CUDA"
Currently all code for CUDA based on default stream and this could be downgrade in performance.

[2017-08-31 13:03] #40 closed

[2017-09-02 08:49] ihhub opened #51 "Multi GPU support"
Nowadays many systems contain multiple GPU so it would be good to have a multi GPU support.

[2017-09-11 06:53] ihhub opened #52 "Image borders in CUDA"
We use only one dimension in CUDA kernels to execute operations on image but according CUDA specification for devices lower than **3.0** computation version maximum resolution per X axis is only **65535**. We use **256** threads per block so it makes our image limit to 16,776,960 bytes or around 16 MB.
Our unit test maximum resolution is only 2048 by 2048 pixels which is less than 16 MB so unit te

[2017-09-11 08:59] ihhub opened #53 "Missing virtual destructor in BitmapDibHeader struct"

[2017-09-11 10:45] #53 closed

[2017-09-21 09:12] ihhub opened #54 "Rename Bitmap_Image namespace"
Bitmap_Image namespace name confuses some people because by logic it is not a bitmap image itself. Remove default 4 pixel alignment of rows .

[2017-09-28 21:47] xoorath commented on #29
Hey @ihhub I've done something like this before....

https://github.com/xoorath/xo-math/blob/master/xo-math/include/DetectSIMD.h

Can you check and see if it's along the lines of what's needed? If it's in the direction you're looking for, I could take a crack at a pull request and update the appropriate function returns to also check the define (so checks can be made both at runtime and compile ti

[2017-10-01 02:47] ihhub commented on #29
Hi, @xoorath . Your code seems correct for detection of supported instruction sets by compilers (we have different ways of detection on Windows :) ). Please make a pull request for review.

[2017-10-01 03:07] ihhub opened #55 "Add Travis auto build"
Add **Travis CI** (https://travis-ci.org) auto build for whole project. Do not put all files in root directory because it makes file structure messy. Put all needed files into ```travis_auto_build``` directory which would locate in root of project.

The project is already activated on Travis CI and the build status indicator is added too.

[2017-10-01 05:23] SuhanKoh commented on #55
Hi, can this project build with MSBuild?

[2017-10-01 05:33] ihhub commented on #55
Hi, @SuhanKoh . This is OS independent project so you can build it with Microsoft Visual Studio as it is done for unit, performance tests and examples.

[2017-10-01 05:38] ihhub opened #56 "Static library compilation"
As a library the project should be built as a static library as well. We must add necessary project/make files for this.

From design point of view it's a good practice to put project/make files out of main ```PenguinV\Library``` directory. Recommended path for this is ```PenguinV\build\static_library```

[2017-10-01 07:28] platipo commented on #56
Correct me if I'm wrong, you want the sources in Library folder to compile into a static library?

[2017-10-01 07:37] ihhub commented on #56
Hi, @platipo ,

Yes, you are correct. Ideally all files and folders within ```Library``` folder (including CUDA code as well).

[2017-10-01 08:15] platipo commented on #56
Got a problem:
[code]

[2017-10-01 08:27] platipo commented on #56
And also:
[code]
Even though `$ g++ -march=native -dM -E - </dev/null | grep -i arm` returns nothing.

[2017-10-01 09:36] ihhub commented on #56
Library has not been tested for a while under Linux so your suggestion could be correct.

Neon is SIMD instruction set which is only for ARM processors. I assume you compile on x86 processor. But I will make a proper changes for this for avoid such problem.

[2017-10-01 21:04] binhonglee commented on #55
I'm not really following, do you already have an existing testing suite you use to test the project locally?

[2017-10-03 09:11] ihhub commented on #55
Hi, @binhonglee , the library has it's own unit and performance testing suite which is under appropriate folders but there are open issues (#3, #26, #44) related to this which requires some improvements. You can have a look on them.

[2017-10-03 11:54] platipo opened #59 "Rework library structure"
As stated in #57 project structure should adapt to standard project structure. It is also necessary to create headers that expose API
[Reference](https://stackoverflow.com/questions/1398445/directory-structure-for-a-c-library#1398594)

EDIT: `include`

[2017-10-04 06:37] ihhub commented on #59
This issue is correlated to #47

[2017-10-04 06:44] ihhub opened #60 "Update API description for CUDA"
API description for CUDA part of library is out of date because some new functions were added.

[2017-10-04 15:45] ihhub commented on #59
This issue is under discussion because the project is **not** for Unix only systems.

[2017-10-04 17:06] platipo commented on #59
[Here a **non-Unix** link](https://www.quora.com/What-is-a-general-C++-project-structure-like) explained in far more detail.

[2017-10-05 13:09] #29 closed

[2017-10-05 13:42] #55 closed

[2017-10-06 16:58] ihhub opened #61 "uin32_t --> size_t for bigger image support"
Most of values are uint32_t while we can use size_t which is same unit32_t in 32 bit applications but uint64_t in 64 bit application which gives to us a support of bigger images support.

**Notes for considerations**: main goal is to change Image classes and respective functions but do not touch code which is 3rd party or related to some standards like Bitmap file management code.

[2017-10-08 06:06] ihhub opened #63 "Integration of multiCUDA"
[MultiCUDA](https://github.com/ihhub/multicuda) is an evolution of CUDA code which is currently presented in the library. It's better to integrate multiCUDA as 3rd party library by replacing current implementation.

[2017-10-08 09:37] ihhub opened #64 "Add auto build on Windows"
Currently the project has an auto build on Linux and MacOS. We use Travis CI platform which doesn't support Windows compilation. We might look into [AppVeyor](https://www.appveyor.com) platform for this.

[2017-10-10 05:15] ihhub commented on #61
Such changes require extensive unit tests run on bigger images. Currently unit tests do not support image bigger than 4096 x 4096.

From another point of view uint32_t can contain up to 4,294,967,295 which is **>4 GB**. Usually images are equal to square by statistics so 4 GB x 4 GB give a huge number. We need to review those parts of code which really require an extension to size_t.

[2017-10-11 04:38] ihhub commented on #51
This issue would be closed once we made an integration of `multiCuda` as a third-party library.

[2017-10-11 05:13] ihhub commented on #50
This issue would be closed once we made an integration of [multiCuda](https://github.com/ihhub/multicuda) as a third-party library.

[2017-10-11 07:18] mouseduck opened #65 "Use GPU clock for cuda performance tests"
CPU clock is not accurate as GPU clock to such purposes.

[2017-10-11 07:18] #65 closed

[2017-10-11 07:20] ihhub opened #66 "Use GPU clock for Cuda performance tests"
GPU clock is more stable and accurate in terms of measuring time for GPU functions.

[2017-10-11 08:17] ihhub commented on #61
After a better investigation of the necessity of such change the only place where it's useful to change is full image size calculation like `const uint32_t size`. The rest of changes could cause extra memory consumption like for example blob detection algorithm. It's critical for such devices like Raspberry Pi where you have very limited memory size.

[2017-10-14 04:37] #35 closed

[2017-10-14 04:38] #61 closed

[2017-10-15 06:28] #50 closed

[2017-10-15 06:28] #51 closed

[2017-10-15 06:28] #63 closed

[2017-10-15 09:12] #52 closed

[2017-10-15 10:09] #66 closed

[2017-11-20 15:51] ihhub opened #67 "CUDA code for Travis CI build"
We can compile CUDA code at least on Linux for Travis CI. It would be useful to have such option.

[2017-11-20 15:58] ihhub opened #68 "CUDA multiple kernel performance test"
Add CUDA multiple kernel execution for performance tests.

[2017-11-26 02:33] #59 closed

[2017-11-26 15:40] #16 closed

[2017-11-28 14:23] #26 closed

[2017-12-04 10:59] #64 closed

[2018-03-16 00:54] #60 closed

[2018-03-22 15:04] #67 closed

[2018-03-30 10:10] #37 closed

[2018-04-03 05:20] ihhub opened #69 "Code duplication"
This issue is a container of other issue related to reduction of code duplication in the library.

[2018-04-03 05:20] ihhub commented on #68
There is no use in it due to limitations of GPUs.

[2018-04-03 05:20] #68 closed

[2018-04-08 05:38] ihhub opened #70 "CUDA/OpenCL compilation on AppVeyor"
We could compile CUDA/OpenCL in Windows using AppVeyor. There is no restriction in it.

[2018-04-08 05:47] ihhub opened #71 "OpenCL code for tests"
OpenCL code for unit and performance tests is needed.

[2018-04-08 05:56] ihhub opened #72 "Add QT support for Travis CI"
Travis CI potentially supports QT framework and we already have an example code with QT. Why don't we do it?

https://forum.qt.io/topic/50340/installing-qt-5-4-dev-packages-in-travis-ci
http://osdevlab.blogspot.com/2016/02/simple-unit-test-with-qt-continuous.html

[2018-04-08 06:06] ihhub opened #73 "Hough transform methods"
Well known and widely used methods

[2018-04-08 12:41] #54 closed

[2018-04-09 10:49] ihhub opened #74 "OpenCL API description"
It is missing in the library.

[2018-04-09 10:50] ihhub opened #75 "RGB image support"
Allow more functions to work with RGB images.

[2018-04-09 10:53] ihhub opened #76 "Different number of color channel image support in unit tests"
Unit tests are bound to gray-scale images only  (for image function) which is wrong since we can miss some bug on RGB images.

[2018-04-09 10:55] ihhub opened #77 "Ignore file list for git"
This is good to prevent accidental commits.

[2018-04-10 01:18] ihhub opened #78 "Performance optimisation for GPU kernels"
Most of GPU kernels run very small amount of work in comparison of thread internal startup and execution.

[2018-04-10 05:56] ihhub opened #79 "Raw strings for OpenCL kernels"
We can use raw strings for OpenCL kernels what is supported by C++11.

[2018-04-10 06:03] ihhub opened #80 "Support for asynchronous actions for GPU buffers"
CUDA and OpenCL buffer internally support only synchronous operations on memory which is inconvenient because normally operations on memory are executed in a different stream compare to kernels.

[2018-04-11 01:05] ihhub opened #81 "CUDA: runtime compilation of kernels"
Add a support of runtime compilation of kernels on CUDA.

[2018-04-11 01:07] ihhub opened #82 "char* as input value for runtime compilation on OpenCL"
We have only `std::string` but some people use `char *`. A conversion from `char *` to `std::string` takes time.

[2018-04-11 04:22] ihhub opened #83 "Make OpenCL to support ROI"
OpenCL supports inly full images while the rest of the library could work with ROI.

[2018-04-11 05:16] ihhub opened #84 "Rename color image into RGB image everywhere"
Color image could have different number of color channels while we use only RGB image.

[2018-04-12 01:08] #79 closed

[2018-04-20 06:28] ihhub opened #85 "Makefiles for CUDA examples"
CUDA example codes do not have makefiles for compilation.

[2018-04-21 01:31] #84 closed

[2018-04-23 07:20] ihhub opened #86 "Support of AVX-512"
More modern CPUs can support AVX-512 so why don't use it? We don't have CPUs with AVX-512 support yet :(

[2018-04-23 07:25] ihhub opened #87 "Processing acceleration of full row ROI"
If we process an image with ROI of full row (`ROW.width = image.width`) and the image has 1 byte alignment for each row we can accelerate calculations by simply set width as `width * height` and height as `1` giving an advantage to SIMD instructions as well.

[2018-04-25 01:47] ihhub opened #88 "Get rid of so many namespace usage"
Most of the code could be without namespace inclusion. We must reduce namespace usage as much as possible.

[2018-07-13 04:31] ihhub opened #89 "ProjectionProfile fails in unit tests"
Uncommenting ProjectionProfile function for function pool to be executed in unit tests leads to function failure.

[2018-07-25 02:44] ihhub opened #90 "2D surface usage in ImageCuda"
Some Cuda kernels could work faster with surface utilisation compare to normal global memory.

[2018-07-26 13:40] #83 closed

[2018-07-30 04:52] ihhub opened #91 "Fix CUDA build in Travis CI"
Travis CI has changed their software recently and now CUDA cannot be installed on their server without timeout.

[2018-07-31 00:37] #39 closed

[2018-08-03 01:16] ihhub commented on #91
Travis CI fixed the problem themselves. No action is required.

[2018-08-03 01:16] #91 closed

[2018-08-30 08:38] ihhub opened #92 "Move multicuda and multicl to main code"
These libraries were developed as a part of penguinV and now they have even better integration into the library. Merging them with library makes things clear.

[2018-09-06 10:33] #77 closed

[2018-09-06 10:59] #82 closed

[2018-09-06 11:02] #92 closed

[2018-09-07 14:36] #74 closed

[2018-09-09 10:57] ihhub opened #93 "clEnqueueFillBuffer is not supported by OpenCL 1.1"
Some videocards support only OpenCL 1.1 so `clEnqueueFillBuffer` fails for execute. In this case we should replace this function by a custom kernel.

[2018-09-09 10:59] #71 closed

[2018-09-12 02:31] ihhub opened #94 "CUDA and OpenCL: unit tests should cover all functions"
We do not cover functions with custom ROI for CUDA and OpenCL.

[2018-09-13 01:10] ihhub opened #95 "OpenCL: add pinned memory support"

[2018-09-25 10:49] #93 closed

[2018-09-26 07:28] ihhub opened #96 "GetGaussianKernel() optimisation"
There are multiple calculations inside loop which we could optimise by calculating temporary results.

[2018-09-26 07:46] ihhub opened #97 "Thread pool classes review"
Dow we really need `ThreadPoolMonoid` and `TaskProviderSingleton` at first place? Aren't they the same?

[2018-09-26 07:47] ihhub opened #98 "File inclusions"
Some files have invalid file inclusions which are not valid anymore. We need to remove unused file inclusions making the code cleaner.

[2018-09-26 07:51] ihhub opened #99 "FFT code compilation is broken"
It is a compilation error due to changes Images classes.

[2018-10-02 02:22] #78 closed, assigned to ihhub

[2018-10-02 03:50] ihhub opened #100 "Add OpenCL types as it's done for CUDA"
For CUDA we have our own implementation of base structures for data handling which locate in `src/cuda/cuda_types.cuh` file. These template classes are `Type` (for a single variable) and `Array` for an array holder. We would like to add similar classes for OpenCL memory as well.

[2018-10-03 01:00] ihhub commented on #94
This issue is related to #69  as essentially we have to merge all code to have a single platform for all types of tests.

[2018-10-03 01:04] ihhub opened #101 "Blob detection on GPU"
It is well known problem to implement blob detection on GPU. A full or partial implementation of the method is highly appreciated.

[2018-10-03 01:06] #11 closed

[2018-10-03 01:07] ihhub opened #102 "Pattern (template) matching implementation"
There are various method for this. Any of the method is good for the start.

[2018-10-03 01:10] #49 closed

[2018-10-03 06:55] ihhub opened #103 "Python wrappers"
In far future it would be useful to have Python wrappers for the library giving the opportunity to work on Python.

[2018-10-04 01:43] ihhub opened #104 "OpenGL or QT base fundament for UI"
As any image processing software we should have some sort of basic (separate) UI structure which serves as an independent instrument to showing results at first stage. Such tool must be supported for all OSes.

[2018-10-05 01:14] ihhub opened #106 "Neon implementation of Sum function"
`Sum()` function is not implemented for NEON (SIMD) yet. Please refer to `image_function_simd.cpp` file.

[2018-10-07 00:13] 0x72D0 commented on #106
I would like to learn more about simd. I will try this one!

[2018-10-07 08:44] ihhub commented on #106
Just don't forget to add a unit test of your newly created function for verification (one line code in `unit_test_image_function.cpp`).

[2018-10-07 08:47] ihhub opened #108 "Cuda files for .gitignore"
Add temporary files which CUDA creates during compilation.

[2018-10-07 08:52] ihhub commented on #89
This is due to different output arrays merging as current verification function accepts only arrays with the same size. Have a look into `struct OutputInfo` for clarification. The fix should be to avoid such restriction.

[2018-10-07 08:55] #99 closed

[2018-10-07 08:58] ihhub opened #109 "Add compilation for FFT CUDA code"
Currently this code is not included in any tests. The compilation requires `cufft` library.

[2018-10-07 09:00] ihhub opened #110 "Add FFT unit test code"
We do not have any test code to cover FFT currently. Unit tests should be done for direct and inverse FFT.

[2018-10-07 10:05] polo123qwe commented on #108
You want the .gitignore to include the CUDA files?

[2018-10-07 10:37] ihhub commented on #108
I want to add CUDA files to be excluded from git using `.gitignore` file.

[2018-10-07 10:45] polo123qwe commented on #108
I'll work on it

[2018-10-08 01:33] #96 closed

[2018-10-08 01:37] ihhub opened #113 "SIMD implementation of Accumulate() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **Accumulate()** function. for the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure which is used for SIMD code inside `image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_function.cp

[2018-10-08 01:39] ihhub opened #114 "SIMD implementation of ConvertToGrayScale() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **ConvertToGrayScale()** function. for the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure which is used for SIMD code inside `image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_fun

[2018-10-08 01:40] ihhub opened #115 "SIMD implementation of ConvertToRgb() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **ConvertToRgb()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure which is used for SIMD code inside `image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_function.

[2018-10-08 01:41] ihhub opened #116 "SIMD implementation of ProjectionProfile() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **ProjectionProfile()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `src/image_function.cpp` and the structure which is used for SIMD code inside `src/image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `test/unit_te

[2018-10-08 01:42] ihhub opened #117 "SIMD implementation of RgbToBgr() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **RgbToBgr()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure which is used for SIMD code inside `image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_function.cpp`

[2018-10-08 01:42] ihhub commented on #10
Relates to #117 , #116 , #115 , #114 , #113

[2018-10-08 01:46] ihhub opened #118 "Accumulate() function implementation in function pool"
We do not have function pool implementation of ** Accumulate()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure of code for function pool inside `image_function_function_pool.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_function.cpp`

[2018-10-08 01:49] ihhub opened #119 "Flip() function implementation in function pool"
We do not have function pool (multithreading based on thread pool) implementation of **Flip()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure of code for function pool inside `image_function_function_pool.cpp`. Please do not forget to add unit test for newly created function(s) inside

[2018-10-08 04:59] ihhub opened #120 "Multithreaded version of Merge() function (based on existing thread pool code)"
We do not have function pool (multithreading based on thread pool) implementation of **Merge()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure of code for function pool inside `image_function_function_pool.cpp`. Please do not forget to add unit test for newly created function(s) insid

[2018-10-08 05:01] ihhub opened #121 "Transpose() function implementation in function pool"
We do not have function pool (multithreading based on thread pool) implementation of **Transpose()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure of code for function pool inside `image_function_function_pool.cpp`. Please do not forget to add unit test for newly created function(s) i

[2018-10-08 05:02] ihhub commented on #106
@0x72D0 you could also have a look at another SIMD related issue. I've added them recently.

[2018-10-08 05:08] ihhub commented on #18
Relates to #119 , #120 , #121

[2018-10-08 05:13] ihhub opened #122 "Add RgbaToRgb and RgbToRgba functions"
1. Add `RgbaToRgb` function to convert **RGBA** image into **RGB** image, and `RgbToRgba` function to convert **RGB** image into **RGBA**. Default value of alpha channel is 255 (for `uint8_t` images). The code should be resided in `image_function.cpp`.
2. Add required unit tests for above functions inside `unit_test_image_function.cpp`

Relates to #36

[2018-10-08 05:20] ihhub opened #123 "Python wrapper for Image class"
1. Add a python wrapper for `Image` class in which we are able to call member functions of `Image` class. Put new code in `src/python` folder.
2. Add a simple example of using new Python code and put it in `example/python/image`.

Relates to #103

[2018-10-08 05:30] ihhub opened #124 "OpenGL code to render/draw image"
Base GUI code is to draw certain image on the screen just to see results. Ideally draw a new window by clicking on it we close the window.

Relates to #104

[2018-10-08 22:30] 0x72D0 commented on #106
ok thanks for the proposition, but I think I will stay with this issue. I have a raspberry pi 3B at home and the datasheet of the CPU say it has the neon extension set, so I can test the function on my raspberry pi. The only problem is my lack of experience with the arm architecture, so do you have good reference for the neon extension? For some reason every arm reference manual I came across seem

[2018-10-09 00:19] ihhub commented on #106
@0x72D0 you can refer to http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0204j/Bcfjicfj.html (the page could load very slow due to big amount of data).

By the way, please include your new function into performance tests (1 line of code in `performance_test_image_function.cpp`) to see the improvement in speed.

[2018-10-09 01:11] 0x72D0 commented on #106
ok thanks!

[2018-10-09 01:18] ihhub opened #125 "SIMD implementation of Median filter"
We do not have SIMD (SSE, AVX or NEON) implementation of ** Median()** function (filter). For the person who is willing to add such code please take a look into an implementation of the function inside `filtering.cpp`.
1. Create new files called `filtering_simd.h` and `filtering_simd.cpp`
2. Put code under `Image_Function_Simd` namespace.
3. The code for SIMD technology detection could be referred

[2018-10-09 01:19] ihhub opened #126 "SIMD implementation of Prewitt filter"
We do not have SIMD (SSE, AVX or NEON) implementation of **Prewitt()** function (filter). For the person who is willing to add such code please take a look into an implementation of the function inside `filtering.cpp`.
1. Create new files called `filtering_simd.h` and `filtering_simd.cpp`
2. Put code under `Image_Function_Simd` namespace.
3. The code for SIMD technology detection could be referred

[2018-10-09 01:20] ihhub opened #127 "SIMD implementation of Sobel filter"
We do not have SIMD (SSE, AVX or NEON) implementation of **Sobel()** function (filter). For the person who is willing to add such code please take a look into an implementation of the function inside `filtering.cpp`.
1. Create new files called `filtering_simd.h` and `filtering_simd.cpp`
2. Put code under `Image_Function_Simd` namespace.
3. The code for SIMD technology detection could be referred i

[2018-10-09 03:46] DavieV commented on #122
I'm working on this one, using the "RgbToBgr" functions as a reference.

[2018-10-09 03:47] ihhub commented on #122
Cool.

[2018-10-10 07:21] ihhub opened #128 "Fix g++ compilation (include missing files)"
Almost every example in `examples` folder contains **README.md** file which has an information for compilation. We need to fix compilation for g++ as file contains out of date information.

[2018-10-10 07:25] ihhub opened #129 "Makefile which includes children folder's makefiles"
We have many examples in `examples` folder. Each folder contains one or multiple projects. We need to add a single makefile in `examples` folder which could execution the compilation of every individual makefile in all folders and do **not** stop if one of projects fails to compile. Ideally we need to output the number of compiled projects/examples versus overall projects and list failed projects.

[2018-10-10 07:34] ihhub opened #130 "Fix Raspicam example compilation (file inclusions)"
Since we did many changes in recent months to the library Raspicam example fails to compile. We need to verify it and fix.

[2018-10-10 17:44] hrishabh23 commented on #128
Working on it.

[2018-10-11 00:43] #128 closed

[2018-10-11 02:18] 0x72D0 opened #132 "Compilation failure due to missing cpuid.h in Linux systems"
device: raspberry 3B
cpu: cortex-a53
linux kernel: 4.9.35-v7+

I have some problem when I try to compile the unit_tests on arm. I get the following error:

![2018-10-11-015434_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46776128-3ccefb00-ccd8-11e8-8e4d-29bfa7e25476.png)

and when I check in the gcc project config folder, arm don't have cpuid.h:

[x86 files](https://github.co

[2018-10-11 02:38] ihhub commented on #132
@0x72D0 please try this:
In `cpu_id_unix.h` file do following changes:
1. replace
`#include <cpuid.h>`
by
`#ifndef __arm__`
`#include <cpuid.h>`
`#endif`

2. Put a whole body of `isSseSupported` and of `isAvxSupported` functions except last line (`return false;`) into
`#ifndef __arm__`
`        function's body`
`#endif`

If this fix would work please upload a new pull request. No left spaces for `

[2018-10-12 01:03] ihhub commented on #132
@0x72D0 did my suggestion for the fix help?

[2018-10-12 01:51] 0x72D0 commented on #132
sorry I didn't find the time to test it yet... I'm gonna test it this weekend

[2018-10-12 21:28] 0x72D0 commented on #132
ok I succeed to compile it with your suggestion, but it dosen't work with the -march=native. It give me the following error (after the make):

![2018-10-12-210645_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46894826-5487ba00-ce65-11e8-8f3c-3cd20fc97c97.png)

but with -mcpu=cortex-a53 and -mfpu=neon-vfpv4 everything work fine.

[2018-10-12 21:47] 0x72D0 opened #137 "Bus error on Raspberry Pi 3B during unit test run"
device: raspberry 3B
cpu: cortex-a53
linux kernel: 4.9.35-v7+

I get the following error when running the unit test on a raspberry pi model 3B:

![2018-10-12-213909_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46895534-5901a200-ce68-11e8-8206-bc5327d3ebf7.png)

[2018-10-13 01:45] ihhub opened #138 "Performance tests compilation failure on Raspberri Pi 3"
Original post from from @0x72D0 in #132

device: raspberry 3B
cpu: cortex-a53
linux kernel: 4.9.35-v7+

ok I succeed to compile it with your suggestion, but it doesn't work with the -march=native. It give me the following error (after the make):

![2018-10-12-210645_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46894826-5487ba00-ce65-11e8-8f3c-3cd20fc97c97.png)

but with -mcpu

[2018-10-13 01:45] ihhub commented on #132
Let's open another issue for such case as you fixed original. Please have a look into #138.

[2018-10-13 01:45] #132 closed

[2018-10-13 01:49] ihhub commented on #138
`-march` flag is for compilation of specific parts of code related to SIMD instructions. As I can see from your log compilation fails on blob detection which does not have any SIMD specific code. Could you please try to compile an example with blob detection which locates in `examples/blob_detection` folder.  This example does not have such flag.

[2018-10-13 01:50] ihhub commented on #137
Function pool uses thread pool which contains multiple threads. The problem could lie in thread handling within the system. I'll take a look what does this error mean...

[2018-10-13 01:54] ihhub commented on #137
Looks like it an attempt to invalid memory. It could be due NEON instructions usage accessing memory without a proper alignment. Please try to disable neon instructions for now (in `cpu_id_unix.h just return false).

[2018-10-13 15:29] 0x72D0 commented on #138
well it fail when I compile blob_detection for the first time, after removing the -march=native in the Makefile it works.

![2018-10-13-152554_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46907067-96177400-cefc-11e8-88a2-69fa82bd41e0.png)

[2018-10-13 16:03] 0x72D0 commented on #137
ok I made the cpu_id_unix.h file always return false for the isNeonSupported function and it gave me the same result. But it look like it always happen to the function_pool::ConvertToGrayScale. it also happen with the unit_tests program:

![2018-10-13-155611_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46907409-78004280-cf01-11e8-84fd-fe30bee31b71.png)

I will try to debug it

[2018-10-13 16:28] 0x72D0 commented on #137
ok here is what I obtain with gdb (with the gef plugin):

![2018-10-13-162132_1824x984_scrot](https://user-images.githubusercontent.com/16087328/46907636-0aeeac00-cf05-11e8-9cac-093a82502939.png)

[2018-10-13 16:29] 0x72D0 commented on #137
seems to be a thread problem like you said earlier.

[2018-10-13 17:53] theryangeary commented on #129
Does this have to be implemented with a Makefile? It seems like it might be easier to do it as a script that uses the children folder's makefiles.

[2018-10-14 01:30] ihhub commented on #137
`function_pool::ConvertToGrayScale` always comes first in your case due to non randomise address assignment for functions. I'm not sure how thread creation could fail. Could you please comment all function pool functions for unit tests? If unit tests would succeed then I create another issue for this. Do not forget to return back `cpuid_unix.h` to original state after commenting function pool.

[2018-10-14 01:35] ihhub commented on #137
Another try: could you please compile it with debug flag (add inside makefile option -g) and then run with `lldb` (or `gdb`)? After the crash check the call stack (`bt all`)? [Here](https://lldb.llvm.org/lldb-gdb.html) you could find all useful commands for `gdb` and `lldb`.

[2018-10-14 01:39] #108 closed

[2018-10-14 01:39] ihhub opened #139 "Cuda files for .gitignore on Windows"
Add temporary files (`.deps`, `.cu.cache` and etc) which CUDA creates during compilation on Windows.

[2018-10-14 03:04] 0x72D0 commented on #137
I already compile it with the debug flag in the gdb scrrenshot and when I type "bt all" hdb respond with : No symbol "all" in current context. You can have a little backtrace in the gdb screenshot I already send.

[2018-10-14 09:00] #89 closed

[2018-10-14 12:58] ihhub opened #140 "OpenCL unit tests are extremely slow"
One single test takes more time than 30 tests on CUDA on the same videocard.

[2018-10-14 22:31] MatthewMcGonagle commented on #123
I've played around a little bit with making C extensions of python, and I'm interested in try to make progress on this issue. Just to clarify, you want the extension to be built using the distutils python module? As in [the description in the python docs](https://docs.python.org/3/extending/building.html#building-c-and-c-extensions-with-distutils)?

[2018-10-15 01:05] ihhub commented on #123
Looks like yes. Ideally we should compile it in Travis-vi but this is another topic of discussion.

[2018-10-15 02:15] #129 closed

[2018-10-15 03:44] ihhub opened #143 "Add performance tests for OpenCL similar like it's done for CUDA"
We do not have performance tests for OpenCL code. Please follow CUDA performance tests code (actually it would be mostly the same except timer and function namespaces).

[2018-10-15 07:04] ihhub opened #144 "Makefile for CUDA performance tests"
We do not have makefile for performance tests on CUDA but unit tests have. You could have a look at CUDA unit tests makefile to create a makefile for performance tests.

[2018-10-15 09:27] ngetahun commented on #123
I suggest using swig. I've been playing with this issue over the weekend. @MatthewMcGonagle do you have another suggestion?

[2018-10-15 13:01] ngetahun commented on #45
Hi @ihhub, I want to get started with this issue. Is it still up for grabs?

[2018-10-15 19:46] MatthewMcGonagle commented on #123
@ngetahun I'm not familiar with swig. I was thinking about just doing it manually according to the [instructions in the pydocs](https://docs.python.org/3/extending/newtypes_tutorial.html), but swig sounds like it is easier.

[2018-10-16 00:33] ihhub commented on #138
Seems like `-march=native` causes problems in many other projects as well. Some people suggest to try `-mcpu=native`

[2018-10-16 00:35] ihhub commented on #137
I'm trying to find another Raspberry Pi for testing to see what's going on.

[2018-10-16 01:40] 0x72D0 commented on #138
-mcpu=native give me the same result...

[2018-10-16 01:53] ihhub commented on #138
I'll try to check it myself today or tomorrow.

[2018-10-16 03:29] #106 closed

[2018-10-16 03:55] 0x72D0 commented on #113
I will try to do this one( SSE, AVX and NEON ).

[2018-10-16 03:56] ihhub commented on #113
Sure. It should be very similar to `Sum` function in terms of instruction usage.

[2018-10-16 11:49] ngetahun commented on #123
Ok cool. You can also look at the tensorflow repo on how they generate their python library [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python). All the `*.i` files are swig interface files.

[2018-10-16 14:15] ihhub commented on #138
I got a chance to test the compilation on Raspberry Pi 3B today. `-mfpu=neon-vfpv4` instead of `-march=native` is sufficient. With just this flag I have no issue of compiling unit and performance tests.

I ran performance tests and I could say that we really need SIMD implementation as timings for normal non-multithreaded functions are really high.

[2018-10-16 14:17] ihhub commented on #137
I ran unit tests on Raspberry Pi 3B with `-mfpu=neon-vfpv4` instead of `-march=native` flag. All tests are passed. Try this way please. If it still does not work it might be some issues with your drivers/libraries.

[2018-10-16 19:08] 0x72D0 commented on #113
in the AVX implementation do you accept the use of sse intrinsics?

[2018-10-17 00:32] ihhub commented on #113
`avx` has a full set of commands which are an equivalent to `sse`. Additionally, `avx` uses different registers on processor. So there is no reason to mix them.

[2018-10-17 01:17] ihhub opened #146 "Multithreading version of median filter"
Median filter is extremely slow in initial implementation. A usage of existing function pool could greatly help to speed up it. Please have a look into `function_pool.cpp` for function pool reference as well `filtering.cpp` for median filter implementation.

In initial filter we need to expand a zone from where we could pick up pixels for calculations: if we have a ROI as input data we just need t

[2018-10-17 01:30] 0x72D0 commented on #113
my problem is the following:
the accumulate function take the byte one by one in the memory and add them to the result vector, the byte is a uint8_t and the vector contains a uint32_t. so I was thinking using this intrinsic to convert the 8 bit integer to 32 bit integer: `__m256i _mm256_cvtepu8_epi32 (__m128i a)` but I need a __m128 register in order to use this function... so I was planning on us

[2018-10-17 01:37] ihhub commented on #113
Won't the following fulfil your needs:
1. Read 256 bit variable (32 bytes)
2. Convert the variable into 2 variables of 16 bits (low and high) (`_mm256_unpacklo_epi8` and `_mm256_unpackhi_epi8`)
3. Convert into 4 variables of 32 bits (low and high from 16 bit) (`_mm256_unpacklo_epi16` and `_mm256_unpackhi_epi16`)
4. Add to original array all 4 variable (`_mm256_add_epi32`)

[2018-10-17 02:01] 0x72D0 commented on #113
from what I can see the function `__m256i _mm256_unpackhi_epi8 (__m256i a, __m256i b)` take two register and fuse them into one, so I can use a "zero" register to just keep the higher part, but still how can I zero extend them to 16 bit? Yeah the sum and the accumulate function look similar, but if I understand well in the Accumulate function I don't want the byte to add to other thing than the re

[2018-10-17 02:05] ihhub commented on #113
I didn't write to use `_mm256_add_epi16` function. Use `_mm256_add_epi32` only once you have 4 unpacked 32-bit based variables. You have to use zero variable to mix low and high.

[2018-10-17 02:13] 0x72D0 commented on #113
oh ok, I think I misunderstand the `__m256i _mm256_unpackhi_epi8 (__m256i a, __m256i b)`, now I get it

[2018-10-17 05:02] ihhub opened #147 "Multithreading code with NEON is slower than just NEON"
I ran performance tests on Raspberry Pi 3B and surprisedly many tests with multithreading (function pool) and NEON are slower than the normal code with NEON only.

There is an example of timings:

[74/220] image_function_neon::Invert (1024x1024)... 1.521+/-1.147 ms
[75/220] image_function_neon::Invert (512x512)... 0.2575+/-0.04695 ms
[76/220] image_function_neon::Invert (256x256)... 0.04703+/-0.00

[2018-10-17 05:06] ihhub commented on #123
If you are out of ideas where and what exactly to import please ask me. I'll guide you with this.

[2018-10-17 08:38] rummanwaqar commented on #146
I am interested on working on this issue

[2018-10-17 08:41] ihhub commented on #146
Cool. As I mentioned above we should modify original filter in a way that it copies image pixels on original image border only but for given ROI which is smaller than image size we should use all available pixels based on given filter size.

I'll make some changes in filters by probably moving them into different file location to have the support the structure for function pool.

[2018-10-17 20:44] MatthewMcGonagle commented on #123
Sorry to not get back with a comment for a while. I was just getting more familiar with the swig as that seems to be the best solution. It looks like python's distutils can handle swig files directly; hopefully we just need to pass in swig_options = ['-c++'] to distutils.core.Extension(), [see section 2.3.2 of the docs for distutils](https://docs.python.org/3/distutils/setupscript.html).

[2018-10-17 21:53] MatthewMcGonagle commented on #123
Short question: when using swig, rvalue constructors such as `ImageTemplate(ImageTemplate &&)` come up as warning that they will be ignored since they make no sense in Python. Is it better to just not put them in the swig interface file (so there are no warnings, but the interface file is less complete for other interfacing)?

[2018-10-17 22:45] MatthewMcGonagle commented on #123
Another question: `Image::data()` should be overwritten in swig using `%extend` to return a list type compatible with python. Should it return a numpy array or just python lists?

[2018-10-18 00:34] ihhub commented on #123
Python of course doesn't support move-constructors so we could do not include these methods.
`Image::data()` returns a raw pointer to an allocated array. I don't think we need to return a whole array as this data brings no sense to developer.

[2018-10-18 06:32] ihhub opened #148 "Various image type support"
At current stage of development we have only `uint8_t` based image support. We must expand the library for more types such as `uint16_t`, `uint32_t`, `float`.

[2018-10-18 21:11] MatthewMcGonagle commented on #123
What type of example for `Image` are you thinking of? What I have so far is that I have also created wrappers for `Bitmap_Operation::Save()` and `Bitmap_Operation::Load()` and (from python) am able to open `mercury.bmp` and then save a copy `mercury2.bmp`.

[2018-10-19 00:16] ihhub commented on #123
If you have done `Bitmap` conversion then I would recommend to have a look into `examples/bitmap_operation` as it should be easy to implement.

[2018-10-19 03:26] ihhub opened #149 "Remove cpu_identification.h inclusion from image_function_simd.h"
`#include "penguinv/cpu_identification.h"` is not valid for `image_function_simd.h` and should be moved to `image_function_simd.cpp` file instead. Once it's done we **might** need to modify file inclusions in other files.

Related to #98

[2018-10-19 03:31] ihhub opened #150 "Simplify cpu_identification.h file (merge macros)"
`MacOS` and `Linux` have the same macros code why don't we merge them together?

[2018-10-19 03:46] ihhub opened #151 "Add CONTRIBUTING.md"
Obviously the task is to add `CONTRIBUTING.md` to the root of project with understandable and useful information for contributors. Please have a look into [wiki](https://github.com/ihhub/penguinV/wiki/Contributions) page.

[2018-10-19 04:40] #149 closed

[2018-10-19 04:42] #151 closed

[2018-10-19 04:52] ihhub opened #154 "Merge FFT classes for CPU and CUDA"
At current stage we have FFT code for CPU which locates in `fft.h` and `fft.cpp` files and CUDA code with `cuda/cuda_fft.cuh` and `cuda/cuda_fft.cu` files respectively.
1. We need to create a base classes for `ComplexData` and `FFTExecutor` to reduce code duplication. Most of the code for CPU and CUDA is common so the reduction of duplication would be obvious.
2. Create new files named `fft_base.h

[2018-10-19 06:34] ngetahun commented on #45
@ihhub I saw that you didn't add any unit test for png support. Should I do the same for jpeg?

[2018-10-19 06:36] ngetahun commented on #45
Also, it would be nice to setup some sort of build system (perhaps ```cmake```) or a configuration system (like GNU's ```autoconf```) to check and resolve dependencies.

[2018-10-19 06:38] ihhub commented on #45
Ideally we should add unit tests for jpeg. I didn't add unit tests for png because png is not supported on Windows yet (have a look into #41 ).

If you are intending to add jpeg support for Unix OSes as of now then add unit tests under `ifdef` condition for non-Windows OSes. Later we could add Windows code support and remove `ifdef`.

[2018-10-19 06:39] ihhub commented on #45
Regarding `cmake`: you are right we should have it too because we cannot build a whole code without checking the presence of certain libraries like `libpng` or `cuda`. Could you please create an issue for this?

[2018-10-19 06:40] ihhub commented on #45
I'll create another issue regarding unit tests for `libpng` as well.

[2018-10-19 06:41] ngetahun opened #155 "Add a cmake file"
Add a cmake file to generate build scripts and resolve dependencies.

[2018-10-19 06:43] ihhub opened #156 "Add unit tests for PNG file support like it's done for BITMAP"
**PNG** support is made through `libpng` library usage. Currently we have a code which is supported only Unix OSes (`FileOperation/png_file.h`). We need to add unit tests similar to those for Bitmap (`test/unit_tests/unit_test_bitmap.cpp`).

[2018-10-19 07:06] ihhub opened #157 "Add CODE_OF_CONDUCT.md to the project"
The task is to add `CODE_OF_CONDUCT.md` file to the root of project with understandable and useful information for contributors. You could refer to example of other open source project as templates (for example [here](https://github.com/mono/mono/blob/master/code_of_conduct.md). Project maintainer email is `penguinv.library@gmail.com`.

[2018-10-19 07:07] coderdecoder01 commented on #157
I'll take this one

[2018-10-19 07:07] ihhub commented on #157
Sure.

[2018-10-19 07:49] #157 closed

[2018-10-19 21:31] ngetahun commented on #45
#159

[2018-10-19 21:46] MatthewMcGonagle commented on #123
Okay, I have enough to implement `examples/bitmap_operation`. I decided to just manually re-implement custom exceptions from image_exception.h as python code inside the swig file; it just seemed easiest to do it that way since `image_exception.h` isn't very large. Is that alright for now?

Also, I'm not seeing much point in doing both `method1()` and `method2()`  of `example_bitmap_operation.cpp`

[2018-10-20 03:04] ihhub commented on #123
Regarding `image_exception.h`: yes it is okay. Any solution is better than no solution at all.

Yes, you are right. There is no sense to make 2 methods for the example.

[2018-10-20 08:35] ihhub commented on #155
Hi, @yannlabou . We could add examples later as it is not so important. The most important task is to be able to compile all unit and performance tests for CPU, OpenCL and CUDA.

[2018-10-20 14:01] ihhub opened #161 "Fix Normalize function in function pool (multithreading)"
The function fails due to incorrect logic inside as we process ROIs separately. It requires some logic in original Normalize function as well to support multithreading version.

[2018-10-21 03:31] #150 closed

[2018-10-21 09:19] #161 closed

[2018-10-21 12:42] ihhub commented on #130
Tested on Raspicam. Compilation has no errors.

[2018-10-21 12:42] #130 closed

[2018-10-21 12:44] ihhub opened #163 "Add installation script or to-do manual for Raspicam library in README file"
We need to add Raspicam library installation steps in README which locates in `examples/raspicam`. Please follow [this link](https://www.uco.es/investiga/grupos/ava/node/40) to get all needed information.

Alternatively, we need a script to do such installation which simplifies developer work.

[2018-10-21 13:14] Captain-DarkO commented on #163
on it

[2018-10-21 14:32] yannlabou commented on #155
Hi @ngetahun. Sorry for starting working on this without asking you in advance.

[2018-10-21 14:51] yannlabou commented on #104
Not sure if I understand correctly the issue but isn't it solved with the [qimage_display example](https://github.com/ihhub/penguinV/blob/e08c22b19e46f5e7dc3fd92b9d37f31d1f49c73d/examples/qt_framework/qimage_display/main.cpp)?

[2018-10-21 15:02] #155 closed

[2018-10-21 15:05] ihhub opened #165 "Do not execute performance tests for Travis-CI and AppVeyor"
We should not execute performance tests for Travis-CI and AppVeyor platforms as it has no sense to do it.

This issue relates to #155

[2018-10-21 15:07] ihhub opened #166 "Add CUDA check in CMake and add cmake files for unit and performance tests"
We do not have a check  for CUDA presence in a system via `CMake`. This is needed to add unit and performance tests into cmake files and make unified compilation of all tests.

[2018-10-21 15:08] ihhub opened #167 "Add OpenCL check in CMake and add cmake files for unit tests"
We do not have a check  for OpenCL presence in a system via `CMake`. This is needed to add unit tests into cmake files and make unified compilation of all tests.

[2018-10-21 15:19] #163 closed

[2018-10-22 04:47] jvce92 commented on #166
Hi, if no one started working on it, I can take this issue

[2018-10-22 10:26] ihhub commented on #166
Sure.

[2018-10-22 10:28] ihhub commented on #104
Not really. We need our own simpler API (wrapper) for this as QT file compilation is different but it's pretty close to what I did in the example.

[2018-10-22 14:51] #123 closed

[2018-10-22 19:50] thirdknife commented on #165
I have started working on this. Will send a PR.

[2018-10-22 22:00] yannlabou commented on #167
Claiming this issue :)

[2018-10-23 00:30] ihhub commented on #167
Sure.

[2018-10-23 00:37] ihhub opened #171 "Add proper description about python compilation on Windows"
We have a description how to compile Python code. This description locates in `src/python/README.md` file. Current description is for Unix systems. We need to add to-do steps for Windows users as well.

[2018-10-23 00:45] ihhub opened #172 "Python module compilation on Travis-CI"
We have an option to compile Python module of the library (it is just a small chunk of it but a good one). Instructions and module locate in `src/python` module. We need to add compilation of the module into [Travic-CI](https://travis-ci.org/ihhub/penguinV).

[2018-10-23 00:46] ihhub opened #173 "Python module compilation on AppVeyor"
We have an option to compile Python module of the library (it is just a small chunk of it but a good one). Instructions and module locate in `src/python` module. We need to add compilation of the module into [AppVeyor](https://ci.appveyor.com/project/ihhub/penguinv/branch/master).

[2018-10-23 00:52] ihhub opened #174 "Generate python docs from doc/python directory"
We have an option to compile Python module of the library. Instructions and the module locate in `src/python` directory. We create `setup.py` needed for auto generation of documentation. We need to do generation within `doc/python` directory. We could add an extra python file for this and a brief to-do description for the user.

[2018-10-23 01:03] SamuelsSantos commented on #174
Use o http://www.sphinx-doc.org/pt_BR/stable/tutorial.html

[2018-10-23 01:03] ihhub opened #175 "Add blob detection example on Python"
We have an example of `Bitmap Operation` which is made by @MatthewMcGonagle. We need to expand our Python module and example to cover more code of the library. We cannot ask to do a huge task to implement unit or performance tests initially so a small step as an implementation of existing example is reasonable.

[2018-10-23 01:05] ihhub commented on #174
Hi, @SamuelsSantos . We use `swig` for Python module generation (please have a look at `src/python/README.md` file).

[2018-10-23 01:17] ihhub commented on #165
Sure.

[2018-10-23 02:09] 0x72D0 opened #177 "segfault error in the blob detection code execution"
when I run the unit_tests, I get a segfault at the blob_detection tests:

![screenshot_20181022_220205](https://user-images.githubusercontent.com/16087328/47330468-5829f680-d646-11e8-95df-ef0d8f349a09.png)

when I run gdb, it seems a blobInfo destruction problem, here's the backtrace:

![screenshot_20181022_220609](https://user-images.githubusercontent.com/16087328/47330589-c79fe600-d646-11e8-8aa8

[2018-10-23 02:28] ihhub commented on #177
Do you have segfault before [this commit](https://github.com/ihhub/penguinV/commit/5648fef399fac6be5a9d0839617100cffc83f42b)?

[2018-10-23 02:33] 0x72D0 commented on #177
I don't really know... but if it was a modification 2 day ago, it might be the cause

[2018-10-23 02:35] 0x72D0 commented on #177
wait I will try to checkout to before this commit

[2018-10-23 02:37] 0x72D0 commented on #177
ok when I checkout to the commit just before this one, blob_detection runs ok.

[2018-10-23 02:42] 0x72D0 commented on #177
ok when I go to the commit you gave, it just won't compile because of a bad path to math.h, but when I checkout to that [commit](https://github.com/ihhub/penguinV/commit/864905d140f36a46733331798576c052262e72e5), I have a segfault with blob_detection

[2018-10-23 02:54] ihhub commented on #177
Thanks. That's useful.

[2018-10-23 03:31] ihhub commented on #177
Could you please do following changes `math_base.h` file and then test again:
1. At the beginning of the file after inclusion of `cmath` add this code:

In `virtual bool operator == ( const PointBase2D & point ) const` body put this code:
`return isEqual(x, point.x) && isEqual(y, point.y);`

and in `virtual bool operator == ( const PointBase3D & point ) const` body put this code:
`return PointBase

[2018-10-23 05:41] ihhub opened #178 "Merge unit and performance common code"
We have a lot of identical source code in unit and performance tests which is not good. We need to reduce code duplication ( #69 ).
At least we should add a new files called `test/test_helper.h` and `test/test_helper.cpp`. Such files should include following functions under `namespace Test_Helper`:
[code]

[2018-10-23 07:46] ngetahun commented on #175
I'll make a PR.

[2018-10-23 07:49] ihhub commented on #175
Nice!

[2018-10-23 08:44] ihhub opened #179 "Modify unit tests for Bitmap operation"
Current unit test (in `test/unit_tests/unit_test_bitmap.cpp` file) for Bitmap does not cover all situations. What we need is:
1. Rename `LoadSaveGrayScaleImage` into `WhiteGrayScaleImage`. Change filename from "white.bmp" to "bitmap.bmp". Set `PenguinV_Image::Image original` and `PenguinV_Image::Image loaded`
2. Add a new function called `BlackGrayScaleImage` withe the same functionality but to sa

[2018-10-23 10:13] ihhub opened #180 "Python wrappers for CUDA code"
We have an example of `Bitmap Operation` which is made by @MatthewMcGonagle. We need to expand our Python module and example to cover more code of the library. We cannot ask to do a huge task to implement unit or performance tests initially so a small step as an implementation of existing example is reasonable.
Original CUDA example locates at `examples/cuda/image_function` directory.

[2018-10-23 16:42] yannlabou commented on #165
@thirdknife Still working on it or should I take care of it?

[2018-10-23 19:40] 0x72D0 commented on #177
ok it works!

[2018-10-23 22:16] MatthewMcGonagle commented on #154
I'm interested in taking a look at this.

[2018-10-24 01:05] thirdknife commented on #165
I am still working on this.

[2018-10-24 01:08] ihhub commented on #154
Sure.

[2018-10-24 03:32] #177 closed

[2018-10-24 05:22] ihhub opened #182 "Static analyser usage during Travis-CI build"
[CodeFactor](https://www.codefactor.io/repository/github/ihhub/penguinv) is a good and useful tool but it _**doesn't**_ cover all possible situations in C++ code.

We would like to add an extra test/build in [Travis-CI](https://travis-ci.org/ihhub/penguinV) ([Appveyor](https://ci.appveyor.com/project/ihhub/penguinv/branch/master) doesn't support parallel job execution) with static analyser downloa

[2018-10-24 08:12] ihhub opened #183 "Remove generated bitmap file after unit test"
We have unit test for **Bitmap** in `penguinV/test/unit_tests/unit_test_bitmap.cpp` where we generate (save) a bitmap file and then load it but we did not remove the file (cleanup). It's good to do this.

[2018-10-24 20:17] MatthewMcGonagle commented on #154
For functions that need to be declared in the base class but defined in the sub-class, what should the behavior be in the base class? For example, `ComplexData::set()` is called by constructors in both fft classes, but its definition depends on each class. Since it is called by a constructor, we can't make it pure virtual. I was thinking of doing something like `BaseComplexData::set()` is defined

[2018-10-24 21:35] MatthewMcGonagle commented on #154
I'm thinking that for `BaseComplexData`, we should actually use a class template based on the type of pointer for `BaseComplexData::data`, and we can use the default constructor to cut out the initializer lists in constructors of the current versions of `ComplexData`. However, the use of stuff like `set()` will still be left in the (to be) subclass constructors.

Do we want pure virtual versions o

[2018-10-25 00:35] ihhub commented on #154
There is no final decision about pure virtual functions so we could use them. I think you could take a look into `src/memory/memory_allocator.h` as a base class, `src/cuda/cuda_memory.cuh` and `src/opencl/opencl_memory.h` as derived classes. I faced the same situation there. It's not an elegant solution: I moved data type into derived classes because the class has template-based function.

I am ok

[2018-10-25 01:43] ihhub opened #184 "Update API description for Accumulate function"
Recently we [added](https://github.com/ihhub/penguinV/issues/113) **Accumulate** function into `image_function_simd` namespace. We need to update (add missing namespace) our API description which locates at `doc/API_description.md`.

[2018-10-25 02:05] lrm25 commented on #179
I'll take this one

[2018-10-25 02:06] ihhub commented on #179
Sure.

[2018-10-25 02:50] ihhub commented on #146
Hi, @rummanwaqar . Do you have any progress on this issue? Do you need a help?

[2018-10-25 03:03] ihhub opened #185 "Replace VerifyRGBImage and VerifyGrayScaleImage templates by variadic templates"
We have multiple template functions of **VerifyRGBImage** and **VerifyGrayScaleImage** in `src/parameter_validation.h` file. We could use variadic templates to reduce the amount of code (and the number of possible mistakes). This was done by @DavieV in [pull request](https://github.com/ihhub/penguinV/pull/135).

We would change the API description in a separate issue once this issue is fixed.

[2018-10-25 03:49] ihhub opened #187 "Use single buffer allocation in Dilate() function"
We have `Dilate` function in unnamed namespace of `src/image_function.cpp` files. There are 2 places where we allocate 2 arrays:
[code]

and 2 places where we deallocate memory:
[code]

Better solution is to allocate a single buffer but in 2 times bigger and assign a pointer to another buffer from first with **shift** in address. Deallocation would be done only once in this case.

Additionally rem

[2018-10-25 03:53] #184 closed

[2018-10-25 08:30] yannlabou commented on #72
What Qt5 version do we want to support here?

[2018-10-25 08:44] #187 closed

[2018-10-25 21:17] MatthewMcGonagle commented on #154
Is there a reason that `ComplexData` shouldn't be solved with class template specialization instead of inheritance? Then the template instances of `ComplexDataTemplate` for `kiss_fft_cpx` and `cufftComplex` can be "masked" by using typdefs.

The generic types for `ComplexDataTemplate` could just give a class that throws exceptions.

[2018-10-26 00:05] #167 closed

[2018-10-26 00:08] #179 closed

[2018-10-26 00:41] ihhub commented on #154
@MatthewMcGonagle let's do an initial version of merged classes then we could review it together.

[2018-10-26 00:42] lrm25 commented on #183
I can take this one too.  Do you want an error message, or do you want it to just quietly fail if it does?

[2018-10-26 00:43] ihhub commented on #183
Quietly delete a file after loading it inside each test. No need an error message as it's just garbage cleaner code.

[2018-10-26 00:50] ihhub opened #190 "CMake: enable back OpenCL unit tests compilation on Appveyor"
Recently we committed **CMake** changes for OpenCL unit test compilation on Appveyor and Travis-CI. Unfortunately, Appveyor fails with Exception: Exit code **0xc0000135** (you could have a look [here](https://ci.appveyor.com/project/ihhub/penguinv/builds/19740930). The [hot fix](https://github.com/ihhub/penguinV/pull/170/commits/7b76d851b5d7c3d4a8af8456c01e74b4c2000b32) was to disable OpenCL unit

[2018-10-26 00:51] ihhub commented on #183
File deletion function put please inside `unit_test_helper`.

[2018-10-26 01:10] yannlabou commented on #190
Claiming this one :)

[2018-10-26 01:12] ihhub commented on #190
Yep :)

[2018-10-26 01:27] ihhub opened #191 "Include BinaryDilate and BinaryErode functions into unit tests"
These functions are defined in `src/image_function.h` file. We have unit tests for image functions located at `test/unit_tests/unit_test_image_function.cpp`. The definitions of function pointers already exist within the file:
[code]

We need to add test functions. In these functions for `BinaryDilate` we create a white (255) image but put few black (0) pixels on random places, for `BinaryErode` we

[2018-10-26 02:06] lrm25 commented on #183
Do you need a separate function?  File deletion without error handling is just "remove(<path>)".  If so, I can add it though.

[2018-10-26 02:08] ihhub commented on #183
Sorry, I think you are right. We don't need a separate function as this is just one line function call.

[2018-10-26 02:33] yannlabou commented on #190
@ihhub  Can you check where OpenCL.lib is located on the Appveyor machine? I can't install CUDA on my Windows machine since my graphics driver are not compatible.

[2018-10-26 02:37] yannlabou commented on #190
I got it `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\lib\x64\OpenCL.lib`

[2018-10-26 02:38] ihhub commented on #190
It's not possible to check manually but you could create a small script (***.bat file** for example) which would list all files and directories and run this script to find the exact location of the file in Appveyor.

[2018-10-26 06:32] #183 closed

[2018-10-26 07:07] ihhub commented on #165
@thirdknife , any progress on it? Do you need any help? We little struggle about this because **Appveyor** doesn't support parallel jobs so we waste a couple of minutes for tests.

[2018-10-27 01:36] #190 closed

[2018-10-27 06:05] 0x72D0 commented on #137
ok, -mcpu=cortex-a53 was the culprit behind the bus error, with only -mfpu=neon-vfpv4, it works like a charm!

[2018-10-27 06:07] ihhub commented on #137
Great. At least we know the fix so we could somehow modify or add a description to end user.

[2018-10-27 06:11] 0x72D0 commented on #138
yup it's works fine with `-mfpu=neon-vfpv4`, so maybe we can make the makefile to detect automatically when we are on arm and call g++ with `-mfpu=neon-vfpv4` instead of `-march=native`

[2018-10-27 06:59] #73 closed

[2018-10-27 13:52] ihhub commented on #72
Ah, sorry. Missed you previous question. There is no any preference in QT but I recommend 5.6 or 5.9.

Yes, you could work on it

[2018-10-27 13:52] ihhub commented on #182
The work in progress for this issue.

[2018-10-27 14:31] #182 closed

[2018-10-27 14:45] ihhub opened #196 "Run static analyser only on certain directories in Travis-CI job via bash script"
We have a job in Travis-CI job to run static analysis on our own code (`script/travis/run_script.sh`):
[code]

Such code run full analysis on **cppclean** itself too which we don't need to do. We want to run cppclean only on `src`, `test` and `examples` directories.

[2018-10-28 01:58] #196 closed

[2018-10-28 13:24] ihhub opened #201 "OpenCL: add missing variations of Flip() function"
**OpenCL** code (`src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` files) has only 2 instances of **Flip** function while CPU code (`src/image_function.h` and `src/image_function.cpp` files) has 2 more for ROI support. We need to add the rest of 2 functions into OpenCL code.

[2018-10-28 13:25] ihhub opened #202 "CUDA: add missing variations of Flip() function"
**CUDA** code (`src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files) has only 2 instances of **Flip** function while CPU code (`src/image_function.h` and `src/image_function.cpp` files) has 2 more for ROI support. We need to add the rest of 2 functions into CUDAcode.

[2018-10-28 14:14] ihhub opened #204 "Compilation failure doesn't fail Travis-CI job"
Recently we move logic for `script:` from **.travis** file into `script.travis/run_script.sh`.  This script always returns **0**  (pass) even if compilation (via CMake) fails. Before this change the code for `script:` was:
[code]
which makes bash to check each line for return code.

We need to find a compromise to run compilation with correct checks and to do not run compilation for static analysi

[2018-10-28 14:28] yannlabou commented on #204
Will do

[2018-10-29 01:38] ihhub opened #207 "SIMD implementation of Hough Transform"
We have _Hough Transform_ implementation of CPU (`src/math/hough_transform.h`). We want to add SIMD (**NEON**, **AVX** or **SSE**) implementation of the same function. The finest part for SIMD integration is this loop:
[code]

1. Create new files named `src/math/hough_transform_simd.h` and `src/math/hough_transform_simd.cpp`
2. Put the function under `Image_Function_Simd` namespace
3. Don't forget

[2018-10-29 01:47] ihhub opened #208 "Change static analyser output in Travis-CI"
We have a separate job in [Travis-CI](https://travis-ci.org/ihhub/penguinV) exclusively for static analysis (_STATIC_ANALYSIS=ON_). We use **cppclean** which we clone from github for this job. The script sits at `script/travis/run_script.sh` location.
We need to do **not** show lines which end with:
`not found in any directly #included header`
`or any other directly #included header`

[2018-10-29 04:01] ihhub commented on #165
@yannlabou you could take this issue as we don't have a response from @thirdknife .

[2018-10-29 05:17] ihhub opened #209 "Fix (add *.h and *.cpp files) certain example projects"
With recent changes `src/image_function.cpp` uses `src/penguinv/penguinv.cpp` file. This is a list of example projects which fail:
[code]
Examples are located into `examples` directory.

We need to add `penguinv.h` inclusion into project files as VS files, makefiles and README files.

[2018-10-29 06:30] yannlabou commented on #208
By the way. Why cloning the complete repo if we could just `pip install cppclean`?

[2018-10-29 06:35] ihhub commented on #208
You're right, it would be better.

[2018-10-29 08:53] yannlabou commented on #165
@thirdknife just pass `-E` to `ctest` as in https://github.com/ihhub/penguinV/blob/cc2a371207c85b50edd9a2be78499563a1d25586/appveyor.yml#L38

[2018-10-29 11:12] #209 closed

[2018-10-29 12:56] #204 closed

[2018-10-29 13:48] azarkevich-sa opened #212 "RaspbberyPi not support OpenCL."
RaspbberyPi not support OpenCL.
When compiled tests write errors.

[code]

[2018-10-29 13:52] ihhub commented on #212
@yannlabou, wanna take a look? I think we should check OpenCL existence before including tests.

[2018-10-29 13:58] yannlabou commented on #212
Will do :)

[2018-10-29 14:38] MatthewMcGonagle commented on #154
I'm writing a simple example to test the changes I have made, but I think I have found a problem with the original ComplexData::get(). In both my code and the master code, if you run something like (`image` has already been properly loaded as a grayscale version of `mercurcy.bmp`):
[code]
then `grayscale.bmp` is correct, `grayscale2.bmp` is all black.

Now, I think the issue is that in `ComplexDat

[2018-10-29 14:45] ihhub commented on #154
I'm just writing unit tests for FFT, First of all image width and height must be same and equal to 2^n. Here is a simple test:
[code]
In result we should receive totally the same image.

The logic inside `get()` is correct. You have to divide after DFT by number of elements and swap quadrants.

[2018-10-29 14:47] ihhub commented on #154
The above example is an implementation of complex multiplication of  function **f()**  with Dirac delta function in frequency domain. The result must be the same after conversion to spatial domain.
kissfft doesn't work properly with any image size. We should fix it later.

[2018-10-29 14:51] ihhub commented on #154
@MatthewMcGonagle , here is [an answer](https://en.wikipedia.org/wiki/Discrete_Fourier_transform#Properties) (*The inverse transform is given by:*) for your question regarding division by size.

Current code still has some problems like normalization and verification of image size :(

[2018-10-29 15:25] MatthewMcGonagle commented on #154
So if I understand your test correctly, you are testing the algebraic properties of DFT and convolution by looking at the specific case of convolution with a dirac delta?

[2018-10-29 15:33] ihhub commented on #154
Yes. This test shows that FFT code works perfectly fine on ideal case. You could have a look at filtering.h, GetGaussianKernel function which generates filter. Appling this filter (through FFT) makes your image blur. This is more use case for FFT but it's hard to write a correct unit test.

[2018-10-29 21:03] rummanwaqar commented on #146
@ihhub Sorry I got very busy at work and will not be able to continue work on this issue

[2018-10-29 21:22] yannlabou commented on #212
We could also update the documentation. I don't exactly know where? A workaround would have been for example invoking CMake with `cmake -DPENGUINV_BUILD_UNIT_TEST_OPENCL=OFF ..`

[2018-10-29 21:40] yannlabou commented on #166
@jvce92 Do you need help on this?

[2018-10-30 00:03] ihhub commented on #146
It's okay. Thanks for informing.

[2018-10-30 00:29] #165 closed

[2018-10-30 00:36] ihhub commented on #212
@yannlabou , isn't your pull request enough for solving the problem?

[2018-10-30 00:42] ihhub commented on #212
@yannlabou , additionally I see here second problem: `Specified unknown feature "cxx_std_11" for target`. After digging the information about this issue (you could read partially [here](https://stackoverflow.com/questions/49012222/c11-activation-with-target-compile-feature-or-set-cmake-cxx-standard/49027994#49027994) ) I suggest that @azarkevich-sa modified CMakeLists in order to execute because C

[2018-10-30 00:55] lrm25 commented on #191
I'll take this one.  Also, did you mean that the "inputs" to the test should be fully white or fully black images, or did you mean that you should dilate the white image to the point where it becomes completely black, and the opposite when eroding?

[2018-10-30 01:00] ihhub commented on #191
The purpose of dilation is to expand white area of image, while for erode - to expand black area. Images must be binary normalised images meaning that they should contain only 0s and 255s.

For dilate case: you create a totally white image and put at random place for example 1 black pixel. After dilation your image must become fully white. Of course, putting multiple pixels would be better for tes

[2018-10-30 01:28] ihhub commented on #208
As we found `pip install cppclean` doesn't work.

[2018-10-30 01:29] ihhub commented on #110
In progress.

[2018-10-30 04:00] ihhub commented on #116
Hi, @0x72D0. This issue is very similar to #113 . Would you like to have a look?

[2018-10-30 04:10] 0x72D0 commented on #116
Yeah it would be a pleasure for me to try this one, but I'm a little bit occupied this week, so maybe I can start it this weekend :)

[2018-10-30 04:51] dianarg commented on #171
I tested the readme steps on a Windows system using PowerShell.  The process is not too much different from Linux, except that swig.exe was not in a default location for me.  The other difference was that pydoc was not available standalone; you have to use `python -m pydoc`.

[2018-10-30 05:00] ihhub commented on #116
No rush, take your time. Thanks for willing to work (later) on it!

[2018-10-30 05:04] ihhub commented on #171
It's true. This issue is made to create a very simple description for users who have no intention to do extra moves at all. Why? Because many users once facing a little issue with installation/compilation turn out from the product. That's why it's very important to have a detailed description guiding people step by step even if it's only slightly different from Linux (for example you have to set e

[2018-10-30 05:36] ihhub opened #216 "Float specification of Hough Transform function"
We have Hough Transform implementation which locates in `src/math/hough_transform.h` and `src/math/hough_transform.cpp` files. This implementation is based on `double` type usage. We need to have  **float** implementation as well but without duplication of function. The changes we need:
1. In header file use `PointBase2D<double>` instead of `Point2d`
2. Add the same function but all input data is

[2018-10-30 05:51] yannlabou commented on #212
/pull/214 indeed solves the issue. I thought it my be worth mentioning project specific CMake options in the doc.

[2018-10-30 05:59] ihhub commented on #212
@yannlabou it is a good idea too. What exactly are we going to add there except `DPENGUINV_BUILD_UNIT_TEST_OPENCL=OFF`?

[2018-10-30 06:05] yannlabou commented on #212
When /pull/200 will be merged, I think `PENGUINV_BUILD_EXAMPLE` and `PENGUINV_BUILD_QT_EXAMPLE` are also good candidates. More generally, as a user I need the freedom to build part of a project to speed up compile time.

[2018-10-30 06:52] ihhub opened #217 "Do not inherit FunctionRegistrator from penguinV::FunctionTable"
We have 4 independent structures of `FunctionRegistrator` in these files:
[code]

`FunctionRegistrator` structure is inherited from `penguinV::FunctionTable`. In constructor we initialise table/structure and then we make a call of `penguinV::registerFunctionTable` with `this` pointer which is wrong and could lead to uncertain situations.

We need to do **not** inherit from `penguinV::FunctionTable

[2018-10-30 06:59] jvce92 commented on #166
Hi @yannlabou, I'm having some issues with linker errors that I'm trying to figure out. I've never used CMake with CUDA before and I struggled a bit using CMake native support.

Could you give me some guidance?

 Here is my CMakeLists.txt file https://github.com/jvce92/penguinV/blob/issue-166-add-cuda-check-and-cmake-files/test/performance_tests/cuda/CMakeLists.txt

[2018-10-30 07:00] ihhub commented on #166
@jvce92 could you please post message the errors? It'd be easier to find out what went wrong.

[2018-10-30 07:06] ihhub commented on #166
@jvce92 by the way, you don't need to compile `${LIB_DIR}/cuda/cuda_fft.cu` as it's not included in performance tests so you could remove `find_library(CUFFT_LIBRARY cufft ${CMAKE_CUDA_IMPLICIT_LINK_DIRECTORIES})` line as well.

[2018-10-30 07:10] jvce92 commented on #166
Pretty much every function in the test source files comes up as an undefined reference in the last linking step. Here is stderr output

`CMakeFiles/performance_tests_cuda.dir/performance_test_helper_cuda.cu.o: In function `Performance_Test::Cuda_Helper::TimerContainerCuda::TimerContainerCuda()':
tmpxft_000019a0_00000000-4_performance_test_helper_cuda.cudafe1.cpp:(.text+0x71): undefined reference t

[2018-10-30 07:15] yannlabou commented on #166
Hi @jvce92, I can try to build your branch and help debugging at earliest this evening.

[2018-10-30 07:16] ihhub commented on #166
@jvce92 I modified your message to bash view :)

Anyway, you miss to include at least files such as:
[code]

and remove `${LIB_DIR}/cuda/cuda_fft.cu` with `${LIB_DIR}/cuda/filtering_cuda.cu`

please check `performance_tests_cuda.vcxproj` (Visual Studio project) file for file inclusion.

[2018-10-30 07:59] #217 closed

[2018-10-30 10:11] yannlabou commented on #212
@ihhub Could this issue be closed or what do you think is missing to resolve this issue?

[2018-10-30 10:41] #72 closed

[2018-10-30 10:45] ihhub commented on #212
@azarkevich-sa could you please try to compile with latest version?

[2018-10-30 10:47] ihhub commented on #212
@yannlabou , I'm thinking that the person would still have `cxx_std_11` error. Let's wait for a reply.

[2018-10-30 11:10] azarkevich-sa commented on #212
I tried to compile with CMake 3.7.1. I changed minimum required version to mine. OpenCL error is gone but 'cxx_std_11' error is still there

[code]

[2018-10-30 11:29] yannlabou commented on #212
We are using CMake 3.8 features because we are explicitly requiring it as minimum requirements in the project main [CMakeLists.txt](https://github.com/ihhub/penguinV/blob/01213f8db9dc28850da207296182bfb8dd517edb/CMakeLists.txt#L1). It might be better to open a new issue if we want to lower our requirements.

[2018-10-30 11:37] yannlabou commented on #212
@azarkevich-sa You can comment those lines. I strongly believe that you will still be able to build the project. As mentioned before, you might need to upgrade your CMake version to at least 3.8.

[2018-10-30 14:57] #110 closed

[2018-10-30 15:11] ihhub opened #222 "Python compilation fails"
I've run script for Python compilation on Windows 7 machine with installed Visual Studio 2015. I got an compilation error. Here is a log:
[code]

We have to fix the compilation for Python.

[2018-10-30 15:18] ihhub commented on #222
I might make a separate change to do not register functions via application startup so we would not need to do Python fix. I'll try to fix it in a day.

[2018-10-30 15:35] ihhub commented on #222
Actually, by mocing functionRegistrator to image_function_helper might solve this problem as we don't need to have dependency from penguinv.h then.

[2018-10-30 16:03] ihhub commented on #222
Tomorrow I'll commit fix for this issue.

[2018-10-30 20:46] MatthewMcGonagle commented on #154
Trying to setup an example to check the results for Cuda based fft, and I'm looking at `examples/cuda/example_image_function.cpp`. For the function `gpuBased()`, I don't understand why the following assignment is to `Image` instead of `ImageCuda`:

[code]
We are passing the instance of `ImageCuda` returned by `ConvertToCuda()` to `Image::operator=()`, which is okay as `ImageCuda` is derived from `

[2018-10-30 21:33] yannlabou commented on #166
Hi @jvce92. I'm missing in your [CMakeLists.txt](https://github.com/jvce92/penguinV/blob/a1c07f67ee36fd1f46ec6a0e44098214fcd4de52/test/performance_tests/cuda/CMakeLists.txt) the sources
- `image_function_helper.cpp`
- `performance_test_framework`
- `performance_test_helper.cpp`.

Further I think you can remove `${LIB_DIR}/cuda/cuda_fft.cu` and `${LIB_DIR}/cuda/filtering_cuda.cu`.

I had also recom

[2018-10-30 21:34] yannlabou commented on #166
Sorry. I missed the comment of @ihhub earlier about the missing sources.

[2018-10-30 21:34] MatthewMcGonagle commented on #154
Another question: When I use `FFT_Cuda::ComplexData::set(Image &)` on something of type `Image` instead of  type `ImageCuda`, I get the exception "Cannot create FFT plan on CUDA device". So it seems doing so gives me an error related to calling `cufftPlan2d()`. Is this expected to happen?

[2018-10-30 22:04] yannlabou commented on #208
/pull/223

[2018-10-31 00:11] ihhub commented on #154
Nope. All image functions accept base type `Image`. If you follow the code each function calls `Image_Function_Helper` namespace function which creates (if necessary) a proper instance of Image class. Going forward with recent changes we could have a single interface for any image types (as it's done in `penguinv.cpp` file) so we could just create an image type which we want to work with and we do

[2018-10-31 00:13] ihhub commented on #154
If you are not sure about the correct types of Image passed into your function you could check like this:
[code]

[2018-10-31 00:16] ihhub commented on #154
Could you please paste you code? I'm not sure about this.

[2018-10-31 00:31] ihhub opened #224 "Find a source of crash for unit tests on Windows"
We have auto-compilation on **Windows** via **AppVeyor**. We're facing random crash (segmentation fault) during unit tests. Here are multiple logs: [one](https://ci.appveyor.com/project/ihhub/penguinv/builds/19917313/job/nr98b2vnir12wkdv) and [two](https://ci.appveyor.com/project/ihhub/penguinv/builds/19877652/job/mcwhcyw9m4s7tnh7).

We need to find a source of these random crashes.

[2018-10-31 00:48] ihhub opened #225 "Fix makefile (include missing files) for unit tests"
[Recently](https://github.com/ihhub/penguinV/commit/d2efec1d70e85210980561b113643613fa2b8778) we added FFT tests to our unit test project. Changes were made for Visual Studio project files and for CMake. We need exact changes for makefile which locates at `test/unit_tests/makefile`

[2018-10-31 01:20] lrm25 commented on #191
Which namespaces do you want the tests in?  There's "image_function", "function_pool", "avx", "neon", and "sse".

[2018-10-31 01:50] ihhub opened #226 "Travis-CI: static analyser still shows invalid lines"
[Recent commit](https://github.com/ihhub/penguinV/commit/d4b94aaf942ed1840e052abf3608eab76a81df72) was supposed to hide output lines which contain specific word pattern. Unfortunately, this code just remove that word pattern instead of not showing lines.

In adding to this we have hide lines which contain ` not found in expected header ` word pattern.

[2018-10-31 01:51] ihhub commented on #226
@yannlabou I think you would be interested in this :)

[2018-10-31 01:58] ihhub commented on #226
How about this solution (which is not optimal but at least you could get an idea):
`cppclean src test examples | grep -v " not found in expected header " | grep -v " does not need to be #included; use a forward declaration instead" | grep -v " not found in any directly #included header"`

I tested on my side and it works fine.

[2018-10-31 02:12] ihhub opened #227 "Add dynamic code analyser as a separate Travis-CI build job"
We're facing a random segmentation fault issue on Windows builds (#224 ). To find it and to prevent future potential issues we could create a separate Travis-CI build job with debug build on **Linux**. We could use **[valgrind](http://valgrind.org/)** as an analyser and see how it goes. As of now we don't need to install CUDA for such build job.
We should pass the build in any case as it could pro

[2018-10-31 03:50] ihhub opened #229 "Add cache manager class for FFTExecutor"
It's a known problem that a creation of FFT plans takes a lot of time compare to actual FFT computations. We have `FFTExecutor` class which locates in `src/fft.h` and `src/fft.cpp` files. What we need:
1. add an extra static function to enable/disable caching for this class:
`static void enableCaching(); // enables internal caching allowing for faster FFT plan initialisation`
2. `src/fft.cpp` must

[2018-10-31 05:09] yannlabou commented on #226
Fixing it in /pull/230

[2018-10-31 05:56] #226 closed

[2018-10-31 13:54] #222 closed

[2018-10-31 14:24] ihhub commented on #166
hi, @jvce92 , I've removed `penguinv.cpp` file usage from cuda so you don't need to include it if you update to latest version of the code.

[2018-10-31 20:46] MatthewMcGonagle commented on #154
Here's a minimal example with error (and passes with using `ImageCuda`); I think the `FFTExecutor::initialize()` might be a bit of a red herring. If I run it without using `FFTExecutor::intialize()`, inside `makeError()` everything runs through until the "End of main()" output, but I then get a Microsoft Visual C++ Runtime Library Error (I'm building on windows). However, if I just run `doErrorFre

[2018-10-31 22:43] MatthewMcGonagle commented on #154
I think the issue might be with `FFT_CUDA::ComplexData::set(Image &)` calling `copyFromImageCuda()`. If I understand this correctly, this is working with addresses on the GPU and not on the host machine. So passing in the pointer from a regular `Image` is a pointer to local memory instead of memory on the GPU?

[2018-10-31 23:52] ihhub commented on #154
set function of ComplexData indeed accepts base type Image because as I mentioned earlier all image functions do the same. In error free case you convert CPU memory based image into GPU memory based image before passing into set function. In error case you don't. In image_function example for CUDA we do conversion as well.

About Image class itself: base class surprisingly knows everything about e

[2018-11-01 13:06] yannlabou commented on #227
Will do :)

[2018-11-01 19:50] lrm25 commented on #191
Do you think it would be helpful to have test cases or a single test case for an image that can't be dilated (such as a 1x1 black image, or any fully black image or area)?  What do you think is the best way to add test cases that run only once to this framework?  I'm using a static bool right now to prevent the single same scenario from running 1000 times, but is there a better method?

[2018-11-01 21:16] MatthewMcGonagle commented on #154
I see now that `Image` and `ImageCuda` are accessing functions that are statically stored in `Function::Facade`, but the class `FFT_Cuda::ComplexData` still seem to be making memory allocations/deallocations independent of what the `Image` instance is doing.

To start with, my understanding is that the four `__global__` functions the beginning of `fft_cuda.cu` are run on the GPU, and any memory lo

[2018-11-02 00:12] ihhub commented on #154
You're correct regarding 4 first functions at beginning of the file. These functions only work with GPU memory and executed only on GPU.

Adding a type check inside `set` function would solve the problem with Image type. `set` function indeed has an error, it should be `ImageCuda`.

If this wouldn't solve the problem, give me some time to check the behaviour myself.

[2018-11-02 03:33] ihhub commented on #191
An image that cannot be dilated is not a bug. If image is totally black or white then nothing you could do despite of image size.

Please, do not use static variables. A loop in 1001 cycles is design to catch all potential problems. You have to generate a random size image for each iteration.

[2018-11-02 20:36] lrm25 commented on #191
Sorry if I wasn't clear.  I meant a unit test to make sure that things that shouldn't be dilated are NOT dilated.  And I was just concerned that strictly relying on random value generation can miss edge cases that should be checked individually (such as 1x1 images, images with 1 row or column, etc.).

Also, I've got the commit ready, but I noticed the makefile issues.

[2018-11-03 00:42] lrm25 commented on #225
I took care of this.  The fix is in the pull request for the binarydilate/binaryerode issue.

[2018-11-03 07:03] ihhub commented on #154
I [fixed](https://github.com/ihhub/penguinV/commit/8dc82a9e8649d1b107a27294cc2a161418ebe82a) the source of black images. The problem was in wrong input parameters for `memcpy` function on CUDA (input and output pointers were swapped). Now you could try your example code with this fix. It should work now.

[2018-11-03 07:16] ihhub commented on #154
Last thing: please use image with dimensions equal to 2^n such as 256 x 256 or 128 to 128. There is a modification of your code to test properly:
[code]

I resize in image editor `mercury,bmp` to 256 by 256 pixels before running your test code. If you don't do complex multiplication (your original code) when quadrants in output image would be swapped.

[2018-11-03 14:57] ihhub opened #234 "Add one command line argument for unit and performance tests"
Recently [we've added](https://github.com/ihhub/penguinV/commit/99d0e3514cd001c91f588f239e1113fb5f8ff6d9) command line argument for unit tests (`test/unit_tests/unit_tests.cpp`) application which is an integer for setting iteration count for each tests. We need to do the same for the following files:
[code]

Please add exactly the same function in `test/performance_tests/performance_tests_helper.c

[2018-11-03 15:07] ihhub opened #235 "Add unit tests for ImageCuda class like it's done for original Image class"
We have unit tests for our base class `PenguinV::Image` in `test/unit_tests/unit_tests_image_buffer.cpp`. We need to do the same stuff for `PenguinV::ImageCuda` class:
1. Add new files called `test/unit_tests/cuda/unit_tests_image_buffer_cuda.h` and `test/unit_tests/cuda/unit_tests_image_buffer_cuda.cpp`
2. Create a function in header file called `addTests_Image_Buffer_Cuda`
3. Include new header

[2018-11-03 15:09] ihhub opened #236 "Add unit tests for ImageOpenCL class like it's done for original Image class"
We have unit tests for our base class `PenguinV::Image` in `test/unit_tests/unit_tests_image_buffer.cpp`. We need to do the same stuff for `PenguinV::ImageOpenCL` class:
1. Add new files called `test/unit_tests/opencl/unit_tests_image_buffer_opencl.h` and `test/unit_tests/opencl/unit_tests_image_buffer_opencl.cpp`
2. Create a function in header file called `addTests_Image_Buffer_OpenCL`
3. Include

[2018-11-03 15:26] ihhub opened #237 "Fix compilation warnings in kissfft (C language) code"
We use **kissfft** C library for FFT computations on CPU, which locates at `src/thirdparty/kissfft`. Unfortunately compiler on Linux and MacOS complains about multiple warnings during the compilation. These warnings you could find in [Travis-CI build](https://travis-ci.org/ihhub/penguinV) under ` CUDA=8.0.61-1 CMAKE_OPTIONS="-DPENGUINV_BUILD_TEST=ON"` job for example. Ideally we need to fix all of

[2018-11-03 15:52] ihhub opened #238 "Include #pragma once into header files"
There are few files missing `#pragma once` preprocessor directive which could cause compilation issues in the future. We have to fix this:
[code]

[2018-11-03 16:20] ihhub opened #239 "Rename 4 files and fix makefile, CMake and VS project files after"
We have 4 files in our library which we want to rename (for future library development):
[code]
new names and location for these files must be:
[code]
After that we need to fix file location in all needed makefiles, CMake files and VS project files which locate in `examples` and `src` directories (not so many as you could think :) ).

For a person willing to work on this issue: please do not hesit

[2018-11-04 06:01] #225 closed

[2018-11-04 09:02] #191 closed

[2018-11-04 12:58] ihhub opened #241 "Set iteration count for unit tests on AppVeyor to 500 via command line argument"
**AppVeyor** doesn't support parallel job execution. In this case full build takes around 30 minutes which is in about 2 times slower than a build on Travis-CI. To reduce this timing we could set an iteration count for unit tests compiled application. Default value for iterations is 1001. We need to set the value to **500**.

[2018-11-04 21:34] MatthewMcGonagle commented on #154
The [cudaFFT documentation](https://docs.nvidia.com/cuda/cufft/index.html#multiple-GPU-cufft-supported-functionality) says that for 2D C2C the dimensions should factor into prime less than 127 (the smaller the primes the better). Is the 2^n format really necessary for `FFT_Cuda::FFTExecutor` and `FFT_Cuda::ComplexData`?

[2018-11-05 00:41] ihhub commented on #154
Not really, actually. 2^n gives the best performance.

[2018-11-06 02:44] #227 closed

[2018-11-06 10:43] ihhub opened #243 "Unit tests are executed twice for AppVeyor"
Unit tests are executed twice for **AppVeyor** due to [recent changes](https://github.com/ihhub/penguinV/commit/c3b9640825c4b58912a0646cc25b6f94d88b38ee) in CMake. We shouldn't execute `add_test(NAME unit_test_valgrind COMMAND unit_tests 10)` command for AppVeyor and for normal CMake on user's machine.

[2018-11-06 10:44] ihhub commented on #243
@yannlabou Do you want to take a look on this bug as it's a continuation of last pull request? :)

[2018-11-06 10:46] yannlabou commented on #243
Sure :)

[2018-11-06 12:22] ihhub commented on #243
@yannlabou would you be interested becoming a [collaborator](https://help.github.com/articles/permission-levels-for-a-user-account-repository/#collaborator-access-on-a-repository-owned-by-a-user-account) of the project?

I see that you spend a lot of your personal time to make the project better and I appreciate it very much. If you have a great interest in the project and (as I remember) going to

[2018-11-06 13:32] ihhub opened #244 "Enable OpenCL support for CPU device"
Existing code restrict OpenCL for GPU devices only. It's a reasonable solution as native CPU code always works (with proper optimization) faster than OpenCL code. We could face a situation in the future when writing OpenCL kernels in a separate file might reduce workload for specific tasks.
We need to add a flag during device manager initialization to enable support for CPU devices as well. The re

[2018-11-06 23:44] #243 closed

[2018-11-07 05:14] yannlabou commented on #243
@ihhub I really appreciate your offer and I would love to support the project as [collaborator]. I don't have much more time than I spend right now on the project but I'll certainly invest more later.

[2018-11-07 06:08] yannlabou commented on #241
@ihhub Must it be a command line argument? The simplest solution looks like
[code]

[2018-11-07 13:37] ihhub opened #247 "Change return value of example projects from 0 to 1 and 2"
All examples in `examples` directory have contain `main` function body which consist of `try ... catch` block:
[code]

We need to modify every code into:
[code]

Notable changes:
- return code are different
- we catch `std::exception` instead of `imageException `

[2018-11-07 13:42] ihhub commented on #154
Hi, @MatthewMcGonagle . How is it going? :)

[2018-11-07 14:09] #171 closed

[2018-11-07 22:57] MatthewMcGonagle commented on #154
Hi @ihhub, I've tried out your example code, and I enlarged `mercury.bmp` to be 256x256 and everything with the original code is working well. However, with the original `mercury.bmp` dimensions, the output isn't quite right. However, it does all work well in the 256x256 case.

I'll get to work on finishing the base classes. Thanks for the help.

[2018-11-08 01:18] ihhub commented on #241
Hm, let me think about it...

[2018-11-08 01:28] ihhub commented on #241
What if we use an enviroment variable which by default is empty and we pass this variable just after `unit_tests` line?
`add_test(NAME unit_test COMMAND unit_tests ${UNIT_TEST_RUN_COUNT})`

[2018-11-08 06:18] yannlabou commented on #241
Still I don’t know how to pass the variable. We are instrumenting the tests via `ctest` calls on appveyor and travis. It seems impossible to do something like `ctest <some_test> ${UNIT_TEST_RUN_COUNT}`.

[2018-11-08 06:31] yannlabou commented on #241
Something like `add_test (NAME unit_test COMMAND unit_tests $ENV{UNIT_TEST_RUN_COUNT}` and later in our scripts
[code]
might work. I’m on holiday til Sunday and can’t really code on my iPad ;). Let me know if this works.

[2018-11-08 06:38] ihhub commented on #241
I'll test this later once I have time.

[2018-11-08 08:34] kgorecki commented on #247
@ihhub what about some cool enumerator for error codes?

[2018-11-08 08:47] ihhub commented on #247
Each example has independant code. You're suggesting to duplicate the enumeration in each example. This isn't reasonable.

[2018-11-08 08:51] kgorecki commented on #247
I'd rather suggest something like this in some header file to be included in examples
enum class PenguinErrorCodes
{
  NoError = 0,
  GenericException,
  ImageException
};

[2018-11-08 08:53] ihhub commented on #247
We print a message before returning something so we could even just return 1 for both cases without enumeration.

[2018-11-08 08:55] ihhub commented on #247
We need to keep example code as sumple as possible so people won't turn their backs. Enumeration just complicates a little the understanding of the code if it would be in a separate file or somewhere else.

[2018-11-08 09:06] kgorecki commented on #247
Sure, it was just a suggestion. If nobody else wants to get this one, I can take it.

[2018-11-08 09:06] ihhub commented on #247
Okay, thanks!

[2018-11-08 09:09] ihhub commented on #247
@kgorecki please don't be upset if I wrote something wrong. I've just explain my point of view :)

[2018-11-08 09:10] kgorecki commented on #247
@ihhub nah, I'm not upset nor anything like that. I started the discussion just to share opinions ;}

[2018-11-08 09:14] ihhub commented on #247
That's cool. We always need more opinions to find the best solution ;)

[2018-11-09 03:35] 0x72D0 opened #249 "bad randomization in projectionProfile unit tests"
in the projectionProfile unit tests, there's a bad randomization with this line:

https://github.com/ihhub/penguinV/blob/57fa31ca7dfb5af390a424772d3ebdc3e296a4cc/test/unit_tests/unit_test_image_function.cpp#L1456

this line call the randomValue template declare at these line:

https://github.com/ihhub/penguinV/blob/57fa31ca7dfb5af390a424772d3ebdc3e296a4cc/test/unit_tests/unit_test_helper.h#L93-L10

[2018-11-09 21:45] MatthewMcGonagle commented on #154
A brief question as to how to resolve an inconsistency in the two versions of `FFTExecutor`. The non-cuda version `FFT::FFTExecutor::directTransform( const ComplexData & in, ComplexData & out )` has its first parameter as constant and the cuda version `FFT_Cuda::FFTExecutor::directTransform(ComplexData & in, ComplexData & out )` does not. If you try to make the cuda version have a constant first p

[2018-11-10 05:22] ihhub opened #251 "Change randomValue function's maximum value"
We have a function `randomValue` template function in unit and performance tests (`test/unit_tests/unit_test_helper.h` and `test/performance_tests/performance_test_helper.h`) which has a body:
[code]

This function leads to misunderstand because maximum value is actually a limit which cannot be reached. There are multiple possible solutions to this problem:
1. Change `rand() % maximum` to `rand()

[2018-11-10 05:36] ihhub commented on #154
Logically, `cufftExecC2C` must not change input array but there is no guarantee as we don't know the code inside the function. Current solution would be to make both `FFT` and `FFT_Cuda` to use non-const reference. For CUDA we could change it later to const reference with `const_cast` inside the function (which is unsafe of course).

[2018-11-10 12:46] 0x72D0 commented on #116
I test the performance for projectionProfile, this is the performance when horizontal is true:

![screenshot_20181110_074156](https://user-images.githubusercontent.com/16087328/48301461-959ed880-e4bc-11e8-8791-6085fd99d0ab.png)

and when horizontal is false:

![screenshot_20181110_073934](https://user-images.githubusercontent.com/16087328/48301463-a2233100-e4bc-11e8-8a6c-33dfbe1022cd.png)

the fun

[2018-11-10 14:17] ihhub commented on #116
This is what I expected. Multithreaded version is slower for small images because mutex synchronization takes some time.

[2018-11-11 08:31] #241 closed

[2018-11-11 08:57] ihhub opened #253 "Add a script to output contents of log files within a folder"
In Travis-CI script (`.travis`) for dynamic analysis we output valgrind results into log files. It's done by MemChecker itself. Currently we output results of log file with fixed name:
[code]
The main attention is on number 2 which is actually hardcoded. It's not a perfect solution.
To avoid this we need to create a script which would find all files with **.log** extension and output all contents

[2018-11-11 08:58] ihhub commented on #116
@0x72D0 are you going to implement SSE and NEON as well?

[2018-11-11 14:45] 0x72D0 commented on #116
yeah sure, I think, I'm gonna do sse today, but for MEON it migth take a little bit of time before I completed it...

[2018-11-12 01:38] ihhub opened #255 "Use aligned data for SIMD code wherever possible"
We have SIMD code in `src/image_function_simd.cpp` file. It works fine. We want to have the best performance as possible. There are multiple places where we could improve speed. We use `_mm_storeu_si128` and `_mm256_storeu_si256` to copy results from simd data types into normal (`uint32_t`) types. Normal types are unaligned. We could align them and use the same operations but for unaligned version

[2018-11-12 01:40] ihhub commented on #255
@0x72D0 you might have an interest in this ;) There are 3 or 4 places only to cover.

[2018-11-12 02:38] 0x72D0 commented on #255
oh this project sounds fun! But do you have an idea how can we do that? We have to make a different alignment size for SSE (16-bit) and AVX (32-bit). Also, we need to align the vector itself so we can't  simply use memalign

[2018-11-12 02:51] 0x72D0 commented on #255
I think the easiest way to go is to make or use a specific allocator to std::vector

[2018-11-12 02:57] ihhub commented on #255
My first assumption is regarding to the code for loading final data into variable. We cannot assume that std::vector is aligned correctly but we could makes checks in the function to see an aligment of input and output data before running the real code. The biggest problem is that instricts are not functions so you cannot use function pointers.

[2018-11-12 02:58] ihhub commented on #255
You could see that every function uses unaligned data load and save which is a big drawback in performance.

[2018-11-12 03:03] 0x72D0 commented on #255
we cannot assume that std::vector is aligned, but according to the template prototype: `template < class T, class Alloc = allocator<T> > class vector;` we can pass an allocator to the vector, so if we align the data with the allocator, we know that the data is align

[2018-11-12 03:04] 0x72D0 commented on #255
some people on stack overflow have tried this: https://stackoverflow.com/questions/12942548/making-stdvector-allocate-aligned-memory

[2018-11-12 03:04] ihhub commented on #255
I mean that end user (somebody else) would not care about this thing while calling the function.

[2018-11-12 03:08] 0x72D0 commented on #255
yeah that's true...

[2018-11-12 03:19] 0x72D0 commented on #255
maybe we can give to the end user a "special" kind of vector, by doing a `using image_vector = vector<T, allocator_simd>` and we change the function call to projectionProfile and Accumulate

[2018-11-12 03:29] ihhub commented on #255
No-no. I'm talking about general solution. We use std::vector only for one function while we have many of them :) We should concentrate our focus of image data load and save.

[2018-11-12 03:43] 0x72D0 commented on #255
but the image also use an std::vector, no?

[2018-11-12 05:15] ihhub commented on #255
No, it's a raw allocated array. Additionally, we handle ROI (region of interest) which could be smaller than original image size. Even if you allocate an image with correct alignment it could be a situation when ROI start position is not aligned.

[2018-11-12 06:08] 0x72D0 commented on #255
oh I understand now... ROI make everything more difficult... the only way I can think is copying the ROI in an aligned memory space... but I think, that will hurt the performance...

[2018-11-12 09:03] yannlabou commented on #59
I had suggest following this [library layout](https://api.csswg.org/bikeshed/?force=1&url=https://raw.githubusercontent.com/vector-of-bool/pitchfork/develop/data/spec.bs).

[2018-11-12 20:41] yannlabou commented on #104
Will work on this one.

[2018-11-12 22:05] MatthewMcGonagle commented on #154
On the other hand, there doesn't really seem to be any space saved by putting `FFTExecutor::directTransform` and `FFTExecutor::inverseTransform` in the base class. You still have to implement the two parameter versions, e.g. `FFTExecutor::directTransform(ComplexData & in, ComplexData & out)` in the sub-class. The overloaded single parameter versions still need to be put into the sub-class with a `

[2018-11-12 23:44] ihhub commented on #255
Yes, it is. Another idea which comes into my mind is that we can create a template function with 2 typenames. One typename parameter is load function for input data, another one is save function for output data. We verify the alignment at the very beginning and call needed function. You could try this and measure performance after.

[2018-11-13 00:28] ihhub commented on #154
No, you could put these functions in derived classes, no harm in this.

[2018-11-13 00:36] ihhub commented on #104
Thinking about the structure for future UI basement. There is an idea of file structure:
Base class:
[code]
QT class
[code]
We need this because we could assume that not everybody has QT installed on their machines. Additionally in future we could come out with an idea to support OpenGL (or DirectX on Windows) so we just add extra classes inherited from base class.

Talking about the context of ba

[2018-11-13 05:35] 0x72D0 commented on #255
I'm not really sure about what you're talking about...
[code]
 something like this? But in a template we can't put function as a typename, so I'm not sure to understand...

[2018-11-13 07:46] ihhub commented on #104
Drawing primitives is a good visual tool to verify that your computations are correct. For example you want visually see where found edge of an object locates at image. That's what drawPoint useful for.

[2018-11-13 07:50] yannlabou commented on #104
Fair point. I'm still studying the library :).

[2018-11-13 09:52] ihhub commented on #104
I agree that QT supports a lot of technologies but we have to look to our problem from different angle of view: let's assume that a developer only has Visual Studio on it's machine. Installing QT for UI display procedures would be a big step backwards in terms of development as he/she needs to integrate QT into Visual Studio. Another example: you develop an iOS application on XCode. This framework

[2018-11-13 09:57] ihhub commented on #255
Let's assume we create a template function:
[code]
Then we could have a specification of this template as:
[code]

Then you could make a real function which present in the code, let's say `AbsoluteDifference` to be a template:
[code]

But in this situation you must make your initial template functions for simd load/save as inline.

[2018-11-13 10:19] yannlabou commented on #104
I see. My argument was, if a user needs GUI support, he should pay the price of installing an additional library as he would do for other stuff. Anyway I'm completely fine with your suggestion.

[2018-11-14 00:18] ihhub opened #256 "libpng support"
We want to add support for **libpng** library into our project. We have already existing code in `src/FileOperation/png_file.h` and `src/FileOperation/png_file.cpp` files. This code **doesn't** support Windows as of now so AppVeyor compilation would fail.

[2018-11-14 01:09] ihhub commented on #116
I was wrong regarding thread pool (function pool). It's slower because at the end of operation it copies all results into one buffer. This is done because you cannot pass a part of std::vector. We need to fix such limitation in future.

[2018-11-14 08:53] yannlabou commented on #256
/pull/257

[2018-11-14 14:03] 0x72D0 commented on #116
but if I understand well, this limitation only target the ProjectionProfile and the Accumulate function, so it's not that bad :)

[2018-11-15 03:00] #13 closed

[2018-11-15 06:28] yannlabou commented on #104
Nice. I will continue work on this later this week. I'm at the [Meeting C++](https://meetingcpp.com/2018/) conference :).

[2018-11-15 06:31] ihhub commented on #104
Congratulations! I haven't been at any C++ conference :)

[2018-11-16 03:37] ihhub opened #259 "Add multithreading version of edge detection code based on existing thread pool"
We have existing gradient based edge detection code (`src/edge_detection.h` and `src/edge_detection.cpp` files). Class `EdgeDetection` contains a function:
[code]
This function should be used for multithreading version of edge detection to inspect separate parts of image.
We have already implemented thread pool and function pool task based on it (files `src/function_pool_task.h` and `src/function_

[2018-11-16 13:08] kgorecki commented on #247
Finally... Sorry for a delay, this was hectic week. Getting back to opinion subject - this was exactly the point, to find the best solution ;}

[2018-11-16 14:41] ihhub commented on #247
It's okay. No rush :)

[2018-11-17 01:35] MatthewMcGonagle commented on #154
@ihhub Do you have a preference as to how I'm splitting the base implemenations across files? If not, I'll also make alterations to the make files/visual studio solutions for running unit tests.

[2018-11-17 08:02] ihhub commented on #154
@MatthewMcGonagle sorry, I missed your previous message. If it's a template class then just put definition of the class within `*.h` file. Why do you need `Rectangle` class? Pleas have a look into `src/parameter_validation.h` file. This file contains functions just for size validation.

[2018-11-17 08:03] ihhub commented on #154
We could put `base_fft.h` file inside `src/math` directory.

[2018-11-17 15:07] ihhub commented on #36
`RGBA` format is **not** used widely in image processing as alpha channel doesn't bring any additional information about an image except for the part of image display. We consider this issue as non valid at current period of time.

[2018-11-17 15:07] #36 closed

[2018-11-17 15:09] ihhub commented on #43
We close this issue as memory pool wouldn't bring a big performance boost in existing code.

[2018-11-17 15:09] #43 closed

[2018-11-17 15:10] ihhub commented on #98
Closing this issue as invalid now because all file inclusions are fixed.

[2018-11-17 15:10] #98 closed

[2018-11-17 15:13] #238 closed

[2018-11-17 15:18] ihhub commented on #137
@0x72D0 I suppose that the issue is still present. Is the OS which is install on your Raspberry PI is **Raspbian**?

[2018-11-17 15:32] ihhub commented on #212
Hi @yannlabou I've checked `test/unit_tests/cmakelists.txt` file and found this line of code:
[code]

Shouldn't we remove it as I don't see any place where we use this variable?

[2018-11-17 15:36] ihhub commented on #256
Relates to #41

[2018-11-17 15:40] ihhub commented on #116
Hi @0x72D0 how is your progress on NEON implementation of this function? Do you need any help in this?

[2018-11-17 15:45] 0x72D0 commented on #137
yes it is raspbian, but I have no issue if I remove the `mcpu=cortex-a53` so I'm closing this issue.

[2018-11-17 15:50] ihhub commented on #137
No need to close it. We need to make a proper solution to fix the same problem for other people who would try to compile the library on Raspberry Pi.

@yannlabou I'm thinking to add a code in cmake file to detect current OS. If this OS is Raspberry Pi we would set `-mfpu=neon-vfpv4` flag for compilation. What do you think?

[2018-11-17 15:55] 0x72D0 commented on #137
yeah it should fix the problem :)

[2018-11-17 15:56] ihhub opened #261 "Add cmake files for existing example projects"
We have a bunch of example projects in `examples` directory:
[code]

We need to add `cmake` files inside each project directory as well as add a simple description how to compile a project with `cmake` inside `README.md` file.

[2018-11-17 15:57] yannlabou commented on #212
We are adding the `opencl` subdir only if CMake found OpenCL. Further I strongly believe that it’s better to give users the flexibility to build whatever they need.

[2018-11-17 15:57] 0x72D0 commented on #147
It shouldn't be too long to test, I'll test it

[2018-11-17 15:59] ihhub commented on #212
Okay then we leave it as of now.

@azarkevich-sa were you able to compile the library?

[2018-11-17 16:07] ihhub opened #262 "Update API description"
Our documentation locates in `doc/API_description.md` file. We need to do such changes:
1. Add `Image_Function_Simd` namespace for `ProjectionProfile` function as we added a code for this.
2. Change
[code]
into
[code]
as `Filtering` removed from the project
3. Add a brief description for Edge Detection. You can refer to `Blob_Detection` description.

[2018-11-17 16:08] yannlabou commented on #137
@ihhub It should be doable to detect if the current Linux flavor is a raspbian with CMake. Please file an issue and assign it to me. As I don’t have the hardware, someone else will have to test it.

[2018-11-17 16:09] 0x72D0 commented on #137
@yannlabou when you think you have something functional contact me, I will test it

[2018-11-17 16:10] yannlabou commented on #137
Cool. Will do.

[2018-11-17 16:11] 0x72D0 commented on #116
I didn't start the NEON implementation yet, I didn't get a lot of time lately. I migth have more time at the end of december.

[2018-11-17 16:13] ihhub commented on #116
It's okay, no rush. Take your time :)

[2018-11-17 16:15] #139 closed

[2018-11-18 02:03] ihhub opened #263 "Add performance tests for gradient based edge detection"
Recently we added gradient based edge detection algorithm which locates in `src/edge_detection.h` and `src/edge_detection.cpp` files. We are planning to add a multithreaded version (#259 ) of this algorithm as well. To see a speedup given by multithreaded version or just even to see speed improvements by future algorithm changes we need to add performance tests for it. What we need:
1. Add 2 new f

[2018-11-18 02:08] ihhub opened #264 "Remove duplicated function pointer definitions"
We have original function pointer definitions which are located in `src/image_function>helper.h` These definitions are only for Form 4 of functions (almost each function has 4 forms). We have the same definitions in `test/unit_tests/unit_test_image_function.cpp` and in `test/performance_tests/performance_test_image_function.cpp`. In first file we use all 4 (possible) forms of functions while in se

[2018-11-18 02:15] ihhub commented on #147
I made a deep research and I found that on my machine (which is CISC architecture) I have almost the same performance for **Invert** (or many more functions). Things which I found:
1. My PC as well as Raspberry Pi has only one physical piece of RAM. In this case a parallel access to RAM by multiple threads wouldn't be possible leading to memory restriction in speed
2. Between 1024 and 2048 the gap

[2018-11-18 06:09] ihhub opened #265 "Add a proper Rotate function which supports ROI"
We have Rotate function implementation which locates in `src/image_function.h` and `src/image_function.cpp` files:
[code]

This function works pretty fine but it doesn't support ROI. We need to have 4 forms of this function as it's done for all other functions in the library

[2018-11-18 06:11] ihhub opened #266 "Include Rotate function into unit tests"
We have Rotate function implementation which locates in `src/image_function.h` and `src/image_function.cpp` files:
[code]

Function pointer is already included into `test/unit_tests/unit_test_image_function.cpp`:
[code]

We need to add a proper unit test to validate the function.

[2018-11-18 06:14] ihhub opened #267 "Add CUDA implementation of Rotate function"
We have Rotate function implementation which locates in `src/image_function.h` and `src/image_function.cpp` files:
[code]
We want to add CUDA implementation of the same function. Please put this implementation into `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu`. Use an existing code style of format to do it so it should pretty straightforward.

[2018-11-18 06:15] ihhub opened #268 "Add OpenCL implementation of Rotate function"
We have Rotate function implementation which locates in `src/image_function.h` and `src/image_function.cpp` files:
[code]
We want to add OpenCL implementation of the same function. Please put this implementation into `src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` Use an existing code style of format to do it so it should pretty straightforward.

[2018-11-18 07:31] ihhub opened #269 "Improve performance for GetGaussianKernel function's loop"
In `src/filtering.cpp` file we have `GetGaussianKernel ` function where we calculate coefficients and sum:
[code]
`x` value for positive and negative positions are same as `posX * posX` is always positive value.

[2018-11-18 09:10] yannlabou opened #270 "CMake Support of libjpeg"
With #45, it is now necessary to provide a support for libpng in various `CMakeLists.txt` files. `find_package(JPEG)` should work on all UNIX platforms. For Windows, similar work has been done in #256.

[2018-11-18 09:11] yannlabou commented on #45
Yes. #270

[2018-11-18 13:36] #41 closed

[2018-11-18 13:36] #256 closed

[2018-11-18 16:31] yannlabou commented on #261
/pull/271

[2018-11-19 00:04] ihhub commented on #154
From my own experience Rectangle class is not suitable name and no need to do this. We could make public function inside ComplexData and call it from everywhere we want. I'm not really sure how checks look like. Let's review them in pull request. It's easier to see :)

[2018-11-19 00:40] yannlabou opened #272 "Use the same Qt version for all Travis builds"
Building on OS X last much longer than on other platforms due to `QT_BASE=latest`. Homebrew is always busy at downloading the latest Qt formula.
As we are already using Qt 5.9 on Ubuntu, we should set `QT_BASE=59` (Qt 5.9) on OS X.

[2018-11-19 05:29] ihhub commented on #272
This is good too to have a same conditions for all builds.

[2018-11-19 05:59] ihhub commented on #154
Yes, you have to put .cpp file into solution files for proper compilation.

[2018-11-19 06:36] ihhub opened #273 "Add homography transform"
Homography transform is widely used in most of applications which require camera calibration. We need to implement this method. Implementation should include 2 steps:
1. Find direct and inverse transform parameters
2. Transform an image based on given parameters

[2018-11-20 05:41] yannlabou commented on #85
Relates to #261

[2018-11-20 05:45] yannlabou commented on #70
Relates to #85, #144, #167 and #261.

[2018-11-20 14:23] #247 closed

[2018-11-21 00:00] #261 closed

[2018-11-21 00:47] ihhub commented on #104
My vision of UI base class. `src/ui/ui.h` file:
[code]

`src/ui/ui.cpp` file:
[code]

`src/ui/qt/ui.h` file:
[code]

`src/ui/qt/ui.cpp` file:
[code]

Of course it's just a code written in web editor with some problems but I think you got an idea :)

[2018-11-21 18:29] yannlabou commented on #104
Haha. You took all the fun away :). I'm a little bit busy at work currently. I might push code by the end of the week.

[2018-11-22 01:56] ihhub commented on #104
I modified my previous comment. Now it works except drawing points and lines :)

Our QT example would be like this:
[code]

[2018-11-22 05:38] yannlabou commented on #104
Wow. you're quick. Would you mind to create a branch and push everything there? I could also easily review ;)

[2018-11-22 05:44] ihhub commented on #104
My code doesn't have point and line implementation :)

[2018-11-22 06:08] ihhub commented on #104
@yannlabou could you please add the code for point and line drawing and add a pull request? It should be not hard after all ;)

[2018-11-22 06:13] ihhub commented on #104
Otherwise I can do it myself but in 7-9 hours time only.

[2018-11-22 06:29] ihhub commented on #104
Sure. I'll create a pull request when it's done. Sorry that I made it faster than you :)

[2018-11-22 11:20] ihhub opened #274 "CMake must fail for example compilation failure"
We compile unit and performance tests as well as examples on Travis-CI and AppVeyor using CMake. Unfortunately, a compilation failure of any of example doesn't fail overall CMake compilation so we could be unaware of a problem. [This](https://travis-ci.org/ihhub/penguinV/jobs/458336343) is an example of such problem. Check for qt compiled example in the log (line **1265**).

[2018-11-24 04:08] ihhub commented on #104
I'm working on Windows based UI as well.

[2018-11-24 14:48] ihhub commented on #104
@yannlabou could you please verify that `QT_CORE_LIB` macro exist for QT projects? I want to make a common code for UI but I need some extra data for this.

[2018-11-25 01:47] ihhub commented on #224
Looks like [the problem](https://ci.appveyor.com/project/ihhub/penguinv/builds/20525720/job/ix5o8lfqd91ltd95) is still here.

[2018-11-25 03:05] ihhub commented on #154
@MatthewMcGonagle how is it going? I though it's already done :)

[2018-11-25 03:45] ihhub commented on #104
From another hand we might not need to merge the code as UI is not strictly speaking a part of the library. We could just add an example. What are your thoughts?

[2018-11-25 09:43] yannlabou commented on #104
`QT_CORE_LIB`, `QT_GUI_LIB` and so on are undocumented and likely to be removed or deprecated any time. I had suggest something like
[code]

Later in the lib code
[code]

[2018-11-25 09:45] yannlabou commented on #104
I strongly agree with you on this one. UI brings a lot of platform specific code that is hard to maintain. I had prefer to opt-in for Qt as it's platform independent and not merge the rest. Provide it as examples is a great idea.

[2018-11-26 00:04] ihhub commented on #154
@MatthewMcGonagle don't worry about an amount of commits. We squash all commits into one during merging.

[2018-11-26 00:55] ihhub opened #277 "Add a class for line representation in 2D space"
We have classes to represent a point in 2D and 3D space. Such classes locate in `src/math/math_base.h` file. We want to add a new template class called `LineBase2d`. This class should include following logic:
1. First constructor accepts 2 points of `PointBase2d`
2. Second constructor accepts 1 `PointBase2d` point and angle (in radians)
3. function `angle() const` returns an angle of line
4. funct

[2018-11-26 01:49] ihhub commented on #224
Looks like the problem is related to multithreading code as this happens only for thread pool execution tasks.

[2018-11-26 01:52] ihhub commented on #104
Cool. I'll add an example for **Windows** little later. Probably as a separate patch. I'll create new issues to add more OS specific UI like for Linux, MacOS or Android (?). This issue would become a main issue holder for them.
Next step would be to add a support of text, rectangles and circles (ovals).

[2018-11-26 07:11] ihhub opened #278 "Add histogram and projection profile visualizer class based on existing UI Window"
We have image processing functions to get image histogram as well as projection profile. Such functions return an array (vector) of values. We have a base UI class for visualisation which is located at `src/ui/ui.h` file. We want to create a template function which would create an image based on given input array and display the result in a window. Such function should receive base `UiWindow` clas

[2018-11-26 23:21] MatthewMcGonagle commented on #154
@ihhub I've already recloned and added the changed files in to shorten the commits. I'm just rerunning the tests before I submit a pull request.

One issue that I've come up with while getting the cuda examples to compile is that the README.md inside src/cuda could use some instructions on properly setting up a visual studio solution to compile and link the source files inside src/cuda. For exampl

[2018-11-27 00:56] ihhub commented on #154
That's okay. I have CUDA 8 and I cannot compile for 32-bit as well.

[2018-11-28 05:31] yannlabou opened #280 "Add Format Step into Build Pipeline"
To help maintainers and contributors, a style guideline should be provided and directly ran on Appveyor and Travis CI. We can ensure that all changes are checked for formatting before they are merged into master. [clang-format](http://clang.llvm.org/docs/ClangFormat.html) has been established in the industry as standard tool for code formatting.

[2018-11-28 05:32] yannlabou commented on #277
👍

[2018-11-28 05:33] ihhub commented on #280
I totally agree with this. I wanted to to this long time ago. First of all we need to write a coding style so that people could refer to it. Next step is to implement this coding into script verification tools.

[2018-11-28 05:36] ihhub commented on #277
Otherwise, I would recommend tohave a look at UI visualiser which is easier :)

[2018-11-28 05:39] yannlabou commented on #280
Please create a branch for this issue. We could then draft our ideas in Contributing.md.

[2018-11-28 05:41] ihhub commented on #280
Shouldn't it be a separate document? Do you have an access to wiki pages of the project?

[2018-11-28 06:06] yannlabou commented on #280
Sure. A separate document linked in the Contributing page. The wiki might also be a great place for that. Anyway let’s start. :)

[2018-11-28 09:34] ihhub commented on #280
[Here](https://github.com/ihhub/penguinV/wiki/Code-style). Can you edit it?

[2018-11-28 10:32] yannlabou commented on #280
Yes.

[2018-12-01 00:05] MeKot commented on #264
Hello there, @ihhub, I would love to contribute, is this issue still up for grabs?

[2018-12-01 02:52] ihhub commented on #264
@MeKot sure, nobody's taken it so it's still open.

[2018-12-02 09:46] ihhub opened #281 "256 color bitmap isn't loaded properly"
We have a code for **bitmap** file loading and saving which locates in `src/FileOperation/bitmap.cpp` file. Current code doesn't handle properly 256 color bitmap images due to fact that we load image palette (lines 391 - 407) but ignore it during image creation. This is a case for 8 bit color image so current code _thinks_ that this is gray-scale image. We need to create an **RGB** image using _gi

[2018-12-02 09:57] ihhub opened #282 "Add circle (oval) and rectangle drawing support for UI Window classes"
We have 3 classes for UI Window:
`src/ui/ui.h` - base class
`src/ui/qt/qt_ui.h` - QT API based class
`src/ui/win/win_ui.h` - Win32 API based class

Currently classes support drawings of points and lines, we need to add functions to support drawings of **ovals** and **rectangles** as well.

This issue relates to #104

[2018-12-03 03:25] ihhub opened #283 "Cmake fails to compile on MacOS"
I tried to compile **unit tests** on MacOS machine with **Cmake 3.8.2**. Here is a log of compilation:
[code]

Cmake call:
[code]

[2018-12-03 05:47] yannlabou commented on #283
This doesn't look like a bug for me. The unit tests folder is not a CMake project i.e no `project` command in `test/unit_tests/CMakeLists.txt`.
To build the unit tests only:
- From the main project directory `mkdir build && cd build`
- `cmake ..`
- `cmake --build . --config Debug --target unit_tests`

[2018-12-03 05:48] ihhub commented on #283
I ran cmake from project root as `cmake .` as it did nothing. Perhaps we need to add a description how to do it.

[2018-12-03 06:02] yannlabou commented on #283
If you want to specify the source dir (directory containing the main CMakeLists.txt) and the binary dir (e.g a build folder), you could type `cmake -H. -Bbuild`. Note that there must not be a space character between the option and the directory path.

How to build the tests is already in the README of the unit_tests subfolder.

[2018-12-03 06:04] ihhub commented on #283
Ah, that's my mistake.

[2018-12-03 06:07] ihhub commented on #283
Unfortunately, I still have the same log with these commands from unit_tests directory:
[code]

[2018-12-03 06:07] yannlabou commented on #283
I reckon that the casual reader stays in the main project dir. A proper build documentation should also be there.

[2018-12-03 06:11] yannlabou commented on #283
The line above the instructions is: **Then in the project directory:**.

[2018-12-03 06:17] ihhub commented on #283
[code]

And that's all.

[2018-12-03 06:19] ihhub commented on #283
Above log is for try from root directory of the project.

[2018-12-03 06:35] yannlabou commented on #283
Same for the `performance_tests`. My bad!

[2018-12-03 08:55] ihhub commented on #277
@yannlabou How is it going? Do you need some skeleton code or explanations? :)

[2018-12-03 09:02] ihhub opened #284 "Basic UI class based on Cocoa for MacOS"
We have a base class for create a window which contains an image and basic drawings on it. The class locates in `src/ui/ui.h` and `src/ui/ui.cpp` file. This class does nothing on it's own and serves as a fundament for separate OSes or technologies.
We have a concrete implementation of UI Window based on QT (`src/ui/qt/qt_ui.h` and `src/ui/qt/qt_ui.cpp`) and based on Win32 API for Windows (`src/ui/

[2018-12-03 09:16] yannlabou commented on #277
I still want to do the first implementation on my own. I just have busy days currently. If you need it urgently, sure go ahead.

[2018-12-03 09:17] ihhub opened #285 "Basic UI Window class based on Xlib for Linux"
We have a base class for create a window which contains an image and basic drawings on it. The class locates in `src/ui/ui.h` and `src/ui/ui.cpp` file. This class does nothing on it's own and serves as a fundament for separate OSes or technologies.
We have a concrete implementation of UI Window based on QT (`src/ui/qt/qt_ui.h` and `src/ui/qt/qt_ui.cpp`) and based on Win32 API for Windows (`src/ui/

[2018-12-03 09:42] ihhub commented on #277
No-no, it's not urgent :) I asked because I will be on trip for around 2 weeks so I normally would have an access only from my phone... That's why I proposed some help if any needed before I go :)

[2018-12-03 09:52] ihhub commented on #229
@MatthewMcGonagle would you like to have a try for this issue since you are very familiar with FFT code?

[2018-12-03 09:53] ihhub commented on #264
@MeKot do you need more explanations or you understand clearly the problem? :) We could fix the issue in multiple steps if final solution is too big.

[2018-12-03 10:01] ihhub opened #286 "Add Shift function for subpixel image shift"
We want to add a function for subpixel shift of image called **Shift**. This function should be located in `src/image_function.h` and `src/image_function.cpp` files. You can refer to any other function for coding style.

[2018-12-03 10:16] MeKot commented on #264
@ihhub As far as I understand the problem - the definitions for function pointers are to be concentrated in a single file, probably defining a namespace in `src/image_function_helper`. I still am not quite sure about the significance of function forms (is there more to it then just overloading?). And the other thing I am a little vague on is whether the `typedefs` in `namespace Function_Template`

[2018-12-03 10:56] ihhub commented on #264
I'll give a proper explanation in a few hours. The solution is pretty easy.

[2018-12-03 14:17] ihhub commented on #264
`src/image_function_helper.h` file already has such namespace called `namespace FunctionTable`. It contains all full argument function pointers. What we need is to expand it by adding more all variations of each function. Then we could have a single place with functions pointers and use them in test code.

4 forms are just for overloading for ease of development to use the library.

After this we

[2018-12-03 19:19] MeKot commented on #264
Amazing, it's so much clearer now, I'll submit a pr in a couple of days

[2018-12-14 14:13] ihhub commented on #264
Hi, @MeKot . How is it going?

[2018-12-14 14:14] ihhub commented on #283
Hi, @yannlabou shall I do it myself in a few days?

[2018-12-14 14:47] yannlabou commented on #283
https://github.com/ihhub/penguinV/pull/287 :)

[2018-12-14 20:25] #283 closed, assigned to nobody

[2018-12-14 23:14] MatthewMcGonagle commented on #267
I'm interested in taking a look at this, but I have a question about something inside `Image_Function::Rotate()`. It concerns the following code:
[code]

Its seems to me that `sum` is supposed to be an average of four pixels (although I'm not quite sure I understand the 0.5 offset). However, I think there is an error in the precedence of stuff like `*inX + 1`. My understanding is that the intentio

[2018-12-15 03:17] MatthewMcGonagle commented on #267
Another question.

It seems to me that quantities outside of the `for` loops , such as `cosAngle` or `inXPos`, should be calculated by `Image_Function_Cuda::Rotate()` before calling a kernel on the GPU. The computed quantities can just be passed into the kernel. So the threads of the kernel simply handle doing the `for` loops in parallel.

Does this seem good to you?

[2018-12-15 05:13] ihhub commented on #267
Hi, @MatthewMcGonagle thanks for taking thia issue. Please take a look into coefficients for pixel intensities. Such variables are from 0 to 1 and combinations of them are from 0 to 1. The sum of all 4 coefficients is 1.

It's fine to pass precalculated values into GPU kernel (function) so you could do it.

Extra note: you might need to use float instead of double as this is faster without loosing

[2018-12-15 07:12] MatthewMcGonagle commented on #267
Hi @ihhub. Yes, I understand that the `sum` in `Image_Function::Rotate()` is a weighted average, but the problem is if it is taking the weighted average of the correct values? I believe the intent is to take a weighted average of the values at pixels `[inY][inX]`, `[inY][inX+1]`, `[inY+1][inX]`, and `[inY+1][inX+1]`, but the precedence of the dereferencing `*inX` happens before the addition. So `*

[2018-12-15 19:48] ihhub commented on #267
I think you're right. Could you please debug the original code if you have a free time? I don't have an access to a PC until next Wednesday.

[2018-12-16 20:53] MatthewMcGonagle commented on #267
@ihhub Yeah, sure I can take of the original code. Should I put the fix in a separate pull request, or should I just include it with the pull request for this issue?

[2018-12-17 07:33] ihhub commented on #267
A separate pull request is preferable.

[2018-12-17 20:08] #239 closed

[2018-12-17 21:32] MatthewMcGonagle commented on #267
@ihhub Okay, I've made a pull request for fixing the original code in `Image_Function::Rotate()`.

[2018-12-18 22:21] MatthewMcGonagle commented on #267
@ihhub I've finished the CUDA version of `Rotate()`. I'll make a pull request.

[2018-12-19 01:43] MeKot commented on #264
Hi, @ihhub , I am very sorry, but I am only just starting.. Had some issues come up very unexpectedly.. But now I have a few weeks on my hands so I can get some work done.

[2018-12-19 01:55] ihhub commented on #264
It's okay. Take your time. At least the know that the work in still on ;)

[2018-12-22 02:58] #116 closed

[2018-12-22 03:04] ihhub commented on #268
Hi, @MatthewMcGonagle would you like to implement this as well?

[2018-12-22 03:07] ihhub opened #292 "Add Rotate function into unit and performance tests"
We have an implementation of Rotate function in `src/image_function.cpp`. We need to add unit tests as well performance tests for this function. All code must be located in `test/unit_tests/unit_test_image_function.cpp` and `test/performance_tests/performance_test_image_function.cpp` respectively. Please refer to the code in these two files to have a better vision of the implementation.

[2018-12-22 03:11] ihhub commented on #268
By the way, @MatthewMcGonagle , have you tested Rotate function on some example? Ideal example is to have black image with white rectangle in the center. Rotate image to see the result which is visibly identify.

[2018-12-22 03:12] ihhub commented on #277
Good day, @yannlabou , how is it going? :)

[2018-12-22 03:58] ihhub commented on #207
Hi, @0x72D0 would you like to work on it?

[2018-12-22 05:39] 0x72D0 commented on #207
yeah sure

[2018-12-22 13:36] #286 closed

[2018-12-23 01:59] ihhub opened #294 "Make Ui Window on Windows to be drawn on separate thread"
We have base Ui Window class which locates in `src/ui/ui.h` and `src/ui/ui.cpp`. Derived class for Windows (based on Win32 API) locates in `src/ui/win/win_ui.h` and `src/ui/win/win_ui.cpp` files. If we create an object of **UiWindowWin** class and call `show` function within the same thread the application waits until user closes this window. This causes inability to show multiple windows at the s

[2018-12-23 02:28] ihhub opened #295 "Add SIMD implementation of Shift() function"
We have an implementation of **Shift()** function in `src/image_function.h` and `src/image_function.cpp` files. We want to add SIMD implementation of the same function. The code must be located in `src/image_function_simd.h` and `src/image_function_simd.cpp` files. Please to any of functions inside these files.

[2018-12-23 02:30] ihhub opened #296 "Add Shift() function description into API description"
We have an implementation of **Shift()** function in `src/image_function.h` and `src/image_function.cpp` files. We need to add an API description for this function which should be located in `doc/API_description.md` file. Check the structure of the file to have an idea how to add it.

[2018-12-23 02:54] ihhub opened #297 "Incorrect results for specific image sizes for FFT"
Our current implementation of FFT based on KissFFT and Cufft does not check image sizes which results in incorrect results for some specific sizes. We must prevent such behavior either by do not accepting specific sizes or resize FFT array to needed size (preferable way).

The code for FFT locates in `src/math/fft_base.h`, `src/math/fft_base.cpp`, `src/fft.h`, `src/fft.cpp`, `src/cuda/cuda_fft.h`

[2018-12-23 02:57] ihhub opened #298 "Add CUDA implementation of Shift() function"
We have an implementation of **Shift()** function in `src/image_function.h` and `src/image_function.cpp` files. We want to add CUDA implementation of the same function. The code must be located in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files. Please to any of functions inside these files.

[2018-12-23 02:58] ihhub opened #299 "Add OpenCL implementation of Shift() function"
We have an implementation of **Shift()** function in `src/image_function.h` and `src/image_function.cpp` files. We want to add OpenCL implementation of the same function. The code must be located in `src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` files. Please to any of functions inside these files.

[2018-12-23 03:01] ihhub opened #300 "Light correction as a part of camera calibration step"
Almost every light source has non-uniform distribution of light resulting in non-uniform distribution of pixel intensities on image. We need a tool to correct such non-uniform distribution on image as a part of camera calibration.
The code should be located in `src/tool` directory.

[2018-12-23 09:11] #281 closed

[2018-12-23 10:13] ihhub commented on #295
@0x72D0 this should be interesting and easy to do ;)

[2018-12-23 11:57] #300 closed

[2018-12-23 17:16] 0x72D0 commented on #207
@ihhub I have some problem with c++ namespace, I try to use the simd::actualSimdType() in my hough_transform_simd.cpp but for some reason g++ say that actualSimdType is not a member of 'simd' here's the block of line:
[code]
do you know the problem? you can see the full code here: https://github.com/0x72D0/penguinV/tree/hough_transform_AVX

[2018-12-23 17:18] 0x72D0 commented on #295
I will give it a try

[2018-12-24 00:56] ihhub commented on #207
`simd::actualSimdType()` is a function which locates in `image_function_simd.cpp` file (lines 1590-1608) meaning that it is unaccessible. You have to define your own in `hough_transform_simd.cpp` file or move the code to some common place/file. I'd recommend to use second way but we should handle it gently.

[2018-12-24 01:04] ihhub opened #304 "Add SIMD implementation of light correction"
We have an implementation of light correction in `src/tool/light_correction.h` and `src/tool/light_correction.cpp` files. This implementation utilises integers as a speed up action. We want to use SIMD to further speed up the algorithm.
Please create new files called `src/tool/light_correction_simd.h` and `src/tool/light_correction_simd.cpp`. Derive a new class from existing class and optimise the

[2018-12-24 02:03] ihhub opened #305 "High level dependency module diagram for whole project"
As project grows in size it would be difficult for new users to understand fully the source code without spending some amount of time. If we would have some kind of high level diagram covering major modules of the project it would serve a great helper for beginners.

[2018-12-24 02:07] ihhub commented on #295
This issue has higher priority than Hough transform and it should be easier to implement so you could do this first :)

[2018-12-24 02:08] ihhub commented on #295
By the way, unit tests for **Shift()** function are not trully correct. They need some modification. From another side I could describe a way how to teat this function properly.

[2018-12-24 04:44] 0x72D0 commented on #295
here you sure that it's suppose to be more easy? the solution I found to replce the main for loop for the shift function look like that:
[code]
so what was youre idea of the shift function? maybe I over complicated the problem?

[2018-12-24 04:45] 0x72D0 commented on #295
I didn't test it yet so I don't know if this algorithm is fine

[2018-12-24 05:18] ihhub commented on #295
@0x72D0 you might not overcomplicate things :)
From another side I didn't mention (which is my bad) that CPU code is with optimisation avoiding float usage. Original logic behind is:
[code]
So you could try to implement this first rather going to greater optimisation. I will take deeper look into your code in a few hours.

[2018-12-24 06:58] ihhub commented on #295
As of now ignore step 7. Let's make working version first even with double data reading.

[2018-12-25 04:55] ihhub opened #306 "Histogram calculation with mask"
We have an implementation of **Histogram** function in `src/image_function.h` and `src/image_function.cpp` files. This function is pretty simple.

We want to add the same function but with slightly different logic: function accepts an extra parameter - mask which is actually another binary image. Mask could be as a part of another image as well. We know that Histogram function works with image ROI

[2018-12-25 06:21] ihhub commented on #207
@0x72D0 I'll make some changes in code to enable a proper support of SIMD across all files. I'll let you know once it's finished.

[2018-12-25 06:38] ihhub commented on #207
This issue relates to #216 .

[2018-12-25 07:19] ihhub commented on #207
@0x72D0 now you can complete this task with ease :)

[2018-12-26 10:48] ihhub opened #308 "Plane base class for mathematical calculations"
In future once we're going to use points in 3D space we might need to have a class (`PlaneBase`) which represents a plane in 3D space. Such object must be base on 3 points. The class should contain function to measure the distance from a point to the plane, find an intersection line of 2 planes. The code itself should be located in `src/math/math_base.h` and `src/math/math_base.cpp` files. Please

[2018-12-26 13:20] ihhub commented on #207
Hi, @0x72D0 are you going to complete this task or have a try with Shift function?

[2018-12-26 13:45] #277 closed

[2018-12-26 14:40] 0x72D0 commented on #207
I think I'm gonna complete this task first now that proper support of SIMD across all files is implemented

[2018-12-26 23:00] yannlabou commented on #272
Won't do. Homebrew is designed to installed the latest version of a formula (package). Currently Qt 5.12.

[2018-12-26 23:00] #272 closed

[2018-12-27 00:30] ihhub opened #310 "Merge CPU and SIMD code for image functions"
Our CPU based code for image functions locates in `src/image_function.h` and `src/image_function.cpp` files, while SIMD based - in `src/image_function_simd.h` and `src/image_function_simd.cpp`. At initial stage of project development these parts of code were separate and independent. Now both depend on `src/image_function_helper.h` file. We would like to merge them together in this case as there i

[2018-12-27 00:57] ihhub commented on #207
@0x72D0 2 things you need to keep in mind:
1. Original code uses `Point2d` structures which are not a normal array. You might need to convert them into 1D array to use for SIMD code
2. We're going to implement `double` and `float` version of this code so SIMD code should do the same.

To make performance tests you need a proper plan for this. I'm proposing to generate 1000 points with incremental

[2018-12-27 01:16] ihhub commented on #207
A small correction for my first point: use branching code. Check if **Point2d** is a [standard layout](https://en.cppreference.com/w/cpp/types/is_standard_layout). If yes you can directly use SIMD code on it. Otherwise you have to copy data into an array.

[2018-12-27 01:32] ihhub commented on #207
Or maybe not :( We would introduce some extra dependencies. Yeah, let's do initial way then. After we could merge everything into one piece of code.

[2018-12-27 01:34] 0x72D0 commented on #207
ok let's stay with the original plan then :)

[2018-12-27 01:38] 0x72D0 commented on #207
And to handle the double and float type should I make a template specialization of the two types?

[2018-12-27 02:00] ihhub commented on #207
Yes, you should. Ideally, if it's possible could cover #216 issue together with this one?

You could check structure for a standard layout at application startup time as:
[code]

and then in the code use these variables as needed.

[2018-12-27 02:07] 0x72D0 commented on #207
ok I will implement #216 first and continue with #207 after finishing the first one, It'll allow me to improve my understanding of the templates :)

[2018-12-27 02:09] ihhub commented on #207
Nice! Thanks a lot! If you need any questions regarding that issue please ask :)

[2018-12-27 04:06] 0x72D0 commented on #216
I made all the seven step, but when I test the function with double it gave me a segfault at the sort function (hough_transform.cpp:58), any idea why? Here's the code: https://github.com/0x72D0/penguinV/blob/houghTransformFloat/src/math/hough_transform.cpp

[2018-12-27 05:11] ihhub commented on #216
You made two specifications of the same function while there is no template function. Please take a look at isEqual function in stc/math/math_base.h file:

    template <typename _Type>
    bool isEqual( const _Type & value1, const _Type & value2 )
    {
        return ( value1 == value2 );
    }

_Type would be your variable type: float or double.

[2018-12-27 06:13] 0x72D0 commented on #216
ok I add the template function, but I still have the same segfault error with the `std::sort` function :(

[2018-12-27 06:36] 0x72D0 commented on #216
ok, I remove them, but having the same problem... It's weird the only things that change in the double version is `Point2d` -> `PointBase2D<double>` but `Point2d` is a template of `PointBase2D<double>`

[2018-12-27 06:39] ihhub commented on #216
Could you please create a pull request for this? Then it would be easy to identify what was changed in original code?

[2018-12-27 18:17] MeKot commented on #264
Hello, @ihhub! Happy holidays! I have had a quick gander and thats what I've come up with #312 Could you have a look at it whenever? The next thing, I guess would be to clean up the `FunctionTable` namespace to just contain functions in the `FunctionForm#` form? If what I've done so far is ok, I could take that on, I guess :)

[2018-12-28 00:05] ihhub commented on #264
Hi, @MeKot thanks for your efforts but unfortunately you went by little wrong way: `src/image_function_helper.h` contains now 2 versions of `AbsoluteDifferenceForm4` or `BitwiseAndForm4` for example.

[2018-12-28 00:07] ihhub commented on #264
What you need to do is to remove original function pointers in `namespace FunctionTable`.

Yeah, now I see that you mentioned this :) Okay, my bad. So far so good then

[2018-12-28 00:53] ihhub commented on #147
Closing this issue as there is no way to fix it.

[2018-12-28 00:53] #147 closed

[2018-12-28 00:57] ihhub commented on #306
@yannlabou would you like to take this? This shouldn't take so much time.

[2018-12-28 00:57] ihhub commented on #274
@yannlabou any ideas how to fix it?

[2018-12-28 01:07] ihhub commented on #124
Closing this issue as irrelevant.

[2018-12-28 01:07] #124 closed

[2018-12-28 04:55] ihhub commented on #264
@MeKot we're waiting for your clean up code later :)

By the way, if you would like to have in the same direction, you could pick issue #178

[2018-12-28 05:03] ihhub commented on #86
@0x72D0 do you want any chance to obtain a hardware (CPU) for this? :)

[2018-12-28 05:07] ihhub opened #313 "Add text display in Ui Window classes"
We have 3 classes for UI Window:
`src/ui/ui.h` - base class
`src/ui/qt/qt_ui.h` - QT API based class
`src/ui/win/win_ui.h` - Win32 API based class

Currently classes support drawings of points and lines, we need to add functions to support drawings of **text** as well. The font could be fixed.

This issue relates to #104

[2018-12-28 05:17] ihhub opened #314 "Project build for Android on AppVeyor or Travis-CI"
We would like to have a build of our library for Android system as well on any (ideally every) of our build servers. [Appveyor](https://github.com/appveyor/ci/issues/2609) at least has such support.

[2018-12-28 05:18] ihhub commented on #314
@yannlabou you might have a big interest in this ;)

[2018-12-28 05:22] ihhub opened #315 "Project compilation on Android"
We would like to have a build of our library for Android system as well on any (ideally every) of our build servers. Appveyor at least has such support.

[2018-12-28 05:45] 0x72D0 commented on #86
and also I don't know if I'm gonna have a lot of time with my university...

[2018-12-28 05:49] ihhub commented on #86
Ah, I see :( Education is very important thing in this world ;)

Anyway, if you would have a time and willingness then you might consider an opportunity to join this project as a collaborator :) You could read what it means on github help.

[2018-12-28 09:19] yannlabou commented on #305
:thumbsup:

[2018-12-28 09:21] yannlabou commented on #274
I'll find out! :wrench:

[2018-12-28 09:37] #185 closed

[2018-12-28 13:55] #274 closed

[2018-12-28 15:39] #216 closed

[2018-12-29 00:58] ihhub opened #317 "Haar transform implementation"
We would like to implement 2D direct and inverse Haar transform for images into the library. New files should be located in `src/math/haar_transform.h` and `src/math/haar_transform.cpp` files.

[2018-12-29 10:48] ihhub commented on #207
@0x72D0 by the way the code has 2 places for SIMD implementation, where we calculate a distance and this code is similar. I'm thinking that we might need to create a function just for this. What do you think?

[2018-12-30 00:05] MeKot commented on #264
@ihhub Hello, so, I've cleaned up the code. Could you have a look at it when you have time? And meanwhile I'm happy to move on to #178

[2018-12-30 04:10] ihhub commented on #264
@MeKot there is just one small question of mine in the pull request. Could you please take a look? Thanks for taking #178 issue!

[2018-12-30 05:04] ihhub opened #318 "Add a function to find a line based on a set of points"
We have class `Point2DBase` which represents a point and class `Line2DBase` which represents a line in 2D space. We want to add a function which receives a container of points based on which we calculate parameters of line and return a line object. We need to use line formula to find it's parameters which we would use to create a line object.

[2018-12-30 12:58] #264 closed

[2018-12-30 13:15] ihhub opened #319 "Add virtual destructors for FFT classes"
We miss virtual destructors for `BaseComplexData` and `BaseFFTExecutor` classes in `src/math/fft_base.h` file. We need to add them.

[2018-12-31 01:03] ihhub commented on #207
@0x72D0 create unit tests for `double`. Usually it's slower than `float` :)

[2018-12-31 01:05] ihhub commented on #207
For unit tests just put them within the same unit tests file where CPU code locates: `src/test/unit_tests/unit_test_math.cpp`

[2018-12-31 01:14] ihhub commented on #178
@MeKot if you need more info about this issue I'd love to explain ;) I've modified the original description to be more clear.

[2018-12-31 01:47] ihhub opened #320 "Add few more functions to Line2DBase class"
We have `Line2DBase` template class which locates in `src/math/math_base.h` file. We want to add few more functions into this class:
- `Point2DBase projection( const Point2DBase & point )` returns a point which is a projection on line of input point. Example: if we have a line which is parallel to X axis (goes from [0; 0] to [1; 0] point), an input point is [3; 4] then return point would be [3; 0]

[2018-12-31 01:48] ihhub commented on #173
@yannlabou do you know how difficult to implement this?

[2018-12-31 01:49] ihhub opened #321 "Change README file to be more user friendly"
Our README file is good but it's not the best one. We don't have any specification how to make it better but it seems that it needs some refinement :)

[2018-12-31 01:55] ihhub commented on #319
This issue relates to #154

[2018-12-31 01:58] ihhub commented on #317
Hi, @MatthewMcGonagle I see that you have an interest in math implementation. Would you like to work on it? :)

[2018-12-31 02:02] ihhub commented on #270
@yannlabou I found a working code for libjpeg usage. Once you fixed it I'll add that code as well. The original pull request was closed by me as we reached a wall in author's response.

[2018-12-31 11:33] #319 closed

[2019-01-03 12:09] yannlabou commented on #173
@ihhub I'll take a look at it this weekend.

[2019-01-03 23:19] ihhub commented on #173
Sure

[2019-01-04 03:18] ihhub opened #324 "Extra randomisation at the start of unit tests"
Our unit tests locate in `test/unit_tests` directory. We have a framework class to retrieve and run all tests which locates in `test/unit_tests/unit_test_framework.cpp`. In `int UnitTestFramework::run() const` we need to add an extra code for randomisation so unit tests won't repeat the same tests over each call.

[2019-01-04 05:42] ihhub commented on #324
Include `std::srand(std::time(nullptr));` line before running the tests with needed `#include <ctime>` header inclusion.

[2019-01-04 06:48] #270 closed

[2019-01-04 06:50] ihhub commented on #173
I think we should make a separate job in AppVeyor to do not mess with C++ code.

[2019-01-04 08:58] ihhub commented on #178
Hi, @MeKot, how is going?

[2019-01-05 09:55] MeKot commented on #178
Hi, @ihhub, I have started on it, but got a little sidetracked in the meantime.. I will get back to it and finish it in the next couple of days if that is ok with you

[2019-01-05 11:14] ihhub commented on #178
It's totally fine with me :)

[2019-01-05 15:18] 0x72D0 commented on #295
seeing the calcul: value = pixel1 * coeff1 + pixel2 * coeff2 + pixel3 * coeff3 + pixel3 * coeff3 + 0.5f;
I think this function gonna meet the same fate than the hough transform...

[2019-01-06 02:00] ihhub commented on #117
Cool!

[2019-01-08 01:14] ihhub opened #326 "Hough transform unit test fails for float specification of the algorithm"
Hough transform code locates in `src/math/hough_transform.h` and `src/math/hough_transform.cpp` files. We have unit tests for this code which exist in `test/unit_tests/unit_test_math.cpp` file. Sometimes we see failed hough transform unit tests based on float version of the algorithm.

relates to #73 and #216

[2019-01-08 05:28] ihhub opened #327 "Base class for geometric shifted ellipse"
We have a place where we store all mathematical base classes in `src/math/math_base.h` file. We would like to add a base class to represent an **ellipse** (a circle in some cases).
1. Call new class as **EllipseBase2D**.
2. Constructor of the class would receive a container of 2D points
3. Internally we need to calculate ellipse parameters such as center position and two radiuses
4. We could creat

[2019-01-08 23:48] ihhub commented on #117
We don't have any unit tests for **RgbToBgr** function. I'll think how to make a proper test for it.

[2019-01-09 14:19] ihhub opened #328 "Float implementation of existing edge detection code"
We have gradient based edge detection algorithm in `src/edge_detection.h` and `src/edge_detection.cpp` files. This implementation is **double** based. We want to expand the code to support **float** as well. We want to keep an implementation in source file but make `class EdgeDetection` as template. Specifications of this template class would be only `double and `float`.

[2019-01-09 14:48] ihhub opened #329 "AVX and AVX2 separate detection"
Not all CPUs support **AVX2** while some support only **AVX** version 1. We do not have a separation between these CPU extensions. Currently we check only for **AVX2** presence ignoring **AVX** v1 only processors. We need to modify files `cpu_id_unix.h`, `cpu_id_windows.h` and `cpu_identification.h` to do AVX and AVX2 detection.
Next step would be to modify some functions which could possibly supp

[2019-01-09 15:14] #318 closed

[2019-01-09 17:47] 0x72D0 opened #331 "AVX-SSE transistion penalties"
the transistion between AVX and SSE cause penalties. To avoid those penalties, we might want to add `_mm256_zeroupper()` to all AVX SIMD function.

- [https://software.intel.com/en-us/articles/avoiding-avx-sse-transition-penalties]() (3.3. Method 3: Zeroing Registers)
- [https://www.agner.org/optimize/optimizing_cpp.pdf]() (p.109 - 12.1)

[2019-01-09 23:38] ihhub commented on #331
We need to consider this as all our functions have AVX and SSE so ideally we shouldn't face switching but idea is valid for a discussion.

[2019-01-10 01:32] 0x72D0 commented on #331
it's not the case for all the function, the hough transform for example. Also, sometimes the compiler optimize with SIMD instruction. So if we run Accumulate for AVX for example and after that we run an hough transform and the compiler add SSE instruction in the hough transform, then we slow down each SSE-AVX transition by 10 cycle.

[1. Introduction to AVX-SSE Transition Penalties](https://softwa

[2019-01-10 01:38] ihhub commented on #331
No-no, I understand your concern. What I meant is that as of now we have all functions which are implemented in both AVX and SSE so if we run the code on CPU with AVX support we should run only AVX code without switching to SSE.
I agree regarding SIMD optimisation. Just is it worth to do this for 10 cycles if we switch from AVX to SSE for functions where we process millions of bytes?

[2019-01-10 01:41] ihhub commented on #331
@0x72D0 we could just modify such code:
[code]

But what would be a penalty for multithreading case?

[2019-01-10 01:50] 0x72D0 commented on #331
yeah maybe with multithreading we would have a significant performance loss. Also I find this topic when searching for the VZEROUPPER latencies:

[https://www.agner.org/optimize/blog/read.php?i=789](https://www.agner.org/optimize/blog/read.php?i=789)

So if skylake is not affected, the state switch penalties might just disappear with time

[2019-01-10 02:33] 0x72D0 commented on #117
ok no problem

[2019-01-10 04:12] ihhub commented on #117
@0x72D0 now you have privileges as a collaborator to edit issues, assign them, change labels and review pull requests :)

[2019-01-10 05:12] ihhub opened #332 "Optic flow implementation by Lucas–Kanade method"
We would like to add optic flow algorithm based on Lucas–Kanade method into our library. A base functions for such algorithm already exist except matrix root calculation which should be done very soon.

[2019-01-10 15:53] 0x72D0 commented on #117
ok the SSE function is ready for testing :)

[2019-01-10 16:00] 0x72D0 commented on #47
on my manjaro distribution, the library are usually install under /usr/lib, the header file under /usr/include and the documentation under /usr/share. Maybe I can try to do an AUR package of this project for arch linux.

[2019-01-11 00:00] ihhub commented on #117
Great! Looking forward for a pull request.

[2019-01-11 00:03] ihhub commented on #47
Yeah, it would be nice. We're going forward to make a release. As of now we need to merge together CPU, CUDA and OpenCL code under single package.

[2019-01-11 05:44] ihhub opened #335 "Harris corner detection algorithm implementation"
We would like to add Harris corner detection algorithm implementation into our project. The code should be located in **src/harris_corner_detection.h** and **src/harris_corner_detection.cpp** files.

[2019-01-12 07:03] ihhub opened #337 "Remove duplication code in unit_test_image_function.cpp file"
In `unit_test_image_function.cpp` file we have unit test setup code for AVX, SSE and NEON. The only difference between them is in `void PrepareFunction( const std::string& namespaceName )` function. We want to merge `avx`, `sse` and `neon` namespaces (at the bottom of the file) into one code. One of the solutions could be to add an extra macro to generate 3 functions instead of one.

[2019-01-12 07:09] ihhub commented on #295
Yes and no. The implementation of Shift function uses integer values instead of float. I move this issue into Wishlist as of now as it's not urgent :)

[2019-01-12 07:11] ihhub commented on #178
Hello, @MeKot any progress so far? :)

[2019-01-13 01:45] ihhub opened #338 "Multithreaded version of RgbToBgr is slower than singlethreaded"
Original function locate in `src/image_function.cpp` while multithreaded version is in `src/function_pool.cpp`. You could run performance tests which locate at `test/performances_tests` to verify that multithreaded version works slower on big images.

[2019-01-13 18:57] MeKot commented on #178
Hi, @ihhub, yes, I've moved all the methods into the separate file and started to replace occurences in tests, but that apparently takes a little longer since the test suite is of reasonable size (to ensure that all duplication is gone). I was slowly making my way through this in my free time... Would you like me to pick up the pace?

[2019-01-14 00:02] ihhub commented on #178
That's fine. I'm just hoping that you would finish it soon :)

[2019-01-14 08:01] ihhub commented on #178
@MeKot of course it would be great to have the implementation as soon as possible but I am not a person to force you in any way to do it faster. In any case you do it voluntarily which is already a great help! ;)

[2019-01-14 15:35] ihhub commented on #117
@0x72D0 for AVX I'm proposing a way to use shift operator by 16 bits (**_mm256_sll_epi32**) and then use blend function **_mm256_blendv_epi8**. What do you think?

[2019-01-14 16:04] ihhub commented on #117
Ah, it won't work that way :( We need to figure out based on shifts...

[2019-01-14 18:44] 0x72D0 commented on #117
why `_mm256_blendv_epi8` won't work, if we do _mm256_blendv_epi8(result,result,ctrl)?

[2019-01-14 21:14] MeKot commented on #178
@ihhub some of the methods with same names have different input types in unit_tests and performance_tests, such as ```` uniformImage```` and `````unifromRGBImage`````, but seem to do the same thing. Do you want me to unite them under the same type signature and refactor the rest of the code? Also, some of the methods have slightly different implementation, such as ```randomValue```, specifically i

[2019-01-15 00:09] ihhub commented on #117
First of all you need to have all of your B values on first place. Currently they are on third. You have have values in simd: RGBRGBRGB... (I didn't write all). Now to put all B values on R position we could use 16 bit shift but variables are 32 bit so we have: RGBR GBRG. As you can see first 32 bit integer should be shifted by 16 bits, while second cannot be shifted by such amount (out of range).

[2019-01-15 00:38] ihhub commented on #178
@MeKot let's analyse everything step by step:
1. `uniformImage` and `uniformRGBImage` are almost the same except the fact that in **performance_test_helper.h** we set width and height explicitly. From my perspective we can have all of them in one place even without merging, just for example `uniformImage` function would have 4 specifications (and only one would have a real code while others just r

[2019-01-15 09:20] ihhub opened #340 "Examples review"
We have examples of library usage. Some of them seem to be not up to date or don't attend an interest of potential users. We would like to modify examples to be more user friendly. This topic is a common topic for discussions and ideas.

[2019-01-15 16:36] 0x72D0 commented on #117
I still didn't found an algorithm for AVX... I think I will go back to this issue later, maybe I'm gonna find more idea

[2019-01-15 16:49] 0x72D0 commented on #115
I'm gonna try this one next

[2019-01-16 00:21] ihhub commented on #115
Sure!

[2019-01-19 08:42] #306 closed

[2019-01-19 14:30] ihhub commented on #173
@yannlabou did you have a chance to have a look at this issue?

[2019-01-19 15:21] yannlabou commented on #173
Sorry. I forgot. Will do tomorrow.

[2019-01-19 16:01] ihhub commented on #115
@0x72D0 how is it going? If you need any help, I'd like to discuss :)

[2019-01-19 16:11] ihhub commented on #173
That's fine. It'd be great to have it!

[2019-01-19 19:51] 0x72D0 commented on #115
oh I didn't got the time to start it yet, I should start it tonight

[2019-01-20 01:38] ihhub commented on #115
It would be great to see the implementation soon :)

[2019-01-22 01:04] ihhub commented on #115
Hi @ihhub are you going to implement NEON code as well? :)

[2019-01-22 01:05] ihhub commented on #115
Hi @0x72D0  are you going to implement NEON code as well? :)

[2019-01-22 01:11] 0x72D0 commented on #115
yeah sure :). I am not sure how to implement the AVX one since the shuffle is a little bit weird...

[2019-01-22 01:12] ihhub commented on #115
Don't worry about AVX as of now. It's better to have something than trying to have everything ;) An idea for AVX would come later.

[2019-01-22 08:03] ihhub commented on #310
@MeKot I think this task would suit your needs and interest ;) Please let me know if you have any questions. Also I have a design in mind.

[2019-01-23 00:40] ihhub commented on #310
1. `image_function_helper.h` has an enumeration `SIMDType`. This is an indicator which type of function would be called. In `image_function_simd.cpp` we already have checks for this and none of SIMD is available we call CPU code.
2. Use `image_function_simd.cpp` code as a basement. Rename namespace into `Image_Function`. Rename file into `image_function.cpp` (it would replace original file). The e

[2019-01-24 04:13] yannlabou commented on #173
@ihhub Yeah. Busy days at work but still I'm working on it. Build still failing otherwise I had created a PR.

[2019-01-24 05:18] ihhub commented on #173
We could go this way: if you face non easy problem put the code for PR even if it fails and we try to find a solution together. Few minds are better than one ;)

[2019-01-25 07:48] #178 closed

[2019-01-25 15:12] #173 closed

[2019-01-25 15:38] ihhub commented on #234
@MeKot would you like to work on this issue? It is related to work which you done in last pull request.

What we need is to move
[code]
from **test/unit_tests/unit_test_helper.h** and **test/unit_tests/unit_test_helper.cpp** into **test/test_helper.h** and **test/test_helper.cpp**. Then modify `setRunCount` function to accept 3 arguments such as `int argc, char * argv[], uint32_t count`, where **c

[2019-01-25 15:40] ihhub commented on #115
@0x72D0 did you have a time for NEON implementation? :)

[2019-01-25 23:09] 0x72D0 commented on #115
not yet, I might have some time for this, this weekend.

[2019-01-25 23:39] MeKot commented on #234
@ihhub Yes, absolutely! It looks like it should be quite quick to do!

[2019-01-26 03:35] #234 closed

[2019-01-26 03:40] ihhub commented on #335
This issue relates to #332

[2019-01-26 03:46] ihhub opened #346 "Add median and gaussian 1D filters as an optional step for gradient based edge detection"
We have an implementation of gradient based edge detection in **src/edge_detection.h** and **src/edge_detection.cpp**. Due to image quality of some input data it's good to have an extra image filtration before finding gradient values. Median and Gaussian filters are most common filters used in such case. We want to add them as an optional step before finding first and second gradients on an image

[2019-01-26 03:53] ihhub opened #347 "Set a proper flag replacement for std=c++11 for Python compilation with swig"
We have Python module compilation with swig help. The source files locate at **src/python** directory. One of the flags is **std=c++11**. We have an auto compilation of the Python module at AppVeyor (at the time of this issue creation). It's visible that swig ignores the flag as a warning. We want to find a proper replacement for this flag without generation of compilation warnings.

[2019-01-26 03:58] ihhub opened #348 "Python module compilation for Python 2 (for Python 3 is done) on AppVeyor"
We have auto compilation of Python module for Python 3.7 on AppVeyor. We want to add auto compilation for Python 2.7 as well as many people still use this version of Python. What changes we need:
1. Rename **PythonModule** jobs into **Python3.7**
2. Add new jobs named **Python2.7**
3. Add the same logic for Python2.7 as it's done for Python3.7

[2019-01-26 04:10] ihhub opened #349 "Auto generation of separate Python files (*.i) from C++ headers"
We have Python module of the project in **src/python** directory. This directory contains 2 files: **setup.py** and **penguinV.i**.
**setup.py** generates **penguinV.py** file which is a core file of the Python module. The generation is done by **swig**.
**penguinV.i** contains source code from original C++ header files. Most of the code was just copy-pasted from headers without any modification.

[2019-01-26 08:53] yannlabou commented on #172
@ihhub Sure.

[2019-01-26 09:01] ihhub commented on #172
AppVeyor ignores .travis.yml file changes so don't be surprised if AppVeyor build won't start. Plus yesterday I made AppVeyor to auto cancel previous builds if new build arrives. It's only for PRs.

[2019-01-26 15:10] 0x72D0 opened #350 "link error in unit_test on Raspberry Pi 3B"
I recently get a lot of linker error when I try to compile the unit_test on my raspberry pi, I succeed to compile the unit_test in #339. Here's the linker output:

build/bin/unit_test_image_function.o: In function `image_function::type1_GetThreshold()':
unit_test_image_function.cpp:(.text+0x444): undefined reference to `Test_Helper::runCount()'
build/bin/unit_test_image_function.o: In function `im

[2019-01-26 15:13] 0x72D0 commented on #350
I just try with the performance test and got the same error.

[2019-01-26 15:13] ihhub commented on #350
@0x72D0 could you please add **test/test_helper.cpp** file into makefiles? The problem is because we forgot to change makefiles while adding this file. Add please a pull request after :)

[2019-01-27 05:19] #350 closed

[2019-01-28 00:10] #172 closed

[2019-01-28 00:12] #117 closed

[2019-01-28 00:40] ihhub opened #354 "Travis build uses Python 2.7 instead of Python 3.7"
We build Python module via Travis-CI. The initial intention was to build it for Python 3.7 but from logs we see that the build uses Python 2.7. The issue could lie in a fact that Python version is actually **Python: 3.7 C++** as visible from job info.

[2019-01-28 03:00] ihhub opened #355 "Remove Travis-CI build for Python warnings related to -Wstrict-prototypes flag"
We have a Python auto build on [Travis-CI](https://travis-ci.org/ihhub/penguinV), it contains **-Wstrict-prototypes** flag warnings during the compilation. We want to remove them from the log to have a cleaner log.

[2019-01-28 03:04] ihhub opened #356 "Travis-CI script cleanup (move script portion for one job into separate place)"
Our script for Travis-CI is *.travis.yml* file. We wan to separate `script` part for static analysis that we don't have such complicated logic at the bottom of the file. We need to just add **-script** section here:
[code]
So in result we won't have an extra logic for main **script** section.

[2019-01-28 05:39] ihhub opened #357 "SIMD implementation of Flip() function"
We do not have SIMD (SSE, AVX or NEON) implementation of **Flip()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure which is used for SIMD code inside `image_function_simd.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_image_function.cpp` (it

[2019-01-28 05:40] ihhub commented on #357
Hi @0x72D0 , would you like to have a look into this issue? I think we could implement it for horizontal flip at least which is still better than nothing. What do you think?

[2019-01-28 05:47] ihhub opened #358 "Add missing function registration for ConvertToRgb SIMD function"
In`src\image_function_simd.cpp` we have a registration structure **FunctionRegistrator** where we register functions to be used everywhere across the library. We forgot to add `ConvertToRgb` function.

[2019-01-28 05:47] ihhub commented on #358
@0x72D0 could you please add this function and run unit and performance tests for it? Now function pool shouldn't have 5x slower performance than SIMD :)

[2019-01-28 05:52] ihhub opened #359 "Cuda implementation of Hough Transform"
We have _Hough Transform_ implementation of CPU (`src/math/hough_transform.h` and `src/math/hough_transform.cpp`). We want to add Cuda implementation of the same function.
1. Create new files named `src/math/cuda/hough_transform_cuda.cuh` and `src/math/cuda/hough_transform_cuda.cu`
2. Put the function under `Image_Function_Cuda` namespace

For simplification we need at least `float` version of the

[2019-01-28 05:54] ihhub opened #360 "OpenCL implementation of Hough Transform"
We have _Hough Transform_ implementation of CPU (`src/math/hough_transform.h`). We want to add OpenCL implementation of the same function.
1. Create new files named `src/math/opencl/hough_transform_opencl.h` and `src/math/opencl/hough_transform_opencl.cpp`
2. Put the function under `Image_Function_OpenCL` namespace

[2019-01-28 06:00] ihhub commented on #337
Hi @MeKot , this issue could bring some interest for you as it relates to code duplication reduction :)

[2019-01-28 06:39] yannlabou commented on #354
@ihhub  Sure. I'll take care as soon as I have time.

[2019-01-28 06:39] ihhub commented on #354
Thank you.

[2019-01-28 10:11] MeKot commented on #337
Hi, @ihhub, I'll have a look at it right away

[2019-01-28 14:19] 0x72D0 commented on #358
sorry... I completly forgot about it...

[2019-01-28 14:36] #358 closed

[2019-01-29 04:55] ihhub opened #362 "Cuda implementation of Edge Detection"
We have second derivation _Edge Detection_ implementation on CPU (`src/edge_detection.h` and `src/edge_detection.cpp` files). We want to add **CUDA** implementation for this. Steps to do:
1. Create new files named `src/cuda/edge_detection_cuda.cuh` and `src/cuda/edge_detection_cuda.cu`
2. Call the new class as `EdgeDetectionCuda` which would be derived from original `EdgeDetection` class.
3. In `E

[2019-01-29 04:57] ihhub opened #363 "OpenCL implementation of Edge Detection"
We have second derivation _Edge Detection_ implementation on CPU (`src/edge_detection.h` and `src/edge_detection.cpp` files). We want to add **OpenCL** implementation for this. Steps to do:
1. Create new files named `src/opencl/edge_detection_opencl.h` and `src/opencl/edge_detection_opencl.cpp`
2. Call the new class as `EdgeDetectionOpenCL` which would be derived from original `EdgeDetection` clas

[2019-01-29 05:06] ihhub commented on #88
Closing this issue as invalid at the moment. It's more related to code duplication.

[2019-01-29 05:06] #88 closed

[2019-01-30 02:17] ihhub opened #364 "Implement multithreaded version of Split() function (based on existing thread pool code)"
We do not have function pool (multithreading based on thread pool) implementation of **Split()** function. For the person who is willing to add such code please take a look into an implementation of the function inside `image_function.cpp` and the structure of code for function pool inside `function_pool.cpp`. Please do not forget to add unit test for newly created function(s) inside `unit_test_im

[2019-01-30 03:37] sethsawant commented on #327
Hi, I'm interested in contributing, would this be a good first issue to tackle?

[2019-01-30 03:40] ihhub commented on #327
Hello @sethsawant you could try to take it, no harm in this. If you need more explanation I can provide it. Mostly we need to implement math based functions within the new class.

[2019-01-30 03:44] ihhub commented on #327
We do not force people to make a perfect solution from first shot. If you have your own design and idea then you could create a pull request for further discussion. I'll message in a couple of hours with my vision of implementation.

[2019-01-30 03:51] ihhub commented on #327
@sethsawant if you think that this issue is little big I'll point to simpler issues. It's not a problem. Not all issues are marked 100% properly by labels. I'm apologizing for this

[2019-01-30 03:54] sethsawant commented on #327
I think I would need a little more detail on what the implementation of this issue would involve, but I would definitely be interested in anything else that needs to be done!

[2019-01-30 05:02] ihhub commented on #327
We have multiple issues for newcomers:
Math issues: #269, #320,
UI issues: #282, #313, #294
Documentation issues (no coding required): #296, #262
Scripting issues: #253

What I recommend is to try #269 at the start as it's quite simple to do ;)

[2019-01-30 07:08] ihhub commented on #327
@sethsawant please let us know which task you choose to work on so then nobody would do double work :)

[2019-01-31 01:01] ihhub commented on #327
Hi @sethsawant I've updated the description of this issue to be more clear what to do.

[2019-02-02 07:15] ihhub commented on #327
Hello @sethsawant have you pick up any issue? :)

[2019-02-02 07:16] ihhub commented on #354
I think we just beed to move **language: cpp** into matrix job to fix this problem.

[2019-02-02 07:17] ihhub commented on #337
Hi @MeKot how is it going? Do you need any help?

[2019-02-02 11:50] yannlabou commented on #354
Let's see :)

[2019-02-02 13:39] yannlabou commented on #355
See python bug https://bugs.python.org/issue9031 that was closed as duplicate of https://bugs.python.org/issue1222585

[2019-02-02 15:10] #354 closed

[2019-02-04 12:36] MeKot commented on #337
Hi, @ihhub, I've been slightly preoccupied lately with other work. I will have some time to work on it only closer to the end of the week, if I'm being honest.. In case this issue needs more urgent attention, it'd be amazing if someone else picked it up.. Sorry about that!

[2019-02-07 01:08] ihhub opened #366 "Add unit tests for ExtractChannel() function"
We have an implementation of **ExtractChannel**() function in `src/image_function.h` and `src/image_function.cpp`. Our unit tests locate in `test/unit_tests/unit_test_image_function.cpp`. We do not have unit tests for this function. What we need to do is to add 4 unit test functions to cover 4 different types of ExtractChannel() function. Please refer to Invert() function as an example.

[2019-02-07 01:11] ihhub opened #367 "Add unit tests for Merge() function"
We have an implementation of **Merge**() function in `src/image_function.h` and `src/image_function.cpp`. Our unit tests locate in `test/unit_tests/unit_test_image_function.cpp`. We do not have unit tests for this function. What we need to do is to add 4 unit test functions to cover 4 different types of Merge() function. Please refer to Invert() function as an example.

[2019-02-07 01:19] ihhub opened #368 "OpenCL implementation of Normalize() function"
We have CPU implementation of **Normalize**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add OpenCL implementation of the same function. Please put new code in `src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` files. Things which we need to do:
1. Copy 4 function declaration from `src/image_function.h` to `src/opencl/image_functi

[2019-02-07 01:21] ihhub opened #369 "Cuda implementation of Normalize() function"
We have CPU implementation of **Normalize**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add OpenCL implementation of the same function. Please put new code in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files. Things which we need to do:
1. Copy 4 function declaration from `src/image_function.h` to `src/cuda/image_function_cuda.c

[2019-02-07 02:43] ihhub opened #370 "OpenCL implementation of ProjectionProfile() function"
We have CPU implementation of **ProjectionProfile**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add OpenCL implementation of the same function. Please put new code in `src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` files. Things which we need to do:
1. Copy 4 function declaration from `src/image_function.h` to `src/opencl/imag

[2019-02-07 02:44] ihhub opened #371 "Cuda implementation of ProjectionProfile() function"
We have CPU implementation of **ProjectionProfile**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add Cuda implementation of the same function. Please put new code in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files. Things which we need to do:
1. Copy 4 function declaration from `src/image_function.h` to `src/cuda/image_function_

[2019-02-07 02:48] ihhub opened #372 "Add unit tests for Shift() function"
We have an implementation of **Shift**() function in `src/image_function.h` and `src/image_function.cpp`. Our unit tests locate in `test/unit_tests/unit_test_image_function.cpp`. We do not have unit tests for this function. What we need to do is to add 4 unit test functions to cover 4 different types of Shift() function. Please refer to Invert() function as an example.

[2019-02-07 02:49] ihhub opened #373 "Add unit tests for Split() function"
We have an implementation of **Split**() function in `src/image_function.h` and `src/image_function.cpp`. Our unit tests locate in `test/unit_tests/unit_test_image_function.cpp`. We do not have unit tests for this function. What we need to do is to add 4 unit test functions to cover 4 different types of Split() function. Please refer to Invert() function as an example.

[2019-02-07 10:12] #201 closed

[2019-02-07 22:56] yannlabou commented on #348
It was difficult but I submitted /pull/374.

[2019-02-08 05:03] ihhub commented on #348
@yannlabou thank you so much for your efforts! I put few comments there :)

[2019-02-08 14:52] #348 closed