[2019-02-11 01:00] ihhub opened #375 "Histogram() is extremely slow on Nvidia GPUs with compute capability lower than 2.0"
We have CUDA implementation of Histogram() function in `src/cuda/image_function_cuda.cu` file. We use **atomicAdd** in the function. Videocards with lower than 2.0 compute capability do not properly support atomic operations leading to a significant drop of performance for this function. We want to add an implementation of such function (GPU kernel) without atomic operation usage but do not remove

[2019-02-11 08:28] BascoDLowell opened #376 "Add support for Mingw compiler"
I'm trying to compile the sample project in examples/qt_framework/qimage_display, and I got 2 errors stating '_cpuindex' was not declared in scope. I'm compiling in Qt.

I am also interested in contributing code (the reason I'm trying the example), can someone help me started?

[2019-02-11 08:30] ihhub commented on #376
Hello @BascoDLowell could you please paste here exact compilation errors? It would greatly help to identify the root of problem.

[2019-02-11 08:31] ihhub commented on #376
Which are would you like to contribute in? We have UI, GPU, SIMD, code optimisation, code cleanup or even documentation? :)

[2019-02-11 08:32] ihhub commented on #376
@BascoDLowell plus could you please state your OS as well and development environment?

[2019-02-11 08:34] BascoDLowell commented on #376
![penguinerrorimage](https://user-images.githubusercontent.com/14083887/52552368-e6570200-2e1a-11e9-9e2f-ea4d041a8547.JPG)

[2019-02-11 08:36] ihhub commented on #376
I assume you use Windows. Give me please 2-3 hours until I get an access to Windows machine to check the issue. Thank you for sharing it!

[2019-02-11 08:37] BascoDLowell commented on #376
My OS is Windows 7. I use Qt 5.6 with mingw compiler.

[2019-02-11 08:37] ihhub commented on #376
I think the problem lies in the compiler. It might not support such functions...

[2019-02-11 08:39] ihhub commented on #376
@BascoDLowell could you please try to use another compiler to verify such problem?

[2019-02-11 08:42] BascoDLowell commented on #376
I have an installer for Qt 5.7 with built-in msvc 2015 compiler. I'll try that one.

[2019-02-11 08:50] ihhub commented on #376
Please try this trick: in `src/penguinv/cpu_identification.h` file change line 6 `#ifdef _WIN32 // Windows` into `#if defined(_WIN32) && !defined (__MINGW32__)`.
Currently workflow was tested only for Visual Studio compiler on Windows.

[2019-02-11 09:18] BascoDLowell commented on #376
Sorry, I lost my previous qt installation. I also cannot run the example with Qt 5.7.1 with MSVC2015 compiler.I got this message:
Error while building/deploying project example_qimage_display (kit: Desktop Qt 5.7.1 MSVC2015_64bit)
When executing step "qmake"

[2019-02-11 09:29] BascoDLowell commented on #376
I'll get back to this tomorrow.

[2019-02-11 12:46] ihhub commented on #376
Okay. Let's wait for your tomorrow's test :)

[2019-02-12 00:12] ihhub commented on #376
Hi @BascoDLowell, could you please try to replace line **6** in `src/penguinv/cpu_identification.h` by this code:
[code]
It should help to fully solve your first problem.

[2019-02-12 00:34] BascoDLowell commented on #376
![image](https://user-images.githubusercontent.com/14083887/52603207-d97cf180-2ea0-11e9-85ee-74148f5cf8a1.png)
I replaced cpu_identification.h and used mingw53_32 compiler in Qt.

[2019-02-12 01:03] ihhub commented on #376
My apology. Please replace line **21** by:
[code]

[2019-02-12 01:05] BascoDLowell commented on #376
Using MSVC2017 compiler and editing _src/penguinv/cpu_identification.h_ at line 6,
I was able to run the example.
I'll try changing line 21 and use mingw again.

[2019-02-12 01:07] ihhub commented on #376
This is a good sign :)

[2019-02-12 01:11] BascoDLowell commented on #376
It worked on mingw compiler. Thanks!

[2019-02-12 01:12] ihhub commented on #376
Well done @BascoDLowell ! Could you please create a pull request with these 2 lines of code to fix this issue?

[2019-02-12 01:17] BascoDLowell commented on #376
This is my first time, Can you tell me exactly what I need to do. Currently my fork is 1 commit behind this repository.

[2019-02-12 01:21] ihhub commented on #376
If you follow [this link](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) you should be able to create a pull request within your forked repository. Set a name of pull request the same as this issue. The rest of stuff I'll do myself :)

[2019-02-12 01:30] BascoDLowell commented on #376
@ihhub, Please check my pull request. thanks!

[2019-02-12 01:45] ihhub commented on #282
Hi @BascoDLowell, would you like to have a look into this issue since you work on QT (and on Windows)? You could make changes for QT as of now (and then later fix for Windows). If you need more information regarding this issue or something is no clear I would gladly help you :)

[2019-02-12 01:51] ihhub commented on #280
Hi @yannlabou , you seem to be very busy these days, don't you? :)

Would you mind to share some ideas of implementation for this issue? Such feature greatly improves pull request reviews and overall code development.

[2019-02-12 01:52] ihhub commented on #357
Hello @0x72D0 do you have a spare time for have a look into this? :)

[2019-02-12 01:53] ihhub commented on #337
Hi, @MeKot , did you have free time to have a look into this? :)

[2019-02-12 01:59] BascoDLowell commented on #282
I'll try this out @ihhub . I like to ask:
Do we have an example for the drawPoint() and drawLine() function in Qt?
This functions should draw to a bitmap image, right? (changing colors in the bitmap stream?)

[2019-02-12 02:03] ihhub commented on #282
We already have an implementation of point and line functions for Qt. Please take a look into **src/ui/qt/qt_ui.h** and **src/ui/qt/qt_ui.cpp** files. We use paint tool to draw on canvas and then output it as a bitmap image.

[2019-02-12 02:20] BascoDLowell commented on #282
I'm interested on digging on this! I don't have much knowledge on drawing in QT but I have time to read documentations.

[2019-02-12 02:41] ihhub commented on #282
I would recommend to have a look into [QPainter documentation](https://doc.qt.io/qt-5/qpainter.html). For ellipse you could use **drawEllipse** while for rectangle you could use a set of **drawLine** calls. I hope it would simplify your work :)

[2019-02-12 04:01] #376 closed

[2019-02-12 05:44] yannlabou commented on #280
Oy yeah. I'm in a new project at work. Lot of stuff to organize. Little time to code :(

Sure :).

[2019-02-12 07:15] BascoDLowell commented on #282
Hey @ihhub ! I finished extending the qt_ui.h classes with ellipse and rectangle. Should I open a Pull Request? or work on Win32 API additional classes?
Can I still use Qt IDE with Win32  API? I'm not sure I know how to add Win32 API to a project. Can you help me?

[2019-02-12 07:18] ihhub commented on #282
You could create a pull request for just Qt only if you think it's easy for you. No harm in this.

You can use Win32 API within Qt as this API is OS based API. If I'm wrong you could have a look at Win32 UI example in `examples\windows\edge_detection`.

[2019-02-12 07:32] BascoDLowell commented on #282
I noticed when I tried creating a pull request that my fork didn't have your commit when you changed the comments a while ago, can you help me regarding that? How can I add that commit in my fork?

[2019-02-12 07:41] ihhub commented on #282
You have to merge your changes with latest changes in trunk. Either you can do this via GitHub application on Windows or you just fork again and replace files which you modified.

[2019-02-13 03:14] 0x72D0 commented on #357
I'm gonna check this this weekend :)

[2019-02-13 06:26] ihhub commented on #357
Sure. Looking forward for the implementation!

[2019-02-13 07:11] ihhub opened #380 "Merge CUDA and OpenCL device management code"
We have device management code for CUDA (`src/cuda/cuda_device.cuh` and `src/cuda/cuda_device.cu` files), and for OpenCL (`src/opencl/opencl_device.h` and `src/opencl/opencl_device.cpp` files). These files have a lot of common code.

We want to remove duplication code from these files. Steps needed to do this:
1. Rename `CudaDevice` and `OpenCLDevice` into **Device** class
2. Rename `CudaDeviceMan

[2019-02-13 23:23] #143 closed

[2019-02-15 04:58] ihhub opened #382 "Add OpenCL kernel timing measurement tool (timer) for performance tests"
We have performance tests for OpenCL code which locate in `test/performance_tests/opencl` directory. To measure kernel timings we use CPU-based timer, implementation of which locates in `test/performance_tests/performance_test_helper.h` and `test/performance_tests/performance_test_helper.cpp` files. We have already working timer for Cuda (check `test/performance_tests/cuda/performance_test_helper_

[2019-02-16 09:33] BascoDLowell commented on #282
Hi @ihhub! Currently, I cannot run the win32 API based example.
I have visual studio 2017 installed.
I'll be continuing on monday.

[2019-02-17 10:42] #244 closed

[2019-02-17 10:42] #368 closed

[2019-02-17 14:27] ihhub opened #385 "Python compilation sometimes fails on AppVeyor"
We observed multiple compilation failures for Python on AppVeyor. Rerun of such builds helps. I will attach a log once the failure happens again.

[2019-02-17 16:48] 0x72D0 commented on #357
with my test, I get the following error:
![screenshot_2019-02-17_11-45-57](https://user-images.githubusercontent.com/16087328/52916126-cd7e9e80-32a9-11e9-8e71-52f438785b80.png)
any idea why this error trigger?

[2019-02-18 00:08] ihhub commented on #357
Original Flip function works only with gray-scale images so the problem could lie in VerifyColorImage instead of correct VerifyGrayScaleImage usage.

[2019-02-18 00:42] ihhub commented on #385
@yannlabou have you noticed this on your fork? I will put log file once I see it.

[2019-02-18 02:17] ihhub commented on #282
Hi @BascoDLowell ,
Could you please find the exact place in code where this exception raises? Did you put an image `examples/_image/mercury.bmp` within a directory where you run your compiled application?

[2019-02-18 02:23] ihhub commented on #282
I assume that this exception raises at **line 14**. This line must be removed as it was created for testing only. Could you please do it? After this you could see a message `Cannot load the image` which is a normal behaviour of the application if no image is within directory.

[2019-02-18 02:30] ihhub commented on #357
You just post a code for `Flip` function from `namespace simd` which you made and I take a look :)

[2019-02-18 03:07] BascoDLowell commented on #282
I was able to run the sample by copying `mercury.bmp` to the sample application folder. Thanks!

[2019-02-18 03:52] 0x72D0 commented on #357
from the simd namespace:

![screenshot_2019-02-17_22-49-55](https://user-images.githubusercontent.com/16087328/52927030-81157c00-3306-11e9-84b0-613c35666fd1.png)

from the sse namespace (for now I try to make the horizontal only working):

![screenshot_2019-02-17_22-50-29](https://user-images.githubusercontent.com/16087328/52927059-a0aca480-3306-11e9-9714-3f232d6a5f2a.png)

[2019-02-18 03:53] ihhub commented on #357
You call `ConvertToRgb` inside code which is wrong.

[2019-02-18 03:56] 0x72D0 commented on #357
oh yeah you're right... didn't see it...

[2019-02-18 03:58] 0x72D0 commented on #357
but still it shouldn't be the problem since when I test sse, these lines are not executed

[2019-02-18 03:59] ihhub commented on #357
Unit tests generate image which could have width less than 16 bytes leading to execution of CPU path code.

[2019-02-18 04:00] 0x72D0 commented on #357
oh ok, I will ran the test and see if the output change

[2019-02-18 04:01] 0x72D0 commented on #357
yup everything is fine now

thanks :)

[2019-02-18 04:47] yannlabou commented on #385
Both python jobs? I'm building only my pull requests. I will observe this. Logs might also be indeed helpful.

[2019-02-18 04:48] ihhub commented on #385
One time I saw Python build for 2.7, another time for 3.7.

[2019-02-18 06:17] ihhub commented on #385
Check [this](https://ci.appveyor.com/project/ihhub/penguinv/builds/22444726) log.

[2019-02-19 05:18] yannlabou commented on #385
Could you pass `-dv` (debug and verbose) to choco install and report? https://github.com/ihhub/penguinV/blob/482aa69c9a801c95666cc6cb5e95acf8e6560578/appveyor.yml#L38

[2019-02-19 05:50] ihhub commented on #385
I'll do it in a while.

[2019-02-19 10:09] ihhub commented on #385
Do you mean to make
`- if not exist C:\ProgramData\chocolatey\bin\swig.exe choco install swig --version 3.0.12 --yes --limit-output -dv`?

[2019-02-19 10:31] yannlabou commented on #385
Yes.

[2019-02-19 10:33] ihhub commented on #385
`-dv` or `--dv`? :)

[2019-02-19 10:35] yannlabou commented on #385
`-dv`.

[2019-02-19 10:35] ihhub commented on #385
Done.

[2019-02-19 10:36] yannlabou commented on #385
Let’s see what it outputs during build failures.

[2019-02-20 00:40] #282 closed

[2019-02-20 01:09] ihhub commented on #278
@BascoDLowell would you like to have a look into it? It's related to what you have done recently.
If you need more information please ask us :)

[2019-02-20 01:10] ihhub commented on #269
Closing this issue as optimisation is not worth time to be spent.

[2019-02-20 01:10] #269 closed

[2019-02-20 01:19] ihhub opened #389 "OpenCL device detection code fails for systems with multiple GPUs"
**isOpenCLSupported()** function (files `penguinV/src/opencl/opencl_helper.h` and `penguinV/src/opencl/opencl_helper.cpp`) returns false for devices with multiple GPUs for this chunk of code:
[code]
which is incorrect behaviour.

[2019-02-20 02:56] BascoDLowell commented on #278
Yes, I'm willing to work on this..  👍
If I understand the requirement, we need a template function to display the output of image histogram and projection transformation in UIWindow? Where should this template function be placed?

[2019-02-20 03:04] ihhub commented on #278
Let's create a directory `tool` inside `src/ui` with a file named `tool_ui.h`. As functions are templates we don't need source file (as of now). Call functions as `DisplayHistogram` and `DisplayProjectionProfile`.

[2019-02-20 03:09] ihhub commented on #278
The biggest problem which we may face here is the size of projection profile array. Additionally, we need to normalise values in histogram as well. My suggestion for histogram: highest value would have 100 pixels of height. The same applies for projection profile.

From another side we can do not image at all (we still need an image but we create a white N by M pixels image) and all drawings we do

[2019-02-20 03:40] BascoDLowell commented on #278
I'm not sure I understand completely your thoughts. May I know where is these image histogram and image projection implementations?

[2019-02-20 03:51] ihhub commented on #278
In **src/image_function.h** and **src/image_function.h** file you could find *Histogram* and *ProjectionProfile* functions. Histogram always returns a vector of size of 256, while ProjectionHistogram returns variable sized vector.

[2019-02-20 03:54] ihhub commented on #278
As both functions return a vector we can just create a single template function called DisplayHistogram which would construct an image based on given input array.

[2019-02-20 03:55] ihhub commented on #278
So this task is just to display already obtained/generated results. Nothing more than this :) Is it clear for you now?

[2019-02-20 03:58] BascoDLowell commented on #278
Yes, I understand that part. But I don't understand your suggestions in the implementation of Display functions.

[2019-02-20 05:18] ihhub commented on #278
The function should looks like this:
[code]

[2019-02-20 05:41] BascoDLowell commented on #278
This should be declared virtual and static function right? So we dont have to create an object of the class to call the function, what do you think?

[2019-02-20 06:01] ihhub commented on #278
This function should be just as a template function where template parameter is type of vector:
[code]
So that all code could be located within header (a single function) and it could accept not only `uint32_t` type.

[2019-02-20 06:22] ihhub commented on #278
if you are not familiar with templates then just made function declaration in a file and then add function implementation in source file. No harm in this :)

[2019-02-20 06:38] BascoDLowell commented on #278
I haven't tried implementing template function but I think I can manage. :)

[2019-02-20 06:53] BascoDLowell commented on #278
@ihhub, do we have a way to set and get pixel value of the image?

[2019-02-20 07:01] ihhub commented on #278
`image.data()` gives you a raw pointer to whole image. If you want to construct image without any drawings then you have to create RGB image and set needed pixels. Please refer to `src/image_function.cpp` *SetPixel* function.

[2019-02-20 07:07] ihhub commented on #278
You can make first iteration of the code and make a pull request so then we can discuss together what we need to do if anything else required :)

[2019-02-21 14:57] #389 closed

[2019-02-22 03:13] ihhub commented on #357
@0x72D0 I assume that AVX implementation would be not easy, wouldn't it? :)

[2019-02-22 03:22] 0x72D0 commented on #357
exactly :)

[2019-02-22 03:23] 0x72D0 commented on #357
same problem each time, I can't shuffle hi and low part of the ymm registers

[2019-02-22 03:24] ihhub commented on #357
I understand. Would you like to try some of tasks related to multithreading or implement some of filters with SIMD?

[2019-02-22 03:27] 0x72D0 commented on #87
I will try this one next :)

[2019-02-22 03:28] 0x72D0 commented on #87
In which file I should implement this?

[2019-02-22 03:29] 0x72D0 commented on #357
I'm gonna try something else

[2019-02-22 03:33] ihhub commented on #87
Sure. We need to modify `src/image_function_simd.cpp` file in `namespace simd` we just make such trick as set height to 1 while with would be `width * height`. So the code should be something like this:
[code]

But we must be sure that there would be no variable overflow.

[2019-02-22 03:39] 0x72D0 commented on #87
ok

[2019-02-22 03:43] ihhub commented on #87
I recommend to make such code as a separate function to save time and space. This function would be located in `namespace simd` just before line `using namespace PenguinV_Image;`.
Let's call it something like **OptimiseROI**. I think we should have a variadic template function (you can get a look into such function into `src/parameter_validation.h` file).

`width` and `height` must be references.

[2019-02-22 03:46] ihhub commented on #87
I think you could avoid variable overflow check as people very rarely work with images bigger than 4 GB :)

[2019-02-22 04:47] ihhub opened #391 "Run OpenCL unit tests on AppVeyor"
Currently we don't run OpenCL compiled unit tests on AppVeyor due to runtime error in the application. The possible issue of the application crash could be in CUDA package usage. Other projects which use OpenCL are able to run OpenCL compiled applications. We might just need to separately install OpenCL package to avoid the crash.

[2019-02-22 04:49] ihhub commented on #391
Here is a potential solution for OpenCL (was taken from **computer** project):
[code]

[2019-02-22 06:04] 0x72D0 commented on #87
can we use C++17 feature in this project?

[2019-02-22 06:15] ihhub commented on #87
Which C++17 feature do you want to use?

[2019-02-22 06:29] 0x72D0 commented on #87
expression folding

[2019-02-22 06:36] ihhub commented on #87
I don't see any advantage to use such feature. C++11 already supports variadic templates which is totally fine for us. If I'm wrong could you please explain what advantage will we have using expression folder?

[2019-02-22 08:44] ihhub commented on #87
From my personal experience it's better not to use latest C++ features as it kills a potential range of users who don't use latest version (backward compatibility) and sometimes we can implement the same feature (if it's not big) in older C++ versions :)

[2019-02-22 14:14] 0x72D0 commented on #87
oh I just wanted to do something like this:

[code]

but I'm gonna try to see another way to evaluate if all the images rowsize are equal to the width :)

[2019-02-26 06:14] ihhub commented on #278
Hello @BascoDLowell , how is it going?

[2019-02-26 10:17] #87 closed

[2019-02-26 12:27] BascoDLowell commented on #278
Hi @ihhub! I became busy with some urgent things. I'll try to get back to this as soon as I can. :)

[2019-02-27 00:45] ihhub opened #394 "Processing acceleration for full width ROI"
Recently (#87 ) we introduced processing acceleration for full width ROI in SIMD functions (`src/image_function_simd.cpp`). We could apply the same technique for CPU functions located in `src/image_function.cpp` file. Steps what we need to do:
1. Move **IsFullImageRow** and **OptimiseRoi** functions into `src/parameter_validation.h` file. We need to use template argument for images instead of pred

[2019-02-27 04:49] ihhub commented on #278
Thanks for the answer! We'll be waiting for your implementation :)

[2019-02-27 07:39] ihhub commented on #315
@yannlabou would you mind to have a look into this or would you prefer to take non scripting task? :)

[2019-02-27 07:42] ihhub commented on #391
@yannlabou what do you think about it?

[2019-02-27 07:58] ihhub commented on #10
Closing this issue as the most of the work is done.

[2019-02-27 07:58] #10 closed

[2019-02-27 07:59] ihhub commented on #356
Hey @yannlabou, does it make sense to do? :)

[2019-02-27 08:00] ihhub commented on #69
Closing this issue as we don't want to have duplicated items and to reduce an amount of visible work.

[2019-02-27 08:00] #69 closed

[2019-02-27 08:02] ihhub commented on #70
We have base compilation of CUDA/OpenCL on AppVeyor so this issue could be closed.

[2019-02-27 08:02] #70 closed

[2019-02-28 07:51] ihhub commented on #280
I think we need to close this issue. We need only one time to check format style which is done in Travis-CI.

[2019-02-28 07:51] #280 closed

[2019-02-28 08:22] yannlabou commented on #315
@ihhub I’m on holiday leave. I’ll get back to you next week. Also I have no Android experience. I’m probably not the right person for this job.

[2019-02-28 08:23] ihhub commented on #315
You don't need to have Android experience as it's just a compilation for Android platform. Enjoy your holidays on your own island with your own villa and yacht! :)

[2019-02-28 08:25] ihhub commented on #315
This is okay. I'll try to do it myself ;)

[2019-02-28 08:37] yannlabou commented on #356
Sure.

[2019-02-28 08:42] ihhub commented on #356
I'm sorry if I request too many things from you. After all, it's a volunteer work so I have no right to force anyone to do anything :)

[2019-03-01 00:26] #100 closed

[2019-03-01 00:29] ihhub opened #397 "Merge opencl_types.h and cuda_types.cuh files"
We have `src/opencl/opencl_types.h` and 'src/cuda/cuda_types.cuh` files. Both of them contain 2 template classes which are almost identical. We want to reduce code duplication for such case. Please create a new file called `src/gpu/base_types.h` which would include a common code for these two files.

[2019-03-01 00:50] ihhub commented on #394
I'll fix this issue :)

[2019-03-01 02:24] ihhub commented on #394
@0x72D0 out change for SIMD doesn't work for color images :) I'll fix it too.

[2019-03-01 08:49] ihhub opened #399 "Compilation speed up for AppVeyor and Travis-CI"
We build our code with **CMake** help on remote AppVeyor and Travis-CI servers. Code compilation is quiet slow (it takes few minutes). Why don't we try to use multithreading mode for **CMake** compilation like adding a flag `cmake <option1> <option2> -- -j 4`?

From CMake documentation:
`--             = Pass remaining options to the native tool.`

[2019-03-01 21:07] vrozin commented on #321
Hello,
I'm new to the project, but would like to help you on this issue.
PR #401 has been submitted with some changes.
Please feel free to ask for further modification =)

[2019-03-02 02:32] ihhub commented on #385
[Here](https://ci.appveyor.com/project/ihhub/penguinv/builds/22752772/job/6jdpc6kavle1a96w) is our catch :)

[2019-03-02 02:39] ihhub commented on #321
Hi @vrozin thank you very much for your efforts! We're looking into your PR.

[2019-03-02 06:51] #394 closed

[2019-03-02 08:24] #321 closed

[2019-03-05 04:26] ihhub opened #403 "We shouldn't run unit tests for Travis-CI QT based Linux box"
We have auto [compilation server](https://travis-ci.org/ihhub/penguinV) for Linux and MacOS which contains multiple jobs. Currently we have 2 separate jobs for Linux: one is for Cuda compilation and another for QT compilation. Both of them run unit tests (which are resource heavily). We should not run unit tests on both jobs as just waste compilation time for doing the same twice.
The job which is

[2019-03-05 06:30] yannlabou commented on #385
There is nothing we could do. It looks like a Powershell/Chocolatey timeout (temporary network issues?).
There is a `chocolatey` timeout option but I don't believe it's necessary to increase the build time for occasional failures.
[code]

[2019-03-05 06:31] ihhub commented on #385
In this case we really can nothing to do :)

[2019-03-05 06:32] #385 closed

[2019-03-07 04:02] ihhub opened #405 "Speed up unit tests"
We have our own unit test framework which locates in `test/unit_tests` directory. We have more than 300 different tests and we run them a big number of times to cover all possible situations. Such approach is very good for bug catching but it takes some time. We would like to speed up unit tests where it is possible.
We have unit test helper, source of which locates in `penguinV/test/unit_tests/un

[2019-03-07 08:33] ihhub opened #406 "Add internal memory copy between CPU and GPU when a new option is enabled"
We present the library as a project with heterogeneous system support but we haven't implemented an internal memory copy function within the code. How it should work: assume we have a global option which we could locate in `src/image_function_helper.h` and `src/image_function_helper.cpp` called *bool internalMemoryCopy;*.
A developer has a bunch of classes/functions which are registered within `sr

[2019-03-08 05:30] #356 closed

[2019-03-08 05:30] #403 closed

[2019-03-08 08:04] ihhub commented on #166
Hi @yannlabou would you like to fix this issue? I read recently that CMake has internal support of CUDA so for us it's very helpful.

[2019-03-08 08:40] ihhub commented on #310
Hi @0x72D0 would you like to do this since you are very familiar with the code?

[2019-03-10 03:08] 0x72D0 commented on #310
Hi @ihhub I have some trouble to keep up with my study, so I'm gonna restart contributing in 1-2 months. When I'm gonna restart contributing, it would be a pleasure for me to do this issue :)

[2019-03-12 01:09] #166 closed

[2019-03-12 02:38] ihhub opened #408 "Include CUDA examples into CMake compilation"
[Recently](https://github.com/ihhub/penguinV/commit/f3f3640ffeb279853de697372e7bdcad29637306) we added **CUDA** compilation support into CMake. We have few Cuda examples: `examples/cuda/image_function/` and `examples/cuda/pinned_memory/` which we would like to add as a part of CMake.

[2019-03-16 02:25] vrozin commented on #328
Hello!
May I contribute to this issue?

[2019-03-16 02:28] ihhub commented on #328
Hi @vrozin . Yes, you can do it. Do you need any further explanation?

[2019-03-16 15:05] #406 closed

[2019-03-16 17:43] vrozin commented on #328
@ihhub, thank you, at least not yet. The description you gave provides good details on what should be done.

[2019-03-17 09:12] ihhub opened #411 "Add ReplaceChannel function"
We have an implementation of ExtractChannel, Merge and Split functions in `src/image_function.h` and `src/image_function.cpp` file. We would like to add a new function called ReplaceChannel. Here is new function interface:
[code]

New function should replace color channel (bytes) by new channel image in RGB image.

[2019-03-25 01:31] ihhub opened #412 "Add adaptive thresholding"
We have a global thresholding method which locates in `src/image_function.h` and `src/image_function.cpp` files. We would like to add **adaptive thresholding** method based on median filter or Gaussian filter. To make task easier lets make adaptive thresholding based on median filter first.

New code should be located in `src/image_function.h` and `src/image_function.cpp` files. New functions shou

[2019-03-25 01:35] ihhub opened #413 "Add ReplaceChannel() function"
We have multiple (Merge, Split, ConvertToRgb and etc) functions for manipulation of RGB images. Such code locates in `src/image_function.h` and `src/image_function.cpp` files. We want to add a new function called **ReplaceChannel** which would receive 2 images: one is RGB image, another one - gray-scale image. Another parameter of newly created functions must be **channelId**. From function name i

[2019-03-26 23:42] ihhub opened #414 "Sequencial call of find() function for edge detection doesn't clean previous data"
Edge detection code which locates in **src/edge_detection.h** and **src/edge_detection.cpp** files has *find()* function. Sequencial call of this function doesn't clean previous data.

[2019-03-26 23:46] ihhub opened #415 "Vertical edge detection works incorrectly"
Edge detection code which locates in **src/edge_detection.h** and **src/edge_detection.cpp** files has a bug in vertical edge detection. Results showed that horizontal edge detection on transposed image works differently compare to vertical edge detection on non transposed image. The problem lies in *find()* function.

[2019-03-27 06:38] ihhub commented on #415
Looks like the latest small fix solves the problem. Closing this issue for now.

[2019-03-27 06:38] #415 closed

[2019-03-28 02:02] ihhub opened #417 "Add a function to find thresholds based on multi-level Otsu's method"
We have an existing implementation of Otsu's method to find a threshold value between background and foreground. The code locates in `src/image_function_helper.h` and `src/image_function_helper.cpp` files. We want to add another function to return threshold values for multi-level Otsu's method which is useful for double thresholding.

[2019-04-08 05:11] #328 closed

[2019-04-10 20:49] vrozin commented on #346
Hi @ihhub !
I am very interested in working with this issue.
May I ask you something regarding Gaussian noise filtering? As I can see, in `filtering.h` and `filtering.cpp` there is present a function for Gauss kernel search `void GetGaussianKernel( std::vector<float> & filter, uint32_t width, uint32_t height, uint32_t kernelSize, float sigma );`. Will I be correct to assume that in order to filter

[2019-04-11 00:24] ihhub commented on #346
@vrozin
you would need to follow the idea of creation of Gaussian kernel based on code in `filter.h`. `GetGaussianKernel` function is designed to return 2D filter kernel while for edge detection we need **1D**. This is pretty simple to do: think that you don't have Y axis so the line of the code:
[code]
would be transformed into
[code]
with having a single loop :)

Once you have 1D kernel (which i

[2019-04-11 00:53] ihhub opened #419 "Add ConvertTo16Bit() and ConvertTo8Bit() functions"
We would like to support 16-bit images in future. Currently our main focus is on 8-bit images which are most commonly used everywhere. Many file formats support 16 bit images and we would like at least add a functionality to convert from 16-bit to 8-bit and reverse way. New functions must have 4 overloaded forms as other functions and locate in `src/image_function.h` and `src/image_function.cpp` f

[2019-04-11 01:15] vrozin commented on #346
@ihhub Thank you for the detailed explanation! Will work on it :)

[2019-04-11 01:15] ihhub commented on #346
Sure!

[2019-04-11 02:18] ihhub commented on #414
Hi @vrozin , since you have an interest to work on edge detection would you mind to look into this issue? It's just to call `clear()` function of 2 `std::vector` members of EdgeDetection class :)

[2019-04-11 02:30] vrozin commented on #414
Absolutely :)
Consider it being done. I'll apply the change while working on #346

[2019-04-11 02:43] ihhub opened #420 "Standard compilation fails on Ubuntu for SSSE3 instructions"
As user expects top just copy-paste the project and add needed files into her/his solution we should be aware of such way of compilation. Currently, when we copy-paste a whole `src` directory (excluding **kissfft**) we have a compilation error regarding SSSE3 instructions `_mm_shuffle_epi8`. The solution around would be  to check `__SSSE3__ ` macro in `src/penguinv/cpu_identification.h` file and s

[2019-04-11 23:11] #420 closed

[2019-04-13 02:40] #278 closed

[2019-04-14 11:29] #405 closed

[2019-04-14 11:33] #75 closed

[2019-04-14 11:55] ihhub commented on #338
It's know issue related to data access in RAM. Closing it as it's not related directly to the project.

[2019-04-14 11:55] #338 closed

[2019-04-14 13:04] #419 closed

[2019-04-14 13:46] ihhub opened #426 "Add Metal support (API by Apple)"
We have support of CUDA and OpenCL which are wide-spread technologies. The code for them locates in `src/cuda` and `src/opencl` directories respectively. We would like to add support for Metal - API introuduced by Apple Inc. exclusively for iOS and MacOS.
For a person who wishes to start working on this issue there is a proposed way to do:
1. Create a new image buffer class with unique id as **4**

[2019-04-14 15:49] scrounchtike commented on #426
Hi, this is my first post/comment on penguinV. 0x72D0 introduced me to this open source project and I think I will start with this feature request. Just a head's up that Ill start working on it  : )

[2019-04-14 23:15] ihhub commented on #426
Hi @scrounchtike thanks for picking this task! We're looking forward for your work.

Just to simplify your work I highly recommend to have a look into OpenCL implementation as it's very close technology. Please don't try to make in one shot, you could do in a small commits as well :)

[2019-04-15 01:32] ihhub opened #427 "Remove duplication code in BlobInfo class"
Our blob detection code locates in `src/blob_detection.h` and `src/blob_detection.cpp` files. There are 2 functions which have the same code: **BlobInfo::_getElongation()** and **BlobInfo::_getLength()**. Steps are needed to be done:
1. In **class BlobInfo** add a new parameter called `Value < double >_guideAngle;`
2. In **BlobInfo::_getLength()** function calculate such angle (see the code in **_

[2019-04-15 01:39] ihhub opened #428 "Add corner case handling for blob detection when whole image is white"
We have blob detection code located in `src/blob_detection.h` and `src/blob_detection.cpp` files. The main class for blob detection is **BlobDetection** which has function **BlobDetection::find**. This function receives an argument called *threshold* based on which we determine the difference blob and background. There is one corner case which we don't handle: if *threshold* is equal to **0** then

[2019-04-15 01:59] ihhub opened #429 "Simplify FilterKernel structure by removing extra function"
We have **FilterKernel** structure which locates in `src/filtering.cpp` file (at the very top of it). We want to remove *gradient* function and *const float multiplier* class member by just assigning an expression in *gradient* function directly to kernel array without calling such function. Simple as it is :)

[2019-04-15 02:15] ihhub opened #430 "Remove PENGUINV_BUILD_TEST enviroment variable for CMake"
We have `PENGUINV_BUILD_TEST` variable which is used in Travis build for CUDA. There is no evidence that this variable brings any effect on compilation. This is full list of files where this variable appears:
[code]

[2019-04-15 02:16] ihhub commented on #430
Greetings, @yannlabou would you mind to take a quick look into this tiny issue and tell if this variable is truly not in use anymore? :)

[2019-04-15 03:12] yannlabou commented on #430
@ihhub Sure. Let me check.

[2019-04-15 03:51] yannlabou commented on #430
The variables `PENGUINV_BUILD_TEST` (and `PENGUINV_BUILD_EXAMPLE`) are defaulted to `ON` and not further used in _our_ build jobs. Nevertheless, they are not useless as they give the option to either build or not the tests (and the examples).
e.g. `cmake -DPENGUINV_BUILD_TEST:BOOL=OFF ..` won't generate the CMake targets `performance_tests` and `unit_tests`.

Still there is a subtle bug in https:/

[2019-04-15 03:54] ihhub opened #431 "SIMD implementation of ConvertTo16Bit() and ConvertTo8Bit() function"
Recently we added **ConvertTo16Bit()** and **ConvertTo8Bit()** functions into our code (`src/image_function.h` and `src/image_function.cpp` files). We would like to implement SIMD (SSE, AVX and NEON) version of these functions which should be located in `src/image_function_simd.h` and `src/image_function_simd.cpp` files. We recommend to have a look into **ConvertToRgb()** function implementation a

[2019-04-15 03:56] ihhub commented on #430
Thanks for the detailed research! I'll do a pull request for above bug once I have a spare time.

[2019-04-15 04:09] yannlabou commented on #430
/pull/432

[2019-04-15 05:10] yannlabou commented on #426
Isn’t the Metal API written in Swift and Objective-C?

[2019-04-15 05:11] ihhub commented on #426
You could combine Objective-C and C++ compilation.

[2019-04-15 16:08] scrounchtike commented on #426
yes Metal is Objective-C, but I will probably end up making a Objective-C++ wrapper for accessing the Metal API functions.

[2019-04-16 00:03] ihhub commented on #426
We don't need to access Metal API directly as we could hide all logic inside source files. From my personal experience it is possible to combine Objective-C and C++ for iOS/MacOS applications.

[2019-04-16 00:04] #430 closed

[2019-04-16 03:01] #411 closed

[2019-04-16 16:33] scrounchtike commented on #426
Sorry Im not sure I understand the first sentence you wrote. "We don't need to access Metal API directly" and "we could hide all logic inside source files" do not make much sense to me. Could you elaborate please?

But in short yes, the wrapper I was referring to would be Objective-C and C++ so that our code could remain C++ outside of said wrapper.
Note that Im not suggesting to "hook" the Metal

[2019-04-17 01:25] ihhub commented on #426
I meant that we need to uae wrappers or something like this. Let's wait for your first implementation and then we would have a discussion if needed :)

[2019-04-18 02:15] ihhub opened #435 "Rename EdgeDetection into EdgeDetectionBase"
We have our edge detection code in `src/edge_detection.h` and `src/edge_detection.cpp` files. `EdgeDetection` class is a template class with default typename **double**. From user perspective a creation of such class should be in this way:
[code]
while now user should do like this:
[code]
which is confusing.
We should rename this class into `EdgeDetectionBase` and use `typedef EdgeDetectionBase<do

[2019-04-18 03:40] ihhub opened #436 "ParameterValidation function doesn't check for out of boundaries values"
We have `ParameterValidation` function in `src/parameter_validation.h` file. This function has such check:
[code]
It is correct except the situation when `startX` or `startY` is almost **max_of(uint32_t)** resulting that  `startX + width` or `startY + height` would be very small value.

[2019-04-21 07:26] #285 closed

[2019-04-21 07:53] ihhub opened #438 "Compile edge_detection example for Unix system with X11 support"
We have `edge_detection` example which locates in `examples/edge_detection` directory. Currently `examples/CMakeLists.txt` compiles this example when Microsoft Visual Studio is present. We need to compile this example if X11 present. Additionally, we need to modify examples/edge_detection/CMakeLists.txt` to compile the example properly for **X11** case.
This issue relates to #285

[2019-04-21 07:55] #436 closed

[2019-04-22 01:51] ihhub commented on #426
Hi @scrounchtike how is it going? :)

[2019-04-22 08:32] ihhub commented on #266
Duplicate of #292

[2019-04-22 08:32] #266 closed

[2019-04-22 21:46] scrounchtike commented on #426
It's going well, thanks for asking.

So far, I implemented grayscale using Metal and a few utilities for texture uploading/downloading.

One thing I am confused about is how the GPU images (textures) are represented in penguinV.
Images (PenguinV::Image) are used for representing CPU images as well as GPU textures.

I dont know much about CUDA or OpenCL, but Metal uses its own representation of ima

[2019-04-22 23:38] #366 closed

[2019-04-22 23:38] #367 closed

[2019-04-22 23:38] #373 closed

[2019-04-22 23:38] #429 closed

[2019-04-23 14:49] ihhub commented on #426
Sorry for late reply.
Please take a look into `src/opencl/image_buffer_opencl.h` and it's class implementation. OpenCL doesn't have raw pointer as well. The solution is to use **reinterpret_cast**.

[2019-04-23 23:39] #414 closed

[2019-04-23 23:39] #435 closed

[2019-04-25 04:50] ihhub commented on #97
Closing this issue as invalid as we need both classes.

[2019-04-25 04:50] #97 closed

[2019-04-26 03:39] #265 closed

[2019-04-26 17:17] FrankJWH commented on #427
If this is still a viable ticket, I'd like to take a shot at it!

[2019-04-26 20:42] FrankJWH commented on #427
The one issue I have refactoring this is that both functions are dependent on [_Point2d startPoint_](https://github.com/ihhub/penguinV/blob/d5bc1a3a795c48fa41e60cdfccc79259bb24bc46/src/blob_detection.cpp#L203) as you can see for [here](url) for **BlobInfo::_getElongation** function and [here]() for **BlobInfo::_getLength**.  Do you suggest creating a member variable for it?

[2019-04-27 08:27] ihhub commented on #427
Hi @FrankJWH , yes, this issue is still available and it would be great if you fix it.

I have a better idea: we could create a function unnamed namespace (at the top of `blob_detection.cpp` file which would have such signature:
[code]

The function returns length value. We need to verify input data and throw an exception if the sizes of contours are not equal. Assign (0, 0) to start and end point

[2019-04-27 13:54] FrankJWH commented on #427
Yes I believe I understand what you're getting at. I was thinking of creating a function and wanted to follow your coding style and form. I'll get that done as soon as possible!

[2019-04-27 13:54] ihhub commented on #427
Sure!

[2019-04-27 14:21] ihhub opened #443 "Put #include <tmmintrin.h> under PENGUINV_SSSE3_SET macro"
It's simple as header says we have to put `#include <tmmintrin.h>` under **PENGUINV_SSSE3_SET** macro in `src/image_function_simd.cpp` file.

[2019-04-27 14:32] ihhub opened #444 "Change PENGUINV_DISABLE_PNG_SUPPORT into PENGUINV_ENABLE_PNG_SUPPORT"
Currently in `src/file/png_file.cpp` we use a macro **PENGUINV_DISABLE_PNG_SUPPORT** to disable PNG code. We detect png library presence in CMake.
From user perspective who wants to use makefile or Visual Studio project or something else such flag doesn't exist by default which leads to compilation error.
If we set a flag **PENGUINV_ENABLE_PNG_SUPPORT** for opposite case in CMake and we change log

[2019-04-28 01:16] yannlabou commented on #438
/pull/445

[2019-04-28 01:55] ihhub commented on #444
Hi @yannlabou what do you think?

[2019-04-28 02:10] #438 closed

[2019-04-28 02:59] yannlabou commented on #444
Makes indeed sense.

[2019-04-28 04:07] ihhub commented on #444
Okay, I'll do.

[2019-05-06 13:07] #427 closed

[2019-05-06 17:41] theoniko commented on #372
i had a look in the unit_test_image_function.cpp file and the unit tests for Shift() function are already implemented (refer to  form1_Shift, form2_Shift, form3_Shift and form4_Shift).

[2019-05-06 23:29] ihhub commented on #372
Hi @theoniko , you're totally right, functions are there already. Thank you very much for poining this out!

[2019-05-06 23:29] #372 closed

[2019-05-06 23:40] ihhub opened #447 "Add all forms of functions in penguinV namespace"
We would like to add a full supoort or heterogeneous systems so we need to expand namespace penguinV to support all known functions within library. The location of namespace is in **src/penguinV/penguinv.h** and **src/penguinV/penguinv.cpp**. Please use **src/image_function.h** as a reference.

[2019-05-12 07:05] theoniko commented on #443
In file cpu_identification.h PENGUINV_SSSE3_SET will throw an error if PENGUINV_SSE_SET is not defined
and in the file image_function_simd.cpp when PENGUINV_SSE_SET is defined  header<tmmintrin.h> is included.
For more details please refer to the code from cpu_identification.h and image_function_simd.cpp :
`#ifdef PENGUINV_SSSE3_SET
    #ifndef PENGUINV_SSE_SET
        #error "SSSE3 technology can

[2019-05-12 07:53] ihhub commented on #443
PENGUINV_SSE_SET might include SSSE3 or might not as SSSE3 is a subset of SSE. So if SSE is supported by compiler there is no guarantee that SSSE3 is supported to while the opposite always true.

[2019-05-12 08:52] theoniko commented on #443
Hello @ihhub,

Ok i understand your point and I think that adding  the following code right after PENGUINV_SSE_SET macro mentioned above in file image_function_simd.cpp would be enought for this issue.

#ifdef PENGUINV_SSSE3_SET
#include <tmmintrin.h>
#endif

Please let me know if everything is fine so as to open a pull request.

[2019-05-12 09:00] ihhub commented on #443
Hi @theoniko this is exactly what we need :)

[2019-05-13 02:54] #443 closed

[2019-05-13 07:57] ihhub opened #449 "Add FloodFill() function"
We would like to add a new function **FloodFill()** (with multiple overloads). The initialization and implementation of the function should be located in `src/image_function.h` and `src/image_function.cpp` files respectively. The function should receive an extra arguments:
- `uint8_t seedIntensity` - this argument is an intensity by which specific area must be filled if current pixel intensity is

[2019-05-13 08:11] ihhub commented on #426
Hi @scrounchtike any news? :)

[2019-05-13 08:17] ihhub opened #450 "Cuda implementation of IsEqual() function"
We have CPU implementation of **IsEqual**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add CUDA implementation of the same function. Please put new code in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files. Things which we need to do:
1. Copy 2 function declarations from `src/image_function.h` to `src/cuda/image_function_cuda.cuh`

[2019-05-13 08:19] ihhub opened #451 "OpenCL implementation of IsEqual() function"
We have CPU implementation of **IsEqual**() function in `src/image_function.h` and `src/image_function.cpp` files. We want to add OpenCL implementation of the same function. Please put new code in `src/opencl/image_function_opencl.h` and `src/opencl/image_function_opencl.cpp` files. Things which we need to do:
1. Copy 2 function declarations from `src/image_function.h` to `src/opencl/image_functio

[2019-05-13 08:27] ihhub opened #452 "Replace #include <math.h> by #include <cmath> in few files"
It is simple as it is stated: we have few files where we use `#include <math.h>` instead of required `#include <cmath>`. We need to change it. Ignore files which are in `src\thirdparty` directory.

[2019-05-14 03:49] ihhub commented on #431
Hi @0x72D0 would you like to try this?

[2019-05-14 04:08] 0x72D0 commented on #431
@ihhub Yeah sure!

[2019-05-14 04:22] ihhub commented on #431
Thanks!

[2019-05-15 02:26] ihhub opened #455 "Disable check for a comment at the end of namespace during static analysis"
We use a custom Clang format file (`.clang-format`) to specify our code style. Currently we noticed that this format requires a comment at the end of namespace with namespace name which is redundant. We would like to remove such check to avoid false alarm like it's done for example in [this build](https://travis-ci.org/ihhub/penguinV/jobs/532101532) (lines 360 and 376).

[2019-05-15 02:41] ihhub commented on #357
Closing this issue as AVX implementation does not look to be straightforward and we are not going to do it in near future.

[2019-05-15 02:41] #357 closed

[2019-05-15 02:43] ihhub commented on #115
Closing this issue as AVX implementation is not obvious and we do not have a proper solution.

[2019-05-15 02:43] #115 closed

[2019-05-15 02:46] ihhub commented on #137
Hey @yannlabou do you have a time to try to fix this issue with CMake as mentioned above? I can create a separate issue for this if needed.

[2019-05-15 03:19] ihhub opened #456 "Use 2D kernel instead of 1D for memorySet OpenCL function"
We have an implementation of `memsetOpenCL` kernel for OpenCL in `src/opencl/opencl_device.cpp` file. Such implementation is designed only as 1D kernel which does not utilize full potential power of GPU. We need to implement 2D version of the same kernel to speed it up.

[2019-05-15 07:50] #42 closed

[2019-05-15 07:50] #444 closed

[2019-05-15 07:56] ihhub opened #457 "Move image manager from penguinV.cpp file into common place"
We have `ImageManager` class and the code for helpers in `src/penguinv/penguinv.cpp` file. We would like to extend the usage for this class not only for image functions but for the whole library possibly making one step more towards heterogeneous system support.

[2019-05-15 07:58] ihhub commented on #455
Hey @yannlabou do you know fast solution for this? :)

[2019-05-15 08:07] yannlabou commented on #455
I think `FixNamespaceComments: false` should do the job in https://github.com/ihhub/penguinV/blob/29f2ea3da83c771652932991171be19a54c1586b/.clang-format#L43. We'll need to test.

[2019-05-15 08:09] yannlabou commented on #137
Yeah. Let's create a new issue for that and I'll take care.

[2019-05-16 05:51] ihhub opened #458 "Detect Raspbian OS and set -mfpu=neon-vfpv4 compilation flag for CMake"
We would like to add a code in CMake files to detect Linux OS such as Raspbian OS to avoid application crash. For detected OS we need to set `-mfpu=neon-vfpv4` compilation flag.

Relates to #137

[2019-05-16 06:24] ihhub opened #459 "Add missing UI functions for X11 Window class"
We have an optional UI Window classes for image display and drawings. All of them locate in `src/ui` directory. Currently we support Qt, Win32 API and X11 frameworks. **X11** code locates in `src/ui/x11/x11_ui.h` and `src/ui/x11/x11_ui.cpp` files. **UiWindowX11** class does not have an implementation of following functions:
[code]

We want to add them. You could have a look at Win32 or Qt implemen

[2019-05-16 08:45] ihhub opened #460 "Change imageException to std::exception in catch block in Raspicam example"
It is as simple as it states. We need to change line 101 in `examples/raspicam/main.cpp` to line:
[code]

This is needed to cover all possible standard exceptions as well.

[2019-05-16 08:59] ihhub opened #461 "Disable "'compute_20', 'sm_20', and 'sm_21' architectures are deprecated" warning for nvcc compiler"
During compilation of the project for CUDA we have many compilation warnings:
[code]

We would like to mute this warning. Please take a look into `CMakeLists.txt` file as a start point.

[2019-05-16 09:23] ihhub opened #462 "Fix type conversion warnings due to recent changes in code"
With current changes for `float` support we have many compilation warnings relates to type conversion. A list of warnings could be seen [here](https://travis-ci.org/ihhub/penguinV/jobs/533219754). We would like to reduce (reasonably) the number of warnings so we could catch potentially bad warnings in future.

[2019-05-16 09:44] ihhub opened #463 "Optimise Dilate() function performance"
We have **Dilate()** function in `src/image_function.cpp` under unnamed namespace. There are places where we could potentially speed up function's execution:
1. after reaching the condition `if( imageXEnd - imageX < dilateX )` or `if( height - rowId < dilationY )` we should stop loop as we reached end of line/column.
2. Initialize `const uint32_t rowSize = image.rowSize();` only once
3. Add check

[2019-05-18 03:36] ihhub opened #465 "Add QEMU Arm support for Travis-CI to be able to compile ARM code"
We would like to add project compilation for ARM architecture. It is possible to do such using with [QEmu](https://www.qemu.org) with [specific ARM](url) for 32 and 64 bit machines. Such emulation we could do on **Travis-CI**. Ideally we need 2 separate jobs: one for 32 bit machine and another for 64 bit machine. As we are going to run everything on simulators we do not need to install Cuda or Qt

[2019-05-19 07:43] ihhub opened #466 "Ui Window using Win32 API shows incorrect data for image with width bigger than screen width"
We have a source code to create a separate UI Window using **Win32** API which locates in **src/ui/win** directory. This code works pretty fine but it shows weird results for images which have width bigger than a screen width. We need to fix this.

[2019-05-19 13:45] #460 closed

[2019-05-20 16:05] 0x24D commented on #452
Hi, would I be able to pick up this issue?

[2019-05-20 22:31] ihhub commented on #452
Yes :)

[2019-05-21 01:38] #452 closed

[2019-05-21 03:22] #447 closed

[2019-05-21 04:58] ihhub opened #469 "Merge CUDA and Qt jobs for Linux in Travis-CI"
Since we are going to expand unit tests and add more jobs (potential ARM support) we need to care about overall job execution time which is currently at around 1 hour. We could merge first 2 jobs which run on Linux machines for Cuda and Qt support. In such case we reduce execution time as we do not run unit tests twice.

[2019-05-21 08:38] ihhub opened #470 "Change bitmap operation example into file operation example"
We have an example which show bitmap image loading and saving, and which locates at `examples/bitmap_operation`. [Recently](https://github.com/ihhub/penguinV/commit/29f2ea3da83c771652932991171be19a54c1586b) we added a code to support any type of image to be saved and loaded. We want to change this example to use common image load/save API instead of bitmap. Changes are needed:
1. Add **PNG** and *

[2019-05-21 13:31] #458 closed

[2019-05-21 13:32] ihhub commented on #137
@0x72D0 can we confirm that this issue is fixed now?

[2019-05-21 18:29] 0x72D0 commented on #137
yes

[2019-05-21 19:08] theoniko commented on #364
Hello @ihhub,

Could i work on this issue? Is there a similar older pull request to use as reference?

[2019-05-21 19:08] theoniko commented on #463
Hello @ihhub,
Could i work on this issue?

[2019-05-21 23:13] #137 closed

[2019-05-21 23:48] ihhub commented on #463
Hi @theoniko , yes you could :)

[2019-05-22 01:09] ihhub commented on #364
Hi @theoniko , I'll make some preparation changes for this and explain in details what to do. We don't have a similar pull request but we have [similar commit ](https://github.com/ihhub/penguinV/commit/9c2a7b7f76153a43add904cc733270d0dc8da6dc).

[2019-05-23 19:33] theoniko commented on #364
I plan to split this issue to the following tasks:

1. Add declaration of all overloaded function version of Split() (2 functions in total) in function_pool.h
3. Define Split task in FunctionTask class(add it  to  enum TaskName and in list of image functions) in function_pool.cpp
2. Implement all the overloads of Slipt in the list of global functions in function_pool.cpp
4.  Update the API_descrip

[2019-05-23 23:42] ihhub commented on #364
Hi @theoniko , you're totally correct. In unit tests you just need to add one line of code in **namespace function_pool**. No need any changes in structures.

[2019-05-25 02:49] #364 closed

[2019-05-27 08:32] ihhub commented on #463
Hi @theoniko , are you going to fix this issue as well?

[2019-05-27 08:36] ihhub commented on #455
I made a separate branch and test commit for this. Let's see...

[2019-05-27 08:39] ihhub commented on #469
Hi @yannlabou , would you mind to take a look at this issue after if you have time?

[2019-05-27 08:42] ihhub commented on #408
Hi @yannlabou is it hard to do?

[2019-05-27 08:42] ihhub commented on #431
Hi @0x72D0 do you need some help for this issue if any?

[2019-05-27 08:44] ihhub commented on #470
This issue relates to #340

[2019-05-27 08:47] ihhub commented on #326
We could close this issue as the potential fix was committed [here](https://github.com/ihhub/penguinV/commit/0f2abcd74e86b2bc8f1ac4b7f792e269d98303ba)

[2019-05-27 08:47] #326 closed

[2019-05-27 08:49] ihhub commented on #315
Moving this issue to Wishlist as no proper solution we know for now :)

[2019-05-27 08:49] ihhub commented on #304
Hi @0x72D0 you could have a look into this issue as well once you have time ;)

[2019-05-27 08:53] ihhub commented on #224
After few months of monitoring we haven't seen such error anymore.

[2019-05-27 08:53] #224 closed

[2019-05-27 08:56] ihhub commented on #86
Hey @0x72D0 would you mind to come back this issue once you have enough free time? You don't need to have a processor with AVX-512 but a compiler to do such. Let's make a blind step to implement AVX-512 without proper hardware which could test in future.

[2019-05-27 16:15] theoniko commented on #463
Hi @ihhub
yes, i will try to fix it during the upcoming weekend.

[2019-05-28 00:17] 0x72D0 commented on #431
Hi @ihhub how can I make test function for ConvertTo16Bit?

[2019-05-28 00:19] 0x72D0 commented on #431
also is it normal if ConvertTo16Bit is not in the function registrator?

[2019-05-28 00:20] ihhub commented on #431
Let me think about unit test. I'll come back with solution soon. No, it's not in function registrator as well :(

[2019-05-28 00:30] 0x72D0 commented on #431
@ihhub I can make a pull request with what I have for now if you want?

[2019-05-28 00:36] 0x72D0 commented on #86
Hi @ihhub, I willl try this after #431

[2019-05-28 01:39] ihhub commented on #431
Let's do it! We could easily synchronise with master branch after.

[2019-05-28 01:42] #457 closed

[2019-05-28 04:46] yannlabou commented on #469
This should be doable. I will do that. Not sure if this week but I will.

[2019-05-28 05:10] ihhub commented on #469
@yannlabou thanks a lot for taking this issue!

[2019-05-28 08:39] #455 closed

[2019-05-30 09:06] yannlabou commented on #408
It shouldn't be harder than
[code]

In the named subdirs, create CMakelists.txt files with roughly something like
[code]

Given the limited amount of time I actually have, I think it's good to let newcomers take care of it.

[2019-06-02 12:19] #469 closed

[2019-06-04 09:00] ihhub opened #483 "Default memory allocator for main ImageTemplate class"
We have main image class in `src/image_buffer.h` file called **ImageTemplate**. This class is based on dynamic image allocation and deallocation of CPU memory. Memory allocation and deallocation on high-performance systems with small amount of data do not impact overall performance but on low-performance system it might take some time. We already have a base class for memory allocator in `src/memo

[2019-06-04 09:01] ihhub commented on #483
Hi @0x72D0 could you please help me with such issue? I need your data from performance tests on Raspberry Pi before this change :)

[2019-06-04 18:14] 0x72D0 commented on #483
@ihhub yeah no problem, I can test it tomorrow. Is it the arm branch?

[2019-06-05 16:35] 0x72D0 commented on #483
[test_output.txt](https://github.com/ihhub/penguinV/files/3258099/test_output.txt)

[2019-06-06 07:49] ihhub commented on #483
Hi @0x72D0 . I was little wrong about performance tests. There would not almost no effect in performance while for unit tests on my machine it does. With memory allocator unit tests run in 2 times faster.

Could you measure overall unit tests execution (let's say with iterations of 100) and compile memory_allocator branch and do the same?

[2019-06-07 00:41] 0x72D0 commented on #483
Hi @ihhub I've done the test on the unit_test with the time command and 100 iteration. It give me the following result on the master branch:
[code]

[2019-06-07 00:55] 0x72D0 commented on #483
this is on the memory allocator branch:
[code]

[2019-06-07 00:57] ihhub commented on #483
So as I understand `real` is what we need to compare. Is it correct?

[2019-06-07 01:05] ihhub commented on #483
@0x72D0 the only I don't understand is why `user` time for memory_allocation branch is more than for master.

[2019-06-07 01:20] 0x72D0 commented on #483
user is also more than real so it might only because of a background process or daemon

[2019-06-07 01:21] 0x72D0 commented on #483
yes what you have to compare is more the `real` time

[2019-06-07 02:17] ihhub commented on #483
@0x72D0 cool! Then we can conclude that memory allocator improves performance.

[2019-06-07 03:03] ihhub commented on #483
Travis-CI build goes from average 57 minutes to 50 minutes with memory allocator.

[2019-06-07 03:34] #470 closed

[2019-06-07 04:02] 0x72D0 commented on #483
that's a nice performance boost :)

[2019-06-07 04:24] 0x72D0 commented on #483
@ihhub wait if I understand well the memory allocator, it's mapping a pre allocated space in memory for the image to go. So can we try to make this memory space aligned to boost SIMD speed?

[2019-06-07 04:59] ihhub opened #485 "Dynamic analysis job in Travis-CI doesn't fail on error"
We found out that one change in the code caused memory leak which was detected by dynamic analysis job in Travis-CI. [Here](https://travis-ci.org/ihhub/penguinV/jobs/528804404) is first build which has the issue.
Logically we **should fail** the job if there are any log messages coming from ctest.

[2019-06-07 05:00] ihhub commented on #485
Good morning @yannlabou . Would you mind to have a look into it? I noticed this only today.

[2019-06-07 05:03] ihhub opened #486 "Fix memory leak issue caught by dynamic analysis"
[Here](https://travis-ci.org/ihhub/penguinV/jobs/528804404) is a build in Travis-CI where we start having memory leak caught by dynamic analyzer. The issue was introduced by [this](https://github.com/ihhub/penguinV/commit/a0ed20d5e64b4fc2bc49a2403f377e0be50078d0) commit.

[2019-06-07 05:22] ihhub commented on #483
Yes, we could make it as aligned memory.

[2019-06-07 06:37] ihhub commented on #486
Hi @yannlabou have you seen such problem previously? Looks like virtual machines on Travis-CI download wrong version of valgrind.

[2019-06-07 06:39] ihhub commented on #486
To prove that this issue was not introduced by the change we ran unit tests without any tests [here](https://travis-ci.org/ihhub/penguinV/jobs/542612030).

[2019-06-07 07:09] ihhub commented on #483
@0x72D0 , As I correctly understood we want to have 32-byte aligned allocated memory, don't we?

[2019-06-07 08:03] ihhub commented on #483
It's done. You can try to test the difference in speed for unit tests as well for performance but don't forget to allocate memory for second case.

[2019-06-07 08:23] ihhub commented on #483
@0x72D0 I've added default memory allocation for performance tests as well.

[2019-06-07 08:37] ihhub commented on #483
I ran performance tests and results are very promising :)

[2019-06-07 14:25] 0x72D0 commented on #483
@ihhub it's normally a 16-byte aligned memory, but 32-byte will do just fine since it's a multiple of 16. Nice now #255 is even more interesting :)

[2019-06-07 14:30] 0x72D0 commented on #483
oh no sorry 16-byte alignment is for SSE and neon, AVX require 32-byte alignment.

[2019-06-07 14:32] ihhub commented on #483
I did 32 byte alignment. Could you please test it? :)

[2019-06-07 14:34] 0x72D0 commented on #483
@ihhub on raspberry pi with the same way?

[2019-06-07 14:37] ihhub commented on #483
On Raspberry Pi for performance tests on master and on memory_allocator branches. I got a performance for some of functions. I assume it depends on image allocation on master branch source code.

[2019-06-07 15:29] 0x72D0 commented on #483
here's the performance test for memory allocator on raspberry pi:
[test_output.txt](https://github.com/ihhub/penguinV/files/3266586/test_output.txt)

all the neon function seem to be faster, but not the normal function...

[2019-06-07 15:31] ihhub commented on #483
Are all functions faster with memory allocator or only neon based?

[2019-06-07 15:34] ihhub commented on #483
Yes, you can think about #255 ;) We have a right direction for simd

[2019-06-07 15:44] 0x72D0 commented on #483
If you compare the first test I made on the master branch and the test I just made on the memory_allocator branch. Only neon based function seem faster

[2019-06-07 15:46] ihhub commented on #483
Memory allocator doesn't affect on normal functions as we don't allocatate/deallocate data during performance tests while for neon aligned data is very important which gives the boost.

[2019-06-07 15:53] fullset commented on #450
@ihhub Can I work on this issue?

[2019-06-07 15:53] ihhub commented on #450
@fullset sure, you can!

[2019-06-07 16:08] 0x72D0 commented on #255
@ihhub with the new memory allocator, do we still need to check if the memory is aligned or we can consider it's always aligned?

[2019-06-07 16:16] ihhub commented on #255
Yes, we need to check. Memory allocator is an optional feature.

[2019-06-08 03:20] #483 closed

[2019-06-08 06:12] #463 closed

[2019-06-09 00:55] #462 closed

[2019-06-09 01:02] ihhub opened #489 "Rename variables containing chunck into chunk (spelling fix)"
We have 4 files where such spelling issue appear:
[code]

The task as easy as it looks: just remove letter **c** before _k_ from each appearance of chunck.

[2019-06-09 01:24] ihhub opened #490 "Optimise Blob detection code to use Image instead of std::vector"
We have blob detection code which locates in `src/blob_detection.h` and `src/blob_detection.cpp` files. In the source file there is a function called **find** of _BlobDetection_ class. Inside the function we create `std::vector < uint8_t > imageMap` and use this variable as needed.
Recently we added memory allocator which is embedded into `PenguinV_Image::Image` class. The allocator gives performa

[2019-06-09 07:51] yannlabou commented on #486
I don't think that Travis-CI downloaded the wrong package version. `valgrind (1:3.10.1-1ubuntu3~14.5)` is the one available in Ubuntu Trusty 14.04 and `valgring (1:3.11.0-1ubuntu4.2)` is the package available in Ubuntu Xenial 16.04. According to the [Travis doc](https://docs.travis-ci.com/user/reference/overview/), the default linux distribution is `Trusty`. In the [build log](https://travis-ci.or

[2019-06-09 07:52] ihhub commented on #486
I think they changed it.

[2019-06-09 07:53] ihhub commented on #485
Let's not fix it for now until we fixed #486

[2019-06-09 07:55] yannlabou commented on #486
Looks like: https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment

[2019-06-09 08:04] ihhub commented on #465
@yannlabou QEMU would take some time for installation as well we spend so much time to install packages for current builds. I'm thinking we might explore caching on Travis and AppVeyor to speed up things.

[2019-06-09 12:55] #461 closed

[2019-06-09 22:56] davidwilson3 commented on #489
Submitted PR to fix this issue: [here](https://github.com/ihhub/penguinV/pull/493)

[2019-06-10 00:11] #489 closed

[2019-06-10 01:29] ihhub opened #494 "Fix compilation warning in x11 function call"
We follow the idea of zero warnings in source code. Unfortunately, it's not ease sometimes to do not make such warnings appear.
Right now we have one warning which should be fixed:
[code]

You can have a look into this warning [here](https://travis-ci.org/ihhub/penguinV/jobs/543525142) (please ignore kissfft warnings for now).

[2019-06-10 01:34] ihhub opened #495 "Separate unit tests and fuzz tests"
Right now we we combine unit and fuzz tests together and called them unit tests what from software development view is incorrect. We must separate these 2 tests as fuzz tests are not required for each change in code.

[2019-06-10 01:40] ihhub opened #496 "Add build cache for AppVeyor builds"
We spend a lot of time to download and install package for Windows builds in **AppVeyor** servers. Most of build runtime is consumed by these. We would like to explore [caching system](https://www.appveyor.com/docs/build-cache/) in AppVeyor to speed up builds there.

[2019-06-10 01:44] ihhub opened #497 "Add Windows build for Travis-CI"
We already have builds for Linux and OSX systems for Travis-CI. We would like to add build for [Windows](https://docs.travis-ci.com/user/reference/windows/) as well in Travis-CI to support all platforms. In future we might drop AppVeyor support due to inability to support parallel builds.

[2019-06-10 02:04] ihhub opened #498 "Use memory allocator for FFT class member"
Recently we added memory allocator based on CPU RAM. We would like to speed up things so using the allocator seems like a valid idea. We need to replace **malloc** and **free** operations by **cpu_Memory::MemoryAllocator::instance().allocate<T>( size );** and **cpu_Memory::MemoryAllocator::instance().free( data );** calls inside `ComplexData` class of `src/fft.cpp` file. Simple as it states :)

[2019-06-10 02:07] ihhub opened #499 "Optimise ComplexData::get() function"
We have `PenguinV_Image::Image ComplexData::get()` function inside `src/fft.cpp` file. This function contains double loop where we copy data from one array to another. We could use variable caching to speed things up: `outY * _width` and `inY * _width` calculations can be moved out of second loop so we don't need to recalculate them **_width** times.

[2019-06-10 05:24] ihhub opened #500 "Make ParameterValidation() function as variadic template"
We have multiple **ParameterValidation**() functions in `src/parameter_validation.h` file. We face a problem that we need to add 4th variation of the function to accept 4 images which looks like code duplication.
We want to avoid a restriction for number of parameters for this function as well as reduce duplication code so we need to make this function to accept variadic parameters. You can have a

[2019-06-10 05:31] ihhub commented on #255
I think the alternative solution is to add a check in memory allocator whether current array is allocated there. Then we could know if all images are allocated within it which makes all data aligned as needed.

[2019-06-11 03:24] ihhub opened #501 "Optimize loops in FilterKernel class"
We have **FilterKernel** class which locates in `src/filtering.cpp` file. Constructor of this class contains double loop. We can speed things up by calculating `i * i` expression out of second loop. Simple as it says :)

[2019-06-11 03:42] ihhub opened #502 "Remove duplicated GetGaussianKernel function in src/cuda/filtering_cuda.cu"
We have duplicated **GetGaussianKernel**() function in `src/filtering.cpp` and `src/cuda/filtering_cuda.cu` files. The only difference between them that in second file we copy an array to GPU memory. The best solution is to call a function from first file. Please note that we need to add file inclusion for CMake, makefile and VS project files for this. Additionally, please update **README** file w

[2019-06-11 03:50] ihhub opened #503 "Resolve potential race condition for mutex lock"
We have **GetProgram**() function in `src/opencl/image_function_opencl.cpp` file and **getMemsetKernel()**() function in `src/opencl/opencl_device.cpp` where we have a static std::mutex. We read from map initially and then if we cannot find needed instance of entry in map we add a new one. We acquire the lock of mutex before adding a new entry which is wrong. We need to acquire the lock before rea

[2019-06-11 09:10] ihhub opened #504 "Remove unused header inclusions from several files"
We have few files where we have unused file inclusions such as `#include <cstdint>`. These files are:
[code]

Remove `#include "image_function.h"` from `src/fft.cpp`.
Remove `#include <cuda_runtime.h>` from `src/cuda/image_buffer_cuda.cuh` and from `src/cuda/cuda_device.cuh`.
Remove `#include <cstdint>`,  `#include <cuda_runtime.h>` and `#include <vector>` from `src/cuda/cuda_types.cuh`.
Remove `#

[2019-06-29 03:48] ihhub commented on #497
Hi @yannlabou , did you have a chance to have a look into this issue?

[2019-06-29 03:49] ihhub commented on #431
Hi @0x72D0 , did you have a time for NEON implementation?

[2019-06-30 03:01] ihhub opened #506 "Prewitt (form 3) unit test does not appear for Windows x86 platform unit tests"
Strangely but `Prewitt (form 3)` unit test is not present in list of tests for Windows x32 bit system. For example, you can take a look into [this run](https://ci.appveyor.com/project/ihhub/penguinv/builds/25156247/job/2nyeodsqmbyqlwe0). You could notice that x86 platform doesn't have such test while x64 does.

[2019-06-30 06:45] yannlabou commented on #497
Yes, I did. I had trouble installing CUDA. I'll follow up when I have more time.
https://github.com/yannlabou/penguinV/tree/issue-497-travis-add-windows-build

[2019-06-30 12:33] #46 closed

[2019-06-30 12:33] #156 closed

[2019-07-01 01:15] ihhub commented on #497
I'll have a look into it today's evening

[2019-07-02 05:45] ihhub commented on #497
Shall we go without CUDA installation first? We could make it later. Instead of covering everything in one shot we could do it step by step. No harm in this. What do you think?

[2019-07-03 05:59] ihhub opened #508 "Merge BMP and PNG unit test code"
We have unit tests for Bitmap (`test/unit_tests/unit_test_bitmap.h` and `test/unit_tests/unit_test_bitmap.cpp` files) and for PNG (`test/unit_tests/unit_test_png.h` and `test/unit_tests/unit_test_png.cpp` files). We would like to merge then together as there is almost no difference in code. A new code should be located in `test/unit_tests/unit_test_file.h` and `test/unit_tests/unit_test_file.cpp`

[2019-07-03 07:29] ihhub opened #509 "Fix makefile for unit tests (lpng and ljpeg flags)"
We have `test/unit_tests/Makefile` which contains `-lpng -ljpeg` flags for linking. If OS doesn't have such libraries we fail the compilation which we shouldn't do. The solution for this is to use an extra code like:
[code]

Just after settings all variables inside the file.

[2019-07-03 14:19] 0x72D0 commented on #431
@ihhub I will try working on it next month.

[2019-07-04 01:33] ihhub opened #510 "Fix makefile for "file operation" example"
We have makefile which locates in `examples/file_operation` directory. Compilation fails when OS doesn't have installed **lpng** library. We must not fail compilation in such case as it's not user friendly. We could output a warning of missing library only.

[2019-07-04 01:33] ihhub commented on #510
Hey @fullset , would you like to take a look into this issue?

[2019-07-04 05:15] fullset commented on #510
Ok, I'll take a look

[2019-07-04 15:27] yannlabou commented on #497
Definitely a good start. Caching installed libraries like Qt or something else will then be further milestones.

[2019-07-06 01:07] ihhub commented on #497
Yes. Could you please make a pull request without Qt?

[2019-07-11 03:09] #450 closed

[2019-07-15 06:45] #510 closed

[2019-07-25 21:06] #499 closed

[2019-07-25 21:06] #501 closed

[2019-07-25 21:06] #504 closed

[2019-08-01 16:20] ihhub commented on #509
Hi @fullset , could you please take a look into this issue? It's similar what you have fixed previous time.

[2019-08-01 18:35] fullset commented on #509
Hello, @ihhub.
Sure, but give me a couple of days.

[2019-08-07 09:18] #509 closed

[2019-08-07 13:45] #502 closed

[2019-08-07 18:33] #503 closed

[2019-08-07 18:33] #498 closed

[2019-08-08 07:44] ihhub commented on #144
Hi @fullset would you mind to have a look into this task if you have free time for this and willingness to do such?

[2019-08-08 08:30] fullset commented on #144
hello, @ihhub
All right, I'm going to do this.

[2019-08-08 08:32] ihhub commented on #144
Thank you very much!

[2019-08-08 15:25] #490 closed

[2019-08-17 14:44] #431 closed

[2019-08-21 06:46] #144 closed

[2019-08-27 03:44] ihhub commented on #85
@fullset would you mind to work on this issue?

[2019-08-27 08:09] fullset commented on #85
Okay I will try.

[2019-08-28 04:01] ihhub commented on #399
Our compilation takes insignificant amount of time compare to package installation and unit test run. Moving this issue to Wishlist.

[2019-08-30 09:28] fullset commented on #237
Hi, @ihhub
Should we care about kissfft future possible updates in the original repository? If we add a lot of changes to reduce warnings this copy will be different from the original.

[2019-08-31 14:18] MeKot commented on #459
@ihhub Do you mind if I take this on?

[2019-09-03 01:32] #494 closed

[2019-09-03 01:35] ihhub commented on #237
**kissfft** library is pretty stable at the moment and there are no major changes in repository. From another side there are changes after all but then we need to solve a problem of compilation of our project on Windows. So we have 2 sides problem at the moment.

We need to think about this wisely.

[2019-09-04 01:51] #370 closed

[2019-09-05 02:54] #85 closed

[2019-09-09 12:58] #508 closed

[2019-09-10 01:24] ihhub commented on #109
Hey, @fullset , would you like to try this?

[2019-09-10 04:35] #120 closed

[2019-09-10 07:40] ihhub commented on #207
Closing this issue as we don't have a proper solution to speed up original algorithm via SIMD.

[2019-09-10 07:40] #207 closed

[2019-09-11 08:01] #122 closed

[2019-09-17 02:24] #500 closed

[2019-09-18 13:00] #506 closed

[2019-09-19 07:30] fullset commented on #109
@ihhub I'm on vacation for now. I'm going to take a look at this on the next week.

[2019-09-20 05:32] #262 closed

[2019-09-20 09:27] #263 closed

[2019-09-25 08:15] #296 closed

[2019-09-25 14:16] fullset commented on #109
@ihhub, Could you explain a bit more detailed about what is required to do?

[2019-09-26 02:04] ihhub commented on #109
We need to add `cufft` library into compilation and add `src/cuda/cuda_fft.cuh`, `src/cuda/cuda_fft.cu`, `src/fft.cpp` and `src/fft.h` files into compilation list for CUDA unit tests.

[2019-09-26 03:55] ihhub opened #538 "Add CUDA implementation of SetPixel() function"
We have an implementation of **SetPixel()** function for CPU which is stored in `src/image_function.h` and `src/image_function.cpp` files. This function has 2 overloads: one to setup one pixel only and another one is to setup an array of pixels. We would like to add the same function for **CUDA** code. We need to store this code in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cu

[2019-09-26 03:56] ihhub opened #539 "Add OpenCL implementation of SetPixel() function"
We have an implementation of **SetPixel()** function for CPU which is stored in `src/image_function.h` and `src/image_function.cpp` files. This function has 2 overloads: one to setup one pixel only and another one is to setup an array of pixels. We would like to add the same function for **OpenCL** code. We need to store this code in `src/opencl/image_function_opencl.h` and `src/opencl/image_funct

[2019-09-26 04:01] ihhub opened #540 "Rename functions for CUDA unit tests"
We have unit tests for CUDA stored in `test/unit_tests/cuda/unit_test_image_function_cuda.cpp` file. We would like to rename all functions to have better naming. We need to rename from **FunctionNameXParametersTest** into **FunctionNameFormYTest**. For example `AbsoluteDifference2ParametersTest` should be renamed into `AbsoluteDifferenceForm1Test`. Simple as it is.

[2019-09-26 05:21] josephnicholas commented on #540
Can I take this task please? @ihhub

[2019-09-26 05:48] ihhub commented on #540
Sure!

[2019-09-26 07:08] josephnicholas commented on #540
@ihhub thanks! Will add me as assignee please?

[2019-09-26 07:22] ihhub commented on #540
@josephnicholas I can't make it for issue but I always do for pull request.

[2019-09-26 07:29] josephnicholas commented on #540
@ihhub Ok will work on this. Thanks.

[2019-09-26 22:45] gkarlos commented on #538
Hey, i was thinking of having a go on this. Are you looking for some sort of optimized kernel, or will a straightforward (somewhat naive) kernel do?

[2019-09-27 01:15] ihhub commented on #538
Naive kernel is enough for now.

[2019-09-27 02:35] josephnicholas commented on #540
@ihhub sorry for the newbie question, since I don't have much experience with GPU programming, do I need to have a NVIDIA GPU to install CUDA libraries for the Unit tests? Because my MAC has only AMD GPU which I think is OPENCL supported, but with this task is it a need to do it in an NVIDIA GPU env?

I am still in the compiling side. :)

[2019-09-27 11:00] ihhub commented on #540
@josephnicholas you can do not even have CUDA at your PC. Once you submit pull request our CI pipeline will automatically compile your CUDA code. If it would have a problem CI pipeline would highlight this and I can point if something wrong with code.

[2019-09-28 01:17] #540 closed

[2019-09-28 02:18] josephnicholas commented on #539
@ihhub I would like to work on this issue. Thanks

[2019-09-28 02:24] ihhub commented on #539
Sure! Let us know if you need any help for this :)

[2019-09-28 03:12] manekenpix commented on #451
I'll take this one if that's ok.

[2019-09-28 03:22] ihhub commented on #451
@manekenpix sure! Please do not hesitate to ask any questions if you have any.

[2019-09-28 14:18] #202 closed

[2019-09-29 02:24] ihhub opened #543 "Rename PenguinV_Image namespace into penguinV"
We would like to rename **PenguinV_Image** namespace which locates in `src/image_buffer.h`, `src/opencl/image_buffer_opencl.h` and `src/cuda/image_buffer_cuda.cuh` files into **penguinV**.

Please take note that in `src/penguinv/penguinv.h` file we have to remove `using namespace PenguinV_Image;` line after renaming.

[2019-09-29 09:04] RahulRavishankar commented on #543
I'll work on it!

[2019-09-29 09:13] ihhub commented on #543
Sure!

[2019-09-29 15:05] sukhbeersingh commented on #371
Hey I would like to have a go at this issue.

[2019-09-29 15:37] ihhub commented on #371
Sure!

[2019-09-30 07:50] josephnicholas commented on #539
@ihhub my apologies on this very late update. I was really swamped with travels during the weekend I just sat down to read the code. My questions below are as follows:

- Do I need to familiarize with the OpenCL library to implement this?
- Another is, as you have said in the description that the CPU implementation is already there, am I correct to assume that migrating from CPU to OpenCL would be

[2019-09-30 08:42] ihhub commented on #539
- No
- CPU implementation is pure C++ code. OpenCL implementation would work on CPU and GPU. Both implementations must produce the same result
- unit test will be tricky. It requires some changes in OpenCL unit test helper code

Let's come to unit test problem after the code is ready and I help with it.

[2019-09-30 09:06] ihhub opened #544 "Add an extra verifyImage() function to OpenCL unit test helper"
Currently we have overloaded verifyImage() function for OpenCL unit test helper which locates in `test/unit_tests/opencl/unit_test_helper_opencl.h` and `test/unit_tests/opencl/unit_test_helper_opencl.cpp` files:

[code]

We need to add 2 more overloaded instances of the same function as:
[code]

These functions support ROI (region of interest) which is required for many functions.
Things to be don

[2019-09-30 09:25] ihhub opened #545 "Move existing duplicated code from GammaCorrection() into on function"
We have CPU, OpenCL and CUDA implementation of **GammaCorrection**() function. These functions contain exactly the same code:
[code]

We would like to remove duplication code and create a new function called `std::vector<uint8_t> GetGammaCorrectionLookupTable( double a, double gamma )`. This function should be stored in `src/image_function_helper.h` and `src/image_function_helper.cpp` files. Call

[2019-09-30 09:30] ihhub opened #546 "Make LookupTable() function for CUDA to support color images"
We have an implementation of LookupTable() function for CUDA in `src/cuda/image_function_cuda.cu` file. This function doesn't support color image while an CPU implementation of the same function does (`src/image_function.cpp`). We need to add such support. Step to do:
1. Remove `Image_Function::VerifyGrayScaleImage( in, out );` line
2. Add these lines after verifying the size of table:
[code]
3. M

[2019-09-30 09:32] ihhub opened #547 "Make LookupTable() function for OpenCL to support color images"
We have an implementation of LookupTable() function for OpenCL in `src/opencl/image_function_opencl.cpp` file. This function doesn't support color image while an CPU implementation of the same function does (`src/image_function.cpp`). We need to add such support. Step to do:
1. Remove `Image_Function::VerifyGrayScaleImage( in, out );` line
2. Add these lines after verifying the size of table:
[cod

[2019-09-30 09:40] ihhub opened #548 "Modify Histogram() function to support color images"
We have an implementation of **Histogram()** function in `src/image_function.cpp` (without and with mask, there are 2 implementations). This function supports only gray-scale images for now. We want to add a support of color images as well. The output histogram for RGB image for example would be as follow red0, green0, blue0, red1, green1, blue1... In other words output array follows the same colo

[2019-09-30 09:53] ihhub opened #549 "Add a compilation of the project as a static library"
We would like to integration continuous deployment for the project and one of the goal as of the project is to create it as a static library for end developer who doesn't have specific libraries/technologies on his/her PC. We use Travis-CI as virtual machine server to continuous integration for MacOS and Linux while AppVeyor is for Windows. We use makefile to project compilation for these platform

[2019-09-30 09:53] ihhub commented on #549
Hi @yannlabou would you like to have a look at this? It should be interesting to implement. I can help with deployment part as I know how to do it.

[2019-09-30 10:22] josephnicholas commented on #539
@ihhub Thanks, I will work on #544 first then this one. :)

[2019-09-30 10:23] josephnicholas commented on #544
@ihhub task started.

[2019-09-30 10:49] josephnicholas commented on #544
@ihhub would it rather be better to change the `uint32_t` to `auto`?

[2019-09-30 10:50] yannlabou commented on #549
Sounds interesting. Will look deeper at it tonight.

[2019-09-30 12:59] pierre87 commented on #548
I would like to try this one :)

[2019-09-30 13:36] ihhub commented on #548
@pierre87 sure!

[2019-09-30 13:36] ihhub commented on #549
:+1:

[2019-09-30 16:44] gkarlos commented on #538
@ihhub quick question. Should SetPixel update the Image in place just like the CPU version?

[2019-10-01 00:27] ihhub commented on #538
@gkarlos yes, indeed. We could assume that image is very big so copying it is a bad idea.

[2019-10-01 00:29] ihhub commented on #544
In our project we prefer to avoid **auto** word. Plus we know that size dimensions are within uint32_t range.

[2019-10-01 01:44] ihhub commented on #549
@yannlabou you could have a look into [this](https://github.com/ihhub/fheroes2) project which I maintain for check how deployment is done.

[2019-10-01 03:05] ihhub opened #552 "Add unit tests for IsBinary() function"
We have an implementation of IsBinary() function in `src/image_function.cpp` file. We have unit tests for functions in `test/unit_tests/unit_test_image_function.cpp` file. For unit test you can refer to `IsEqual` implementation. We need to generate gray-scale image with 1 or 2 intensity values so we need to use `intensityArray` function.
Registration of these unit tests should be inside `namespace

[2019-10-01 03:22] ihhub commented on #56
Closing this issue as we have similar issue.

[2019-10-01 03:22] #56 closed

[2019-10-01 05:48] yannlabou commented on #549
Which part of https://github.com/ihhub/fheroes2 should I particularly check? Further it will be better to create to separate issues for the creation of a static and a dynamic library.

[2019-10-01 07:41] ihhub commented on #549
@yannlabou I referred this project as an example for deployment part. In [.travis.yml](https://github.com/ihhub/fheroes2/blob/master/.travis.yml) I've added:
[code]
to do not run job on specific tags.
The this part is responsible for deployment preparation and deployment itself:
[code]

[2019-10-01 07:43] ihhub commented on #549
For [appveyor.yml](https://github.com/ihhub/fheroes2/blob/master/appveyor.yml):
[code]
to do not build on new tags.

Prepare files for deployment (zip archive):
[code]
Do deployment:
[code]

[2019-10-01 07:44] ihhub commented on #549
Moreover, I'll create a deployment account for this project soon which will be responsible for all this stuff.

[2019-10-01 07:53] ihhub commented on #549
Okay, I've created a deployment account for this project.

[2019-10-01 09:39] ihhub opened #554 "Optimisation steps for AppVeyor"
This is discussion topic for **AppVeyor** potential optimisation. Story behind:
I noticed that AppVeyor spends more than **8 minutes** to install packages such as libjpeg, libpng, yasm and zlib. I'm thinking that our approach is incorrect that we compile all these libraries during job run. For example, we could do something similar as I did [here](https://github.com/ihhub/fheroes2/blob/master/scri

[2019-10-01 09:42] ihhub commented on #554
At least we could do something like this: check Microsoft Visual Studio version. If the version is between 12 and 14 then we download compiled package from [official page](https://www.libs4win.com/libzlib/) and just unzip it. In case of different VS version we proceed with current solution.
The same could be applied for libjpeg and libpng.

Additionally, if we cannot find a proper place for compil

[2019-10-01 12:18] josephnicholas commented on #552
@ihhub I would like to work on this.

[2019-10-01 13:17] ihhub commented on #552
@josephnicholas sure!

[2019-10-01 13:37] #546 closed

[2019-10-01 17:58] gumeo commented on #545
See https://github.com/ihhub/penguinV/pull/555

[2019-10-01 21:07] josephnicholas commented on #544
Pull request: https://github.com/ihhub/penguinV/pull/553

Thanks.

[2019-10-01 21:11] BazookaMusic commented on #547
I'd like to take this!

[2019-10-02 01:58] #544 closed

[2019-10-02 03:27] josephnicholas commented on #539
@ihhub forgot about this one, since #544 is merged how do I continue on this?

[2019-10-02 03:35] ihhub commented on #539
@josephnicholas now you have all needed functions to unit tests for `SetPixel` function. You can refer to `test/unit_tests/unit_test_image_function.cpp` file for logical implementation of the test. We can do this in 2 steps: first create functions, create pull request. If everything is fine then create unit tests for them. Does it sound reasonable?

[2019-10-02 05:32] josephnicholas commented on #539
Yes, sure, I think I can also learn about it that way. Cheers!

[2019-10-02 06:01] josephnicholas commented on #539
@ihhub some few questions that I want to make sure when I do a PR.

- `SetPixel()` in CPU code will be directly copied to OpenCL for the same implementation, am I right? If so, can we make `SetPixel()` virtual, then override its implementation for CUDA and OpenCL. Since I think copying the whole code base would be redundant, would you agree?
- Should I also add `SetPixel()` in `image_function_help

[2019-10-02 07:30] ihhub commented on #539
- no. OpenCL code is totally independent from CPU code. We have to write OpenCL kernel which will be called from newly created function
- Yes.

[2019-10-02 09:20] josephnicholas commented on #539
@ihhub Thanks, things below that I don't quite understand.

- Program Kernel, for the 2 implementation of `SetPixel` I assume that I should make one kernel call for each function am I correct? how are the parameter mapped since I noticed it is not a 1:1 call with the function.

- For `image_function_helper` I noticed that basing on the `Subtract` implementation it has 3 returns `2 void and 1 Image

[2019-10-02 13:24] yannlabou commented on #554
I agree that building from sources takes time but it's what we decided at that time. Of course we could also directly install the binaries. As I will be on vacation the next weeks, I'll take care of this take in November if it's not urgent. Let's finish #549 first ;).

[2019-10-03 02:24] josephnicholas commented on #539
@ihhub any updates on my questions above? Thanks. :)

[2019-10-03 06:37] #545 closed

[2019-10-03 07:45] zwycl commented on #369
Greetings! I would like to work on this for Hacktoberfest.

[2019-10-03 14:46] ihhub commented on #369
Hi @zwycl , sure!

[2019-10-03 16:05] ihhub commented on #539
Hi @josephnicholas , sorry for late reply.
- yes, you have to create 2 OpenCL kernels: one which has kernel size as 1 and another one with an array (you could refer to [this pull request](https://github.com/ihhub/penguinV/pull/556/files) as a full answer for your question)
- SetPixel() doesn't need any extra functions to be created inside `image_function_helper` because we don't have any dependenc

[2019-10-03 16:06] ihhub commented on #539
Regarding adding SetPixel into image_function_helper I was thinking about adding function pointers. My bad. You don't need to add anything new into this file as functions pointers exist for SetPixel.

[2019-10-03 17:20] josephnicholas commented on #539
@ihhub created my initial commit, with few questions on handling the Arrays in kernel SetPixel call.

After which the functions are done I can do the unit testing part. Sorry I'm a bit draggy on the implementation.

https://github.com/ihhub/penguinV/pull/558

[2019-10-05 07:23] #548 closed

[2019-10-05 07:33] #538 closed

[2019-10-05 07:44] #547 closed

[2019-10-05 12:23] josephnicholas commented on #539
@ihhub before I amend the code, I just took the reference in CUDA implementation for `SetPixel` for the kernel call. This is the code.

[code]

[2019-10-06 02:58] josephnicholas commented on #539
@ihhub I created some unit tests on this, but I am stuck on the `verifyImage`
[code]

The function doesn't return anything, when I tried to debug it, and place `differenceCount.get()` into another variable it doesn't seem to return anything. That's why my test failed.

[2019-10-09 03:00] manekenpix commented on #451
@ihhub sorry for the late response, I got caught up with some stuff, but I'm now working on this issue.

I have a question about step 3:

This is my first time working with OpenCL. I read about it [here](https://leonardoaraujosantos.gitbooks.io/opencl/content/chapter1.html) and I think I understand how OpenCL kernels do parallel computing. I assume `isEqual` will use an OpenCL kernel to perform a

[2019-10-09 08:42] ihhub commented on #451
I think the answer for your questions lies [here](https://github.com/ihhub/penguinV/blob/master/test/unit_tests/opencl/unit_test_helper_opencl.cpp) :)

[2019-10-10 14:12] manekenpix commented on #451
Thank you! This is perfect.

[2019-10-12 05:08] 0x72D0 commented on #86
Hi @ihhub I was thinking of doing this issue for the hacktoberfest :). What extension of AVX512 should we support? I think it's easier to target a specific cpu architecture since there's so many of them. I was thinking about F, CD, VL, DQ, BW since it's the avx512 extension used by the skylake architecture. Or we could target the icelake architecture with F, CD, VL, DQ, BW, IFMA, VBMI, VBMI2, VPOP

[2019-10-12 11:14] ihhub commented on #86
Hi @0x72D0 , the choice is yours. The most important is that compiler is able to support to it. I can help in this issue as much as I can!

[2019-10-12 13:16] #109 closed

[2019-10-12 14:56] 0x72D0 commented on #86
Ok this table found on [wikipedia](https://en.wikipedia.org/wiki/AVX-512):
![image](https://user-images.githubusercontent.com/16087328/66703245-79b04200-ecde-11e9-8b0f-0aa3be63b77b.png)

 show that all AVX-512 processor use F and CD. Since most of the 8-bit simd operation we use in this project appear in BW and BW always come with VL and DQ, I think we should taget F, CD, BW, VL and DQ.

[2019-10-12 16:51] 0x72D0 commented on #86
@ihhub I'm gonna implement three function only by PR to avoid a situation like #434

[2019-10-14 03:31] ihhub commented on #539
@josephnicholas `differenceCount` is a variable allocated on GPU memory, you cannot directly copy it. `differenceCount.get()` is exactly what you need. This call converts GPU memory into CPU memory so you could check the value.

[2019-10-14 13:02] josephnicholas commented on #539
@ihhub in which part of the `SetPixel()` implementation are you referring to sir?

[2019-10-16 07:35] fullset opened #567 "Make Static Analisys job a bit more friendly."
In general, the job of Static Analysis in Travis only works on the new code. Sometimes it's very good, for example, when you add a new feature. But sometimes when you change existing code, like #543 the result could be a bit annoying (https://travis-ci.org/ihhub/penguinV/jobs/598507494). And this is not very obvious for contributors what to do in this case.

It could be a not very bad idea to do o

[2019-10-19 12:08] #451 closed

[2019-10-19 12:11] #539 closed

[2019-10-19 12:12] ihhub commented on #567
@fullset I agree with you. I'm working on this issue... It's same problem for my another project :(

[2019-10-25 01:12] manekenpix commented on #253
Is this one still available?

[2019-10-26 13:00] manekenpix commented on #253
I know Hacktoberfest is about to be over, but it's not for that, I just like the project and I'd like to help.

[2019-10-26 13:02] ihhub commented on #253
Hi @manekenpix, yes, you could take this issue.

[2019-10-26 13:19] manekenpix commented on #253
Thank you, I have a couple of questions.

- Output all contents of these files on screen or to another file?
- Do you want to rename the file with a `2` to something else?

[2019-11-05 12:13] #465 closed

[2019-11-07 09:25] ihhub opened #573 "Remove Qt installation from normal builds on servers"
We have only a tiny piece of code which is written for Qt but we spend many minutes of our build time to install Qt framework on virtual machines. We not need to install Qt on virtual machines for normal builds on Travis-CI and AppVeyor but we will use Qt installation for schedules jobs which are going to run every day.

[2019-11-07 09:29] ihhub commented on #573
My aim is to get build time for single commit on Travis-CI is below 10 minutes (now it's about 15 minutes) and below 20 minutes (now it's about 30 minutes).

[2019-11-09 06:06] manekenpix commented on #397
I'd like to work on this one

[2019-11-10 01:03] ihhub commented on #397
Hi @manekenpix , sure!

[2019-11-10 11:56] yannlabou commented on #573
Hi @ihhub. I'll look into it. I traveled a lot the last 5 weeks :).

[2019-11-11 01:31] ihhub commented on #573
Hi @yannlabou , welcome back!

Let's focus only on **Travis-CI** for now as I haven't got approval from AppVeyor team to enable scheduled builds for the project.

[2019-11-15 08:14] #371 closed

[2019-11-15 08:17] ihhub opened #579 "Add unit tests for ProjectionProfile functions implemented in CUDA"
We have an implemented of **ProjectionProfile** for CUDA which locates in `src/cuda/image_function_cuda.cuh` and `src/cuda/image_function_cuda.cu` files. We have unit tests for CUDA functions which locate in `penguinV/test/unit_tests/cuda/unit_test_image_function_cuda.cpp` file. We need to add unit tests for mentioned above function.

[2019-11-15 08:18] ihhub commented on #579
Hi @josephnicholas you could work on this task which is directly related to your previous PR. Unit tests are needed to prove that code is correct.

[2019-11-15 10:57] josephnicholas commented on #579
@ihhub thanks for the opportunity I will work on this.

[2019-11-16 07:26] #552 closed

[2019-11-17 12:50] yannlabou commented on #573
@ihhub What do you think about wrapping the whole build environment in an `Docker` image so that `Travis` only need to run the Docker image? It's a little bit of initial work but it will reduce the whole build execution time as the install/update steps won't be necessary anymore.

[2019-11-17 13:40] ihhub commented on #573
I'm totally okay with Docker as I work with it as well. Let's try this way if we can build the project with Docker containers.

[2019-11-18 01:07] ihhub commented on #573
I think we could add Qt and CUDA containers to even more save time for builds.

[2019-11-18 22:05] manekenpix commented on #253
I'm still interested in this one. I recently asked about #397, but I think I'll work on this one first since I asked first. @ihhub did you read my comment?

[2019-11-19 01:07] ihhub commented on #253
Hi @manekenpix , I'm sorry for not replying as I missed your previous message. We need to output the content of files to command line/screen.
Right now value 2 is just hardcoded value which means nothing. Instead of this we exactly need to read all files in directory without such hardcoded values.

[2019-11-19 14:41] ihhub commented on #459
hi @fullset , you could take this issue.

[2019-11-19 14:44] ihhub commented on #313
Hi @fullset , we have to have position of text and optionally color. Your second suggestion is correct. I'll soon take a look into your pending pull request. I was very busy these days but I'm trying to clear everything very soon.

[2019-11-20 06:44] fullset commented on #459
@ihhub, OK. I'll take a look.

Maybe you have a quick answer to 1 question.

This string is present in x11_ui.cpp:

[code]

That's how the point is painted. Are there any reasons to use XDrawLine() and don not use XDrawPoint() for this?

[2019-11-20 06:49] fullset commented on #313
@ihhub, no problem.

I'm going to take this issue but I have no possibility to make Win32 implementation so I think I'll make a work in progress PR during this week.

[2019-11-20 07:14] ihhub commented on #459
hi @fullset , it's done in a way to draw a cross (x) instead of dot as far as I remember. You could try to play around this and replace the code if you see the need in it. Remember that dot usually is something more than just one pixel as dots in computer vision applications are used to show edge points for example.

[2019-11-20 07:14] ihhub commented on #313
It's okay to do not implement win32. I can do it in my free time. I have Windows machine.

[2019-11-21 04:18] yannlabou commented on #573
Our Travis default environment is still Ubuntu Xenial with g++ 5.4.0. Do we keep it as it is or upgrade to Ubuntu Bionic with g++ 7.3.0?

[2019-11-21 05:15] 0x72D0 commented on #573
@ihhub I think we should upgrade since -march=skylake-avx512 is supported on gcc 6 or later: https://gcc.gnu.org/gcc-6/changes.html

[2019-11-24 12:23] josephnicholas commented on #579
Stuck on error `[1/9] image_function_cuda::ProjectionProfileForm1Test... ERROR : library exception 'Cannot copy a memory in CUDA device' raised` when calling `ProjectionProfile`. @ihhub can you shed some light on this error?

[2019-11-25 11:44] #579 closed

[2019-11-27 11:28] josephnicholas commented on #456
@ihhub I want to take this task. I'll be working on it over the weekend.

[2019-11-27 14:56] ihhub commented on #456
Sure. Are OpenCL tests slow on your machine?

[2019-11-27 15:19] josephnicholas commented on #456
@ihhub yes they are. Compared to CUDA.

[2019-12-04 03:00] ihhub opened #582 "Fix compilation with AVX 512 support"
We have compilation error with `_mm512_set_epi8` function which you could find in [this compilation log](https://travis-ci.org/ihhub/penguinV/jobs/619688076). We need urgently fix it.

[2019-12-04 03:04] ihhub commented on #582
Hi @0x72D0 most likely problem lies in different set of avx512 functions. What we detect in cpuid might not support this function.

It's strange that compilation fails just recently.

[2019-12-06 02:29] ihhub commented on #114
Hi @0x72D0 would you mind to work on this issue?

[2019-12-06 02:34] 0x72D0 commented on #114
Hi @ihhub I could jump on this after the avx512 implementation

[2019-12-06 02:35] ihhub commented on #114
Thanks a lot!

[2019-12-06 05:49] ihhub commented on #582
The issue is fixed.

[2019-12-06 05:49] #582 closed

[2019-12-06 06:09] ihhub opened #587 "Remove --show-reachable=yes flag for valgrind run"
Remove **"--show-reachable=yes"** command from **valgrind** run which causes our dynamic tests fail. This is not an error in respect to application.

[2019-12-06 06:09] ihhub commented on #587
Hi @yannlabou would you mind to take a look into this issue?

[2019-12-07 12:07] yannlabou commented on #587
I'll try

[2019-12-08 01:41] #543 closed

[2019-12-19 09:09] #587 closed

[2019-12-20 06:43] #497 closed

[2019-12-20 08:16] #320 closed

[2019-12-31 03:24] ihhub opened #594 "Remove performance tests from Travis-CI jobs"
Right now we have a [situation](https://travis-ci.org/ihhub/penguinV/builds/630993897?utm_medium=notification&utm_source=github_status) when we run performance tests during Travis-CI jobs which is wrong. We have to do not run it.

[2019-12-31 06:14] #594 closed

[2019-12-31 06:15] #237 closed

[2019-12-31 10:33] ihhub opened #596 "Incorrect"
closed

[2020-01-01 02:06] #596 closed

[2020-01-03 03:20] ihhub opened #599 "Edge detection code is slower than expected"
Edge detection should not work slower than blob detection but it does which means that the code is not optimised. We have to fix it.

[2020-01-03 08:12] ihhub opened #600 "Add an example application for FFT code usage"
We would like to add an example for FFT code usage like. As a reference we could use Gaussian filtering.
We need to do these steps:
1. Create a directory `examples/fft`
2. Include `src/fft.cpp`, `src/fft.h`, `src/filtering.h`, `src/filtering.cpp` and `src/thirdparty/kissfft` header files into the project
3. Create VS project file (you could copy from `examples/blob_detection` folder for example
4.

[2020-01-03 09:19] ihhub opened #601 "Modify examples/image_function example to use functions from penguinV namespace"
Modify examples/image_function example to use functions from penguinV namespace which are located in `src/penguinv/penguinv.h` and `src/penguinv/penguinv.cpp` files. Simple as it is. Don't forget to include these files into project file settings within the example.

[2020-01-03 09:22] ihhub opened #602 "Redesign project website to be more user friendly"
We would like to slightly redesign [project website](http://ihhub.github.io/penguinV/) which points to README.md file in **gh-pages** branch. Any ideas or improvements would be helpful :)

[2020-01-06 09:07] ihhub opened #604 "For MacOS missing libjpeg/libpng message should be different in makefile"
Current message in **makefile** about missing libjpeg/libpng file is
[code]
which is invalid for MacOS. We need to use `brew` packaging instead (`brew install libjpeg`). So we need to show last line of the message based on OS.

[2020-01-06 09:29] ihhub opened #605 "Png and jpeg detection in MacOS makefile is incorrect"
In makefiles we have these lines of code:
[code]
These code doesn't work on MacOS with installed **libpng** and **libjpeg** libraries. We need to fix it.

[2020-01-07 09:35] ihhub opened #608 "Optional video reading (decoding) support"
Many of computer vision applications work with videos. Video is a set of frames/images. We would like to add a support of reading videos. First thing is we need to take a look into **ffmpeg** package.

[2020-01-07 09:44] #45 closed

[2020-01-07 09:52] ihhub opened #609 "Rename values in enumeration of BlobDetection class"
We have enumeration in `BlobDetection` class:
[code]

This class locates in `src/blob_detection.h` file. We want to rename all values here. More precisely, we want that all values start from word `BY` instead of `CRITERION`. This makes code more user friendly.

Please note that we have multiple example projects and unit and performance tests which use one of these values.

This is it. Simple as it

[2020-01-07 12:03] ihhub commented on #7
Closing this issue as 3 most common formats are supported right now.

[2020-01-07 12:03] #7 closed

[2020-01-08 05:28] ihhub opened #611 "Use AVX512 simulation header to check code"
We'd like to check AVX512 code. Right now we don't have any hardware to do such but we could simulated AVX512 via Intel simulation header file.
The name of the file should be `avxintrin_emu.h`. A good start is to read [this article](https://software.intel.com/en-us/articles/intel-software-development-emulator).

[2020-01-08 05:28] ihhub commented on #611
Hi @0x72D0 would you like to validate your AVX-512 code by this approach?

[2020-01-09 06:35] #609 closed

[2020-01-09 14:39] #119 closed

[2020-01-09 14:54] 0x72D0 commented on #611
@ihhub yeah sure, but I'm sure I follow you when you talk about a header for the emulation. The article you link only talk about a standalone software for the emulation.

[2020-01-09 16:33] theoniko commented on #600
Hello @ihhub
Is this issue still available? If yes, i would be interested to work on it.

[2020-01-10 00:08] #18 closed

[2020-01-10 00:08] #121 closed

[2020-01-10 08:02] ihhub opened #615 "Rename imageException into penguinVException"
We have a file `src/image_exception.h` which contains **imageException** class. This class is used for throwing exceptions. We would like to rename this class into **penguinVException** to have more accurate code structure. Please note that this exception is used in many places so we need to replace it everywhere.

[2020-01-10 08:16] ihhub opened #616 "Make few code changes in src/parameter_validation.h"
In `src/parameter_validation.h` file we would like to rename namespace from **Image_Function** into **penguinV** as well we want to rename few functions to be more user-friendly:
1. CommonColorCount --> CheckCommonColorCount
2. ParameterValidation --> ValidateImageParameters

Additionally, please replace `"Color counts of images are different"` message by `"The number of color channels in images i

[2020-01-11 05:52] ihhub commented on #611
Hi @0x72D0 I'm talking about this header - `avxintrin_emu` There should be some sort of simulation provided by Intel as AVX-512 is Intel technology.

[2020-01-11 05:58] ihhub commented on #600
Hi @theoniko , surely you can take this issue. Please be free to ask any questions for clarification of the task requirements.

[2020-01-13 01:22] ihhub opened #622 "Add unit tests for raw image"
We have **RAW** image support code which locates in `src/file/raw_image.h` file. We want to add unit tests for this code. The tests must be stored in `test/unit_tests/unit_test_file.cpp` file. Please refer to existing structure of tests which means you need to add just 3 template functions and in `addTests_File` function add calls for these 3 new functions based on `float, double, uint8_t, uint16_

[2020-01-13 08:27] ihhub opened #624 "Add 16-bit image support for edge detection class"
We have edge detection code located in `src/edge_detection.h` and `src/edge_detection.cpp` files. We would like to add a support of Image16Bit class which is 16-bit unsigned integer based image. Steps are needed to be done:
1. Modify this function
[code]
To work with any type of images. It means replace `penguinV::Image` by `penguinV::ImageTemplate<_ImageType>` and make further modifications of th

[2020-01-14 01:29] ihhub opened #626 "Add 16-bit image support for Sobel filter"
We have an implementation of **Sobel** filter which locates in `src/filtering.cpp` file. We would like to add an implementation of the same filter for **16-bit** unsigned integer images. Please use `Image16Bit` class for these purposes.

[2020-01-14 01:30] ihhub opened #627 "Add 16-bit image support for Median filter"
We have an implementation of **Median** filter which locates in `src/filtering.cpp` file. We would like to add an implementation of the same filter for **16-bit** unsigned integer images. Please use `Image16Bit` class for these purposes.

[2020-01-14 01:31] ihhub opened #628 "Add 16-bit image support for Prewitt filter"
We have an implementation of **Prewitt** filter which locates in `src/filtering.cpp` file. We would like to add an implementation of the same filter for **16-bit** unsigned integer images. Please use `Image16Bit` class for these purposes.

[2020-01-15 03:37] ihhub opened #631 "Add a support for TIFF images"
We would like to extend the support of different types of files and we are aiming to add **TIFF** support as well.

[2020-01-17 15:06] 0x72D0 commented on #86
I tried sde like proposed in #611 with the current master branch (81379fc43e35fd1e509cef7a3b72aea7bbffeb82) and I got the following failed unit_tests:

![image](https://user-images.githubusercontent.com/16087328/72622226-cd9b7a00-3910-11ea-8ce1-56266239085f.png)

[2020-01-17 15:29] ihhub commented on #86
Is it correct to say that all tests with AVX-512 support fail?

[2020-01-17 15:30] 0x72D0 commented on #86
there's might be an error with the way I launch sde, I don't have any error with function_pool::Threshold while running with -march=native

[2020-01-17 15:32] ihhub commented on #86
Thread pool uses the code from `penguinv.h` file which internally calls SIMD code first and then normal CPU code. Setting `-march=native` means we enable all possible instructions available on CPU.

[2020-01-17 15:32] 0x72D0 commented on #86
@ihhub No, the Maximum, Minimum, AbsoluteDifference, Accumulate, etc. work

[2020-01-17 15:33] 0x72D0 commented on #86
@ihhub there's no avx512 function for the Threshold function

[2020-01-17 15:35] ihhub commented on #86
Let's analyse functions which are implemented by AVX-512. If some functions are passed it might be that we made a mistake in other functions.

Let's ignore **Threshold** function for now and try to fix the rest of functions.

[2020-01-17 15:37] 0x72D0 commented on #86
What I'm trying to say is maybe there's error with the way I launch sde, because function that's suppose to work doesn't

[2020-01-17 15:41] ihhub commented on #86
@0x72D0 I understand. Let's try this way: comment all functions in `function_pool` namespace in unit_test_image_function.cpp file, lines 2574 - 2596. Thereafter, please try to run unit tests again to verify your idea.

[2020-01-18 02:45] ihhub commented on #86
Hi @0x72D0 could you please try to run unit tests with latest code as I added some missing code fro AVX-512?

[2020-01-18 02:47] ihhub commented on #86
Explanation behind failed functions: in unit tests we disable all instruction sets except specific one. In this case we enabled AVX-512 only but we didn't have code in SIMD common function to run AVX-512 code. As a result the function didn't do anything on output image causing tests to fail.

[2020-01-18 02:54] ihhub commented on #554
After the changes we left with:
1. **zlib** installation - 25 seconds
2. **jpeg** installation - 3 minutes
3. **png** installation - 10 seconds

[2020-01-18 07:39] #554 closed

[2020-01-18 19:25] theoniko commented on #600
Hello @ihhub
Could you be a little more specific about the expected example content?
As far as i know the FFT image displays the absolute value (or complex magnitude) of the spatial frequencies found in the image.

[2020-01-22 02:26] ihhub opened #644 "Optimise Bitmap image saving function"
We have Bitmap image saving function `void Save( const std::string & path, const penguinV::Image & image, uint32_t startX, uint32_t startY, uint32_t width, uint32_t height )` which locates in ***src/file/bmp_image.h*** and ***src/file/bmp_image.cpp*** files.

During file saving we purposely copy a line of image to temporary array and then write the array into file. The reason behind this is that B

[2020-01-22 03:17] ihhub commented on #600
We could use FFT to make Gaussian blur:
[code]

I think it should work.

[2020-01-22 03:24] ihhub commented on #600
@theoniko I've created a pull request to simplify above code from:
[code]

into:
[code]

[2020-01-23 05:13] theoniko commented on #600
I will apply those changes at the weekend.

[2020-02-11 09:34] ihhub opened #651 "Use hardware_concurrency() option for thread pool default number of threads"
We can use thread::hardware_concurrency() call to determine the number of available concurrent threads. It's a good choice for developers who don't want to tune the library.

[2020-02-29 12:23] #616 closed

[2020-04-12 06:08] #399 closed

[2020-04-12 06:12] #496 closed

[2020-04-25 12:50] #466 closed

[2020-05-16 08:19] ihhub opened #665 "Add 32-bit compilation stage for Unix platforms"
We miss 32-bit compilation on Unix platforms and we found that for some cases the compilation fails. We want to avoid it in the future.

[2020-05-18 04:35] ihhub commented on #611
Closing this issue as we have real hardware with AVX-512 support.

[2020-05-18 04:35] #611 closed

[2020-05-18 04:37] ihhub commented on #573
Closing this issue as it was addressed in our builds, especially for AppVeyor.

[2020-05-18 04:37] #573 closed

[2020-05-18 04:38] ihhub commented on #486
We're going to try to run this job on GitHub Actions and hopefully we'll fix the problem.

[2020-09-22 22:56] manekenpix commented on #253
I'll give this one a go for this coming Hacktoberfest, if that's ok (sorry about not having worked on it before)

[2020-09-25 01:12] ihhub commented on #253
Sure!

[2020-10-05 15:43] #253 closed

[2020-10-14 17:09] dev-abir commented on #627
I will try this...

we could find a way to do the same for all three Median, Prewitt and Sobel, at the same time.... in a much more generic way.... maybe using templates?

[2020-10-15 03:35] ihhub commented on #627
Hi @dev-abir , sure!

[2020-10-18 04:27] #615 closed

[2020-10-18 07:41] dev-abir commented on #627
Is there any way right now to load 16 bit bitmap images? Or we have to implement it?

[2020-10-18 10:08] ihhub commented on #627
Hi @dev-abir , there is no direct way for now to load 16-bit Bitmap images. We can slightly modify bitmap related code for this.

[2021-01-21 19:10] katmatus opened #677 "Multitype image support release"
Hello, I am currently using your library and it has a lot of useful features, but when do you plan to add multitype image support?

[2021-01-21 23:57] ihhub commented on #677
Hi @katmatus , could you please explain what you mean by multiple image support?

[2021-01-22 09:43] katmatus commented on #677
I mean different types of images

[2021-01-22 09:44] ihhub commented on #677
What do you mean by different types? 8-bit, 16-bit, RGB? Or png, tiff, jpeg?

[2021-01-22 09:47] katmatus commented on #677
float, double?

[2021-01-22 09:49] ihhub commented on #677
There's a pull request just for this 🙂

[2021-01-22 10:29] katmatus commented on #677
Yes I saw it thank you, but when it planed to be merged? :)

[2021-01-22 11:17] ihhub commented on #677
I need to review it again before merging as it was some design issue with this approach.

[2021-01-22 13:35] katmatus commented on #677
Ok, I see, thank you.

[2021-01-22 14:12] ihhub commented on #677
Could you please tell your task of using float type images? Maybe there's a way not to use them at all🙂

[2021-01-22 16:20] katmatus commented on #677
I have library that uses CV_32FC3 OpenCV image for some simple processing. So need for a while to have this image.

[2021-09-30 03:24] manekenpix commented on #644
Can I try this one for `hacktoberfest`?

[2021-09-30 03:36] ihhub commented on #644
Hi @manekenpix , yes you can.

[2021-10-04 10:11] #644 closed

[2021-10-10 02:49] ihhub commented on #369
Hi @Grommers00 , yes, you can.

[2022-10-03 03:48] manekenpix commented on #601
Can I work on this one?

[2022-10-03 03:50] ihhub commented on #601
Hi @manekenpix , sure!

[2022-10-04 15:29] #601 closed

[2022-10-04 16:00] ihhub commented on #567
It is fixed with full code reformatting to a single code style standard.

[2022-10-04 16:00] #567 closed

[2022-10-04 16:00] ihhub commented on #485
Closing this issue as Travis-CI is not longer supported.

[2022-10-04 16:00] #485 closed

[2022-10-04 16:04] ihhub opened #687 "Move documentation to Doxygen comments"
This is not scalable to keep a separate file for documentation. There are many tools in the wild and one of them is Doxygen which is designed just for this purpose.

[2022-10-18 15:54] #604 closed

[2022-10-24 15:29] zafar-hussain commented on #687
hi @ihhub,

I looked into this issue, and a few points  came up, namely

1. multiple Api descriptions documents : can these be renamed eg., cuda's api_description file as cuda_api_description.md, reason is  doxygen parses the directories, it lists all similar named doc together, and causes confusion, or these docs are to be removed.

2. multiple readme.md, same as above. ignore the readme.md in th

[2022-10-24 15:51] ihhub commented on #687
Hi @zafar-hussain , documentation generation in Doxygen is based on comments in the source code. What previously was done is to update the documentation manually which absolutely not a proper approach. Doxygen allows to generate the documentation automatically.

Doxygen can be also configured which types of tiles to be scanned. I think the first step is to add Doxygen as a part of GitHub Actions p

[2022-10-24 16:05] zafar-hussain commented on #687
hi @ihhub

thanks for the reply,

for point 3, I allowed doxygen to parse *.md files too, and it created nice looking help pages from them too,

eg.
![image](https://user-images.githubusercontent.com/7498674/197571783-c5fe4879-a62a-451f-9fb3-99a4e705bd48.png)

[2022-10-28 00:04] ihhub commented on #687
Hi @zafar-hussain , looks great, How would you like to proceed with it?

[2022-10-28 00:06] #605 closed

[2022-10-28 00:08] #408 closed

[2022-10-28 18:44] zafar-hussain commented on #687
Hi @ihhub,

I will work on the documentation over the weekend and would let you know the status by monday

cheers

[2022-10-30 09:22] zafar-hussain commented on #687
Hi @ihhub,

Sorry, I can't work on this project due to lack of time.

Cheers

[2022-10-31 18:47] Ryder17z opened #692 "load image from memory?"
I would like to load an image from memory.

My sources may be base64 encoded so it would be nice to just decode them if necessary and load the contents directly, eliminating the need for a temporary file acting as a buffer.

Is there a way to do this?

[2022-11-01 00:17] ihhub commented on #692
Hi @Ryder17z , since you know the base64 buffer length and possibly width and height, you can just allocate needed size image and get its buffer. Then write / call a function to do decoding of your buffer.